{% extends "base_internal.html" %}


{% block subnav %}{% endblock %}


{% block section_info_title %}{% endblock %}
{% block section_info_subtitle %}{% endblock %}


{% block extra_head_js %}
    <link rel="stylesheet" href="{{ STATIC_URL }}common/jstree/themes/default/style.css" type="text/css" />
    <script src="{{ STATIC_URL }}common/jstree/jstree.js"></script>
{% endblock %}

{% block content %}<br>
    <a name="top"></a>
    <div class="row-fluid">
        <div class="span6 sidebar" style="overflow: scroll;">
            {% block subsubnav %}
            {% endblock %}
        </div>

        <div class="span6" style="position: fixed; right: 50px; top: 50px; height: 100%; overflow-y: scroll; overflow-x: hidden; max-width: 700px;">
            {% block subcontent %}{% endblock %}
        </div>

        <script src="{{ STATIC_URL}}common/js/afl_file_handling.js"></script>
    </div>

{% endblock %}
