{% extends "catalogue_display/base.html" %}

{% load url from future %}

{% block subsubnav %}

<ul id="tab" class="nav nav-list">
    <li class="{% if active_tab == 'sdna_catalogue' %}active{% endif %}"><a href="{% url 'catalogue-display-sdna' %}">SDNA Catalogue <i class="icon-chevron-right icon-grey pull-right"></i></a></li>
    <li class="{% if active_tab == 'evs_log' %}active{% endif %}"><a href="{% url 'catalogue-display-evs' %}">EVS Log Archive <i class="icon-chevron-right icon-grey pull-right"></i></a></li>
    <li class="active"><a href="{% url 'catalogue-completed-dmp' %}">Completed files<i class="icon-chevron-right icon-grey pull-right"></i></a></li>
</ul>

{% endblock %}

{% block subcontent %}
    <div class="form-tab-content">
        <div class="container">
            <h2>Completed Files</h2>

            {% for file in files %}
                {% ifnotequal file ".DS_Store" %}
                    {{ file }}<br>
                {% endifnotequal %}
            {% endfor %}
        </div>
    </div>
{% endblock %}