{% extends "catalogue_display/base.html" %}

{% load url from future %}


{% block extra_head_js %}
    <link rel="stylesheet" href="{{ STATIC_URL }}common/jstree/themes/default/style.css" type="text/css" />
    <script src="{{ STATIC_URL }}common/jstree/jstree.js"></script>
{% endblock %}

{% block content %}
    <br><br>
    <div style="max-width: 700px;">

        <script>
            $().ready(function() {
              $("#display-node-files").html('Loading ... <img src="/static/images/loading.gif" style="width: 150px;">');
              $("#folder-name").text('{{ nodes.name }}');
              $("#selected-folder").val('{{ nodes.pk }}');

              $.get('/get_directory_files/{{ nodes.pk }}/', function (d) {

                    if (parseInt(d.file_count) > 0)
                    {
                        $("#file-button-group").show();
                        $("#display-node-files").html(d.html);
                    }
                    else
                    {
                        $("#file-count").text('[0 files remaining]');
                        $("#file-button-group").hide();
                        $("#display-node-files").html(d.html);
                    }


                });
            });
        </script>

        {% include "catalogue_display/includes/tree.html" %}
    </div>
{% endblock%}