<li>
    <div class="collapsible-header">
        <i class="mdi-file-folder"></i>
        {{ file }}
    </div>
    <div class="collapsible-body padded">
        <ul>
            {% for f in subfiles %}
                {{ f }}
            {% endfor %}
        </ul>
    </div>
</li>