{% extends "catalogue_display/base.html" %}

{% load url from future %}

{% block subsubnav %}
    {% include "catalogue_display/includes/jsmenu.html" %}

{% endblock %}

{% block extra_head_js %}
    <link rel="stylesheet" href="{{ STATIC_URL }}common/jstree/themes/default/style.css" type="text/css" />
    <script src="{{ STATIC_URL }}common/jstree/jstree.js"></script>
{% endblock %}

{% block subcontent %}

    <script>
    $('#directory-menu').jstree({
        'plugins': ['json_data', 'state'],
        'core' : {
            'data': {
                 'url' : function (node) {

                    var nodeId = "";
                    var url = "";

                    return node.id === '#' ?
                        "/get_root_structure/" :
                        "/get_node_children_structure/" + node.id;
                    },

                'data': function (node) {
                    return { 'id': node.id };
                }
            }
        }
    }).on('changed.jstree', function (e, data) {
        if(data && data.selected && data.selected.length) {

            var text = $("#display-node-files").text();
            $("#display-node-files").html('Loading ... <img src="/static/images/loading.gif" style="width: 150px;">');
            var node_text = data.node.text.replace("<span>", "");
            var arr = node_text.split(' -');
            node_text = arr[0];
            $("#folder-name").html(node_text);


            $.get('/get_directory_files/' + (data.node.id+'/'), function (d) {
                if(d) {
                    $("#folder-name").text(d.directory_name);
                    $("#selected-folder").val(d.id);

                    $('#select-folder-options').find("option[value='add_folder']").text('Add Folder "'+ d.directory_name+'" to Bucket');
                    $('#select-folder-options').find("option[value='add_avid_folder']").text('Add Folder "'+ d.directory_name+'" as Avid Project to Bucket');
                    $('#select-folder-options').find("option[value='mark_complete']").text('Mark Folder "'+ d.directory_name+'" Complete');

                    if (parseInt(d.file_count) > 0)
                    {
                        $("#file-count").text('['+d.file_count+' files]');
                        $("#file-button-group").show();
                        $("#display-node-files").html(d.html);
                    }
                    else
                    {
                        $("#file-count").text('[0 files]');
                        $("#file-button-group").hide();
                        $("#display-node-files").html(d.html);
                    }

                }
            });
        }
    }
   );


    </script>

    
    {% include "catalogue_display/includes/tree.html" %}
{% endblock%}