{% extends "catalogue_display/base.html" %}

{% load url from future %}

{% block subsubnav %}

<ul id="tab" class="nav nav-list">
    <li class="active"><a href="#">Select Area</a></li>
    <li class="{% if active_tab == 'sdna_catalogue' %}active{% endif %}"><a href="{% url 'catalogue-display-sdna' %}">SDNA Catalogue <i class="icon-chevron-right icon-grey pull-right"></i></a></li>
    <li class="{% if active_tab == 'evs_log' %}active{% endif %}"><a href="{% url 'catalogue-display-evs' %}">EVS Log Archive <i class="icon-chevron-right icon-grey pull-right"></i></a></li>
</ul>

{% endblock %}

{% block subcontent %}
    <div class="form-tab-content">
        <div class="container">
            <h2>Select Catalogue Area</h2>
        </div>
    </div>
{% endblock %}