/*     LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Evan Brumley for
    WSP Digital
-----------------------------------------------------*/
/* =========== Overall layout =========== */
body {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  padding-top: 0px;
  background-image: url("../../img/bg-tile.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: #1f1f1f;
    overflow-x: hidden;
}
.footer {
  border-top-color: #272727;
  margin-top: 19px;
  padding-top: 30px;
  border-top-width: 2px;
}




/* =========== Headings =========== */
h1 {
  margin: 0;
  color: #1f4284;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  margin: 0;
  color: #1f4284;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}
h2 small {
  font-size: 18px;
}
h3 {
  margin: 0;
  color: #1f4284;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h3.subheading {
  color: #1f4284;
  margin-top: -10px;
  margin-bottom: 30px;
}
h4 {
  margin: 0;
  color: #1f4284;
  line-height: 18px;
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  margin: 0;
  color: #000000;
  line-height: 20px;
  font-size: 12px;
}
h6 {
  margin: 0;
  color: #1f4284;
  line-height: 18px;
  font-size: 11px;
}
.heading-help-activator {
  width: 16px;
  height: 16px;
  padding-left: 4px;
  background-image: url("../../img/glyphicons-halflings.png");
  background-position: -113px -92px;
  opacity: 0.7;
  color: transparent;
}
.heading-help-activator:hover {
  text-decoration: none;
}
/* =========== Horizontal rules =========== */
hr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ffffff;
}
hr.dark {
  border-color: #272727;
}
.hr-ornament {
  clear: both;
  height: 25px;
  margin: 14px 0;
  background: url("../../img/hr-ornament.png") 50% 50% no-repeat;
}
/* =========== Buttons =========== */
.btn {
  padding: 4px 10px;
}
.btn.btn-large {
  padding: 9px 14px;
}
.btn.btn-small {
  padding: 3px 9px;
}
.btn.btn-mini {
  padding: 0px 6px;
}
/* =========== Breadcrumbs =========== */
.breadcrumb {
  background: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
/* =========== Modals =========== */
.modal-spinner {
  text-align: center;
  padding: 16px 0;
}
.modal-spinner span {
  font-style: italic;
  display: block;
  text-align: center;
  margin-top: 10px;
}
/* =========== Popovers =========== */
.popover {
  margin-right: 3px;
}
.popover-title {
  background-color: #2f2f2f;
  color: #f5f5f5;
  font-size: 1em;
  line-height: 1.4em;
}
/* =========== Tooltips =========== */
.tooltip-inner {
  background-color: #f9f9f9;
  color: #333;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #f9f9f9;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #f9f9f9;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #f9f9f9;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f9f9f9;
}
/* =========== Theme Switcher =========== */
.theme-switcher {
  margin-top: 12px;
  display: block;
  height: 16px;
  width: 16px;
  background: url("../../img/lightbulb_off.png");
  margin-left: 20px;
  outline: 0;
  text-decoration: none;
}
.theme-switcher:hover {
  text-decoration: none;
}
.theme-switcher:focus {
  outline: 0;
}
/* =========== Vanishing Tabs =========== */
.vanishing-tabs {
  display: inline;
  margin: 0;
}
.vanishing-tabs li {
  display: inline;
}
.vanishing-tabs li.active {
  display: none;
}
/* =========== Maps =========== */
.map-canvas img {
  max-width: none !important;
}
/* =========== Notifications =========== */
.notification {
  z-index: 99999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border: 2px solid #1f1f1f;
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 32px;
  line-height: 32px;
  min-width: 112px;
  font-size: 1.2em;
}
.notification .spinner {
  margin-right: 5px;
}
.notification.notification-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}
.notification.notification-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}
/* =========== Definitions =========== */
.definition {
  color: #80c625;
  border-bottom: 1px dotted #555;
  cursor: help;
}
.definition:hover {
  text-decoration: none;
}
/* =========== Status Indicators =========== */
.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.status-indicator-green {
  background-color: #80c625;
}
.status-indicator-yellow {
  background-color: #ffcb16;
}
.status-indicator-red {
  background-color: #ff3333;
}
.status-indicator-grey {
  background-color: #cccccc;
}
.sidebar-status-indicator-container {
  padding: 10px 15px;
  background-color: #e9e9e9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 5px;
}
.sidebar-status-indicator-container .status-indicator {
  margin-right: 5px;
}
/* =========== Utility Classes =========== */
.full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* =========== Dirty Hacks =========== */
/* TODO: Fix properly - this will break any actual fluid row 
** if we decide to put in full-width pages later on */
.row-fluid {
  overflow: hidden;
}
.btn:focus {
  outline: 0 !important;
}
.btn::-moz-focus-inner {
  border: 0 !important;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Evan Brumley for
    WSP Digital
-----------------------------------------------------*/
/* =========== Dashboard =========== */
.ns-dashboard .sidebar-header {
  text-align: center;
  color: #333;
  background: #f0f0f0;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-dashboard .organisation-logo {
  margin-bottom: 0;
}
.ns-dashboard .organisation-logo h2 {
  color: #1f4284;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin-bottom: 0;
  border-radius: 10px;
}
.ns-dashboard .partially-complete-incidents-message {
  padding: 4px 15px;
  background-color: #CCCCCC;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-dashboard .partially-complete-incidents-message i {
  margin-right: 5px;
}
.ns-dashboard .sidebar-incident-list {
  list-style-type: none;
  margin: 0 0 20px 0;
}
.ns-dashboard .sidebar-incident-list li {
  padding: 10px 15px;
  background-color: #e9e9e9;
  border-bottom: 1px solid #cccccc;
}
.ns-dashboard .sidebar-incident-list li .incident-status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-right: 4px;
}
.ns-dashboard .sidebar-incident-list li .incident-status-indicator-partially-complete {
  background-color: #ffcb16;
}
.ns-dashboard .chart {
  background: url("../../img/spinner.gif") no-repeat center center #f5f5f5;
  min-height: 300px;
}
.ns-dashboard .chart-thumbnail {
  background: #f5f5f5;
}
.ns-dashboard .chart-thumbnail .caption {
  width: 100%;
  text-align: center;
  padding: 5px 0px 8px 0px;
}
.ns-dashboard .chart-thumbnail .caption h5 {
  font-size: 1.2em;
  font-weight: normal;
}
.ns-dashboard .thumbnail-with-actions {
  position: relative;
}
.ns-dashboard .thumbnail-actions {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 2;
}
.ns-dashboard .datum-box {
  font-size: 1.2em;
  line-height: 1em;
  margin: 0 0 10px 0;
  text-align: left;
}
.ns-dashboard .datum-box-label {
  float: left;
  margin-right: 10px;
}
.ns-dashboard .datum-box-datum {
  color: #8cc63f;
}
.ns-dashboard .kpi-return-status {
  padding: 10px 15px;
  background-color: #e9e9e9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 5px;
}
.ns-dashboard .kpi-status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-dashboard .kpi-status-indicator-complete {
  background-color: #80c625;
}
.ns-dashboard .kpi-status-indicator-partially-complete {
  background-color: #ffcb16;
}
.ns-dashboard .kpi-status-indicator-incomplete {
  background-color: #ff3333;
}
.ns-dashboard .kpi-return-status .kpi-status-indicator {
  margin-right: 5px;
}
.ns-dashboard .filters-title {
  font-size: 1em;
  float: left;
  margin: 0px 10px 9px 0;
  font-size: 1.2em;
  padding-top: 4px;
  color: #999999;
}
.ns-dashboard .btn-filter {
  margin-left: 0 !important;
  background: #f0f0f0;
}
.ns-dashboard .btn-filter input[type="checkbox"] {
  margin-top: -4px;
  margin-right: 8px;
}
.ns-dashboard .btn-group {
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 8px;
}
.ns-dashboard .pseudo-checkbox {
  background: url("../../img/checkbox-sprite.png") 0 0;
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-right: 6px;
}
.ns-dashboard .pseudo-checkbox.checked {
  background: url("../../img/checkbox-sprite.png") 13px 0;
}
.ns-dashboard .sites-dropdown-site small {
  color: #aaa;
}
.ns-dashboard .sites-dropdown-site:hover small {
  color: #eee;
}
.ns-dashboard .inbox-header {
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ccc;
  padding: 0px 15px;
  color: #555;
}
.ns-dashboard .empty-inbox-message {
  display: block;
  padding: 20px 15px;
  background-color: #e9e9e9;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  color: #333;
}
.ns-dashboard .message {
  display: block;
  padding: 10px 15px;
  background-color: #e9e9e9;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  color: #333;
}
.ns-dashboard .message:hover {
  background-color: #e0e0e0;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.ns-dashboard .message i {
  margin-right: 5px;
}
.ns-dashboard .message .message-icon {
  float: left;
}
.ns-dashboard .message .message-content {
  padding-left: 23px;
}
.ns-dashboard .message .message-content .message-date {
  font-size: 0.8em;
}
.ns-dashboard .inbox-footer {
  border: 1px solid #ccc;
  border-width-top: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ccc;
  padding: 0px 15px 3px 15px;
  color: #555;
}
.ns-dashboard .inbox-footer a {
  color: #555;
  font-style: italic;
}
.ns-dashboard .big-value {
  color: #444;
  margin-top: 5px;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px 0 20px 0;
}
.logo-background {
  background: url("../../img/aca_logo.png") no-repeat;
  background-size: auto auto;
  min-height: 500px;
}
.dashboard-meter {
  height: 25px;
  width: 400px;
  margin-bottom: -4px;
  border-radius: 5px;
}
.dashboard-meter-text {
  color: #80c625;
  font-size: 16px;
  font-weight: bold;
}
.logo-background-small {
  background: url("../../img/aca_logo.png") no-repeat;
  background-size: auto 200px ;
  height: 200px;
}
.login-shift {
  padding-left: 100px;
  padding-top: 5px;
}
.new-participant {
  margin-left: 450px;
  margin-top: 150px;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  background: #0e90d2;
  width: 200px;
  padding: 5px;
  cursor: pointer;
}
.login-front {
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  background: #0e90d2;
  width: 200px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Evan Brumley for
    WSP Digital
-----------------------------------------------------*/
.ns-external {
  /* =========== Choose an organisation =========== */

  /* =========== Get Involved =========== */

  /* =========== Tooltips =========== */

}
.ns-external .container-left {
  margin-top: -20px;
  left: 0px;
  width: 100%;
}
.ns-external .landing-container {
  background: #ffffff url(../../img/white-leaves.png) repeat-x;
  width: 100%;
  margin-top: 0px;
}
.ns-external .landing-container h2 {
  color: #1f4284;
}
.ns-external .landing-container p {
  color: #777;
}
.ns-external .landing-container a {
  color: #5baadf;
}
.ns-external .landing-container .footer p {
  color: #555;
  font-weight: normal;
}
.ns-external h5 {
  margin: 0;
  color: #000000;
  line-height: 28px;
  font-size: 20px;
}
.ns-external input[type="checkbox"] {
  margin-top: -3px;
}
.ns-external div .form_error label {
  color: #b22222 !important;
}
.ns-external div .form_error input {
  border: 1px solid #b22222;
}
.ns-external .logo-header {
  height: 300px;
  width: 100%;
  background: #67bff8;
  background: -moz-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67bff8), color-stop(100%, #d5edfd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #67bff8 0%, #d5edfd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bff8', endColorstr='#d5edfd', GradientType=0);
  /* IE6-9 */

  border-bottom: 1px solid #5baadf;
}
.ns-external .white-leaves {
  background: url(../../img/white-leaves.png) repeat-x;
  height: 300px;
}
.ns-external .blue-leaves-landing-footer {
  margin-top: -35px;
  background: #ffffff url(../../img/blue-leaves-landing-footer.png) no-repeat;
  height: 200px;
  padding-top: 35px;
  background-position: top right;
}

.ns-external .logo-header img {
  padding-top: 40px;
  padding-left: 30px;
  height: 200px;
}
.ns-external .login-form {
  width: 100%;
  text-align: center;
}
.ns-external .login-body {
  background: #f3f3f3;
  min-height: 300px;
  border: 1px solid #5baadf;
  border-top: none;
  border-left: none;
  width: 100%;
}
.ns-external .login-member-link {
  font-size: 12px;
  color: #5ca9dd;
  margin-left: 100px;
  font-weight: normal;
}
.ns-external .login-member-link a {
  color: #5ca9dd;
  text-decoration: underline;
}
.ns-external .login-header {
  font-size: 20px;
  color: #214483;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-left: 100px;
  font-weight: bold;
}
.ns-external .login-label {
  font-size: 13px;
  color: #214483;
}
.ns-external .login-input {
  border: 1px solid #cfcfcf;
  border-left: none;
}
.ns-external .login-icon-input {
  border: 1px solid #cfcfcf;
  border-right: none;
  background: #ffffff;
}
.ns-external .login-button {
  margin-top: 10px;
  background: #f8fafd;
  width: 80px;
  border-radius: 8px;
  border: 2px solid #b9c9d4;
  height: 18px;
  color: #214483 !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ns-external .login-remember-me {
  color: #bcb9b9;
  font-size: 12px;
  margin-left: 200px;
  margin-top: -28px;
}
.ns-external .login-shift {
  margin-left: -110px;
  padding-top: 5px;
}
.ns-external .register-body {
  background: #f3f3f3;
  min-height: 300px;
  border: 1px solid #5baadf;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.ns-external .masthead-logo {
  font-size: 0;
  background: url("../../img/logo-desktop-light.png") 0 0 no-repeat;
  height: 150px;
  margin-bottom: 20px;
}
.ns-external .masthead-description {
  font-size: 1.3em;
  line-height: 1.3em;
  color: #777;
}
.ns-external .masthead-thumbnails {
  margin-top: 30px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail {
  color: #777;
  height: 170px;
  background-image: url("../../img/formbg.png");
  background-color: #222;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid #222222;
  padding: 5px 20px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail p {
  text-align: center;
}
.ns-external .masthead-thumbnails .masthead-thumbnail h3 {
  color: #999;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: bold;
  text-align: center;
}
.ns-external .masthead-thumbnails .masthead-thumbnail .knowmore-icon {
  margin: 10px auto 0 auto;
  background-image: url("../../img/landing/knowmore_sprite.png");
  width: 50px;
  height: 49px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail .existingmember-icon {
  margin: 10px auto 0 auto;
  background-image: url("../../img/landing/existingmember_sprite.png");
  width: 100px;
  height: 50px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail .safetyalerts-icon {
  margin: 10px auto 0 auto;
  background-image: url("../../img/landing/reportincident_sprite.png");
  width: 100px;
  height: 50px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail .getinvolved-icon {
  margin: 10px auto 0 auto;
  background-image: url("../../img/landing/getinvolved_sprite.png");
  width: 100px;
  height: 50px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail:hover {
  color: #aaa;
  text-decoration: none;
  border-color: #80c625;
  background-color: #272727;
}
.ns-external .masthead-thumbnails .masthead-thumbnail:hover h3 {
  color: #b5b5b5;
}
.ns-external .masthead-thumbnails .masthead-thumbnail:hover .knowmore-icon {
  background-position: 0px 48px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail:hover .existingmember-icon {
  background-position: 0px 49px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail:hover .safetyalerts-icon {
  background-position: 0px 50px;
}
.ns-external .masthead-thumbnails .masthead-thumbnail:hover .getinvolved-icon {
  background-position: 0px 48px;
}
.ns-external .organisation-chooser {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}
.ns-external .organisation-chooser li {
  text-align: center;
  margin-bottom: 10px;
}
.ns-external .organisation-chooser li a {
  display: block;
  width: 350px;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 5px 15px;
  margin: 0 auto;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-external .organisation-chooser li a:hover {
  border: 1px solid #8cc63f;
  background-color: #f0f0f0;
  text-decoration: none;
}
.ns-external .ticket-code {
  color: #eee;
  font-size: 1.2em;
}
.ns-external .step-list {
  list-style-type: none;
  margin: 0;
  font-size: 1.2em;
}
.ns-external .step-list li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #777;
}
.padded {
    padding: 20px;
}

.folder-colouring-active {
    text-shadow: none;
    color: #ffffff !important;
}

.folder-colouring-active a {
    text-shadow: none;
    color: #ffffff !important;
}

.folder-colouring-active a:hover {
    text-shadow: none;
    color: navy !important;
}

.folder-colouring-active i {
    text-shadow: none;
    vertical-align: middle !important;
}


/**/

.ns-external .step-list li .step-marker {
  display: block;
  float: left;
  background-image: url("../../img/step-marker-light-sprite.png");
  width: 30px;
  height: 30px;
  margin-right: 17px;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  color: #242424;
  font-weight: bold;
}
.ns-external .step-list li.complete .step-marker {
  background-image: url("../../img/step-marker-light-sprite.png");
  background-position: 30px 0;
  color: transparent;
}
.ns-external .step-list.affix {
  top: 90px;
}
.ns-external .form-external {
  margin-top: 20px;
}
.ns-external .form-external .form-help-activator {
  background-image: url("../../img/glyphicons-halflings-white.png");
}
.ns-external .form-external .control-group.error > label {
  color: #999;
}
.ns-external .form-external .control-group.error .checkbox,
.ns-external .form-external .control-group.error .radio,
.ns-external .form-external .control-group.error input,
.ns-external .form-external .control-group.error select,
.ns-external .form-external .control-group.error textarea {
  color: #555555;
}
.ns-external .form-external .control-group.error input:-moz-placeholder,
.ns-external .form-external .control-group.error textarea:-moz-placeholder {
  color: #999999;
}
.ns-external .form-external .control-group.error input:-ms-input-placeholder,
.ns-external .form-external .control-group.error textarea:-ms-input-placeholder {
  color: #999999;
}
.ns-external .form-external .control-group.error input::-webkit-input-placeholder,
.ns-external .form-external .control-group.error textarea::-webkit-input-placeholder {
  color: #999999;
}
.ns-external .form-external .control-group.error input[type="submit"] {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ns-external .form-external .control-label,
.ns-external .form-external label {
  text-align: left;
  color: #999;
}
.ns-external .form-external .control-group .controls ul {
  margin-top: 8px;
}
.ns-external .form-external input[type="text"],
.ns-external .form-external select {
  background-color: #ddd;
  font-size: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
}
.ns-external .form-external textarea {
  background-color: #ddd;
  font-size: 1.3em;
  line-height: 1.3em;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.ns-external .form-external select {
  height: 2em;
}
.ns-external .form-external ul {
  margin: 0;
}
.ns-external .form-external li {
  list-style-type: none;
}
.ns-external .form-external li label {
  color: #777;
}
.ns-external .form-external li label input {
  margin-right: 9px;
}
.ns-external .form-external .horizontal-choices ul {
  margin-top: 7px;
  margin-left: 20px;
}
.ns-external .form-external .horizontal-choices ul li {
  float: left;
}
.ns-external .form-external .horizontal-choices ul li label {
  float: left;
  margin-right: 20px;
}
.ns-external .form-external .horizontal-choices ul li label input {
  margin-right: 5px;
  margin-top: 3px;
}
.ns-external .form-external .chzn-container .chzn-single {
  height: 1.8em;
  font-size: 1.3em;
  line-height: 1.8em;
  background-image: none;
  background-color: #ddd;
  color: #555;
}
.ns-external .form-external .chzn-container .chzn-single div {
  top: 0.2em;
}
.ns-external .form-external .chzn-container .chzn-default {
  color: #999999;
}
.ns-external .form-external .chzn-container .chzn-drop {
  background-color: #ddd;
}
.ns-external .form-external .chzn-container .chzn-results .group-result {
  color: #777777;
}
.ns-external .form-external .icon-info-sign {
  background-image: url("../../img/glyphicons-halflings-white.png");
}
.ns-external .form-external .form-section-header {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.ns-external .form-external .form-section-well {
  background-color: #292929;
  background-image: url("../../img/formbg.png");
  border-color: #555;
  padding-bottom: 5px;
}
.ns-external .form-external .form-section-well p {
  color: #888;
}
.ns-external .form-external .form-section-well hr {
  border-color: #5baadf;
}
.ns-external .form-external .terms-and-conditions {
  background-color: #333;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-top: 15px;
  margin-bottom: 22px;
}
.ns-external .form-external .terms-and-conditions h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
}
.ns-external .form-external .terms-and-conditions h3:first-child {
  margin-top: 0;
}
.ns-external .form-external .terms-and-conditions p {
  color: #999;
}
.ns-external .form-external .terms-and-conditions ul {
  margin-left: 20px;
  margin-bottom: 9px;
}
.ns-external .form-external .terms-and-conditions ul li {
  list-style-type: disc;
  color: #999;
  margin-bottom: 3px;
}
.ns-external .form-external .terms-and-conditions-accept {
  margin-bottom: 15px;
}
.ns-external .form-external .terms-and-conditions-accept input {
  margin-top: -1px;
  margin-right: 7px;
  margin-left: 4px;
}
.ns-external .out-of-office-message {
  color: #f0f0f0;
}
.ns-external .tooltip-inner {
  background-color: #f9f9f9;
  color: #555;
}
.ns-external .tooltip.top .tooltip-arrow {
  border-top-color: #f9f9f9;
}
.ns-external .tooltip.right .tooltip-arrow {
  border-right-color: #f9f9f9;
}
.ns-external .tooltip.left .tooltip-arrow {
  border-left-color: #f9f9f9;
}
.ns-external .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #f9f9f9;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Evan Brumley for
    WSP Digital
-----------------------------------------------------*/
.ns-internal {
  /* =========== Header =========== */

  /* =========== Section info =========== */

  /* =========== Main Content Area =========== */

  /* Progress tracker
-------------------------------------------------- */

  /* Comments
-------------------------------------------------- */

  /* =========== Sidebars =========== */

  /* =========== List Views =========== */

  /* =========== Details Views =========== */

  /* =========== Tooltips =========== */

  /* =========== Modals =========== */

}
.ns-internal .comment-meta {
  margin-bottom: 5px;
}
.ns-internal .comment-user {
  font-weight: bold;
  text-align: center;
}
.ns-internal .comment-list {
  margin-bottom: 10px;
}
.ns-internal .comment-delete-button {
  margin-top: -2px;
}
.ns-internal .internal-logo {
  font-size: 0;
  height: 79px;
  width: 299px;
  background: url("../../img/logo-small-light.png") 0 0 no-repeat transparent;
}
.ns-internal .landing-container {
  background: url(../../img/white-leaves.png) repeat-x;
  width: 100%;
  margin-top: -20px;
}
.ns-internal .landing-container h2 {
  color: #1f4284;
}
.ns-internal .landing-container p {
  color: #777;
}
.ns-internal .landing-container a {
  color: #214483;
}
.ns-internal .landing-container .footer p {
  color: #555;
  font-weight: normal;
}
.ns-internal .logo-header {
  height: 250px;
  width: 100%;
  background: #67bff8;
  background: -moz-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67bff8), color-stop(100%, #d5edfd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #67bff8 0%, #d5edfd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bff8', endColorstr='#d5edfd', GradientType=0);
  /* IE6-9 */

  border-bottom: 1px solid #67bff8;
}
.ns-internal h5 {
  margin: 0;
  color: #000000;
  line-height: 28px;
  font-size: 20px;
}
.ns-internal .logo-header img {
  padding-top: 40px;
  padding-left: 30px;
  height: 180px;
}
.ns-internal .white-leaves {
  background: url(../../img/white-leaves.png) repeat-x;
  height: 250px;
}
.ns-internal .blue-leaves-landing-footer {
  border-top: 1px solid #67bff8;
  margin-top: -35px;
  background: url(../../img/blue-leaves-landing-footer.png) no-repeat;
  height: 200px;
  padding-top: 35px;
}
.ns-internal .section-info {
  padding-top: 10px;
}
.ns-internal .section-info h1 {
  color: #777;
  font-family: HelveticaNeue;
  font-weight: normal;
  margin-top: 10px;
  text-align: right;
}
.ns-internal .section-info .section-info-subtitle {
  color: #666;
  text-align: right;
}
.ns-internal .section-info .section-info-image {
  margin-left: 10px;
  margin-top: 4px;
  padding: 2px;
  border: 1px solid #555;
}
.ns-internal .application-question {
  font-size: 16px;
}
.ns-internal .notifications-well {
  min-height: 20px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #999999;
  border: 1px solid #999999;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px #999999;
  color: #333333;
  font-size: 11px;
}
.ns-internal .notifications-well blockquote {
  border-color: #fff;
  border-color: rgba(0, 0, 0, 0.15);
}
.ns-internal .notifications-well-large {
  min-height: 20px;
  width: 580px;
  margin-bottom: 20px;
  background-color: #bababa;
  border: 1px solid #bababa;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 5px #ccc;
}
.ns-internal .notifications-well-large blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.ns-internal .notifications-header {
  padding: 19px;
  color: #555555;
  font-size: 20px;
  padding-left: 12px;
  box-shadow: 0px 3px 5px #bababa;
  border: 1px solid #bababa;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.ns-internal .notifications-item {
  background: #eeeeee;
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;
}
.ns-internal .notifications-show-all {
  background: #bababa;
  padding: 10px;
  text-align: center;
  color: #000000;
}
.ns-internal .notifications-show-all a {
  color: #000000;
}
.ns-internal div .error label {
  color: #b22222 !important;
}
.ns-internal div .error input {
  border: 1px solid #b22222;
}
.ns-internal .display_none {
  display: none;
}
.ns-internal .form-tab-content {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 30px 30px 30px 30px;
  -webkit-box-shadow: 0px 3px 5px #ccc;
  -moz-box-shadow: 0px 3px 5px #ccc;
  box-shadow: 3px 2px 5px #ccc;

}

.ns-internal ul.progress-tracker {
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

.ns-internal .progress-tracker li {
  float: left;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #efefef;
  color: #9a9a9a;
  width: 115px;
  height: 36px;
  font-size: 12px;
}
.ns-internal .progress-tracker li.filler {
  float: none;
  overflow: hidden;
  width: auto;
  margin-right: 0;
}

.ns-internal .progress-tracker li.active {
  background-color: #cee7ff;
  /* light blue */

  color: #333;
}
.ns-internal .progress-tracker li.active .progress-tracker-entry-icon {
  opacity: 0.8;
}
.ns-internal .progress-tracker li.progress-tracker-draft-stage,
.ns-internal li.progress-tracker-approved-stage {
  width: 110px;
}
.ns-internal .progress-tracker-entry-icon {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  opacity: 0.40;
}
.ns-internal .progress-tracker-entry-name {
  font-size: 0.8em;
  display: block;
}
.ns-internal .progress-tracker-entry-description {
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
}
.ns-internal .comment-meta {
  margin-bottom: 5px;
}
.ns-internal .comment-user {
  font-weight: bold;
}
.ns-internal .comment-list {
  margin-bottom: 10px;
}
.ns-internal .comment-delete-button {
  margin-top: -2px;
}
.ns-internal .summary-group {
  border: 1px solid #d3d3d3;
  background: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
}
.ns-internal input[type="checkbox"] {
  margin-top: -3px;
}
.ns-internal .internal-container {
  margin-top: 0px;
  background: #ffffff;
  width: 90%;
}
.ns-internal .internal-menu-link {
  background: #ffffff;
  color: #214483;
  margin-top: 10px;
  padding: 5px;
  padding-top: 0;
  font-size: 15px;
  margin-left: 32px;
  font-weight: bold;
}
.ns-internal .internal-menu a {
  text-decoration: none;
}
.ns-internal .internal-menu a:hover {
  color: #152b52;
}
.ns-internal .blue-tick {
  color: #214483;
}
.ns-internal .yellow-tick {
  color: #ffcb16 !important;
}
.ns-internal .green-tick {
  color: #80c625;
}
.ns-internal .red-tick {
  color: #ff3333;
}
.ns-internal .internal-menu .active {
  background: #ffffff;
  background-size: 30px auto;
  color: #214483;
  margin-top: 10px;
  padding: 5px;
  padding-top: 0;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 0px 3px 0px #5baadf;
}
.ns-internal .guidance-document {
  position: absolute;
  top: 230px;
  right: 20px;
  text-align: center;
}
.ns-internal .guidance-document a {
  color: #fff;
}

.ns-internal .airport-logo {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #214483;
  font-size: 20px;
}
.ns-internal .internal-content {
  margin-top: 0px;
  background: #ffffff;
  padding: 0px 10px 10px 20px;
}
.ns-internal .uploadify {
  position: relative;
  margin-bottom: 1em;
}
.ns-internal .uploadify-button {
  background-color: #505050;
  background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #707070));
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #808080;
  color: #FFF;
  font: bold 12px Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}
.ns-internal .uploadify:hover .uploadify-button {
  background-color: #606060;
  background-image: linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #606060), color-stop(1, #808080));
  background-position: center bottom;
}
.ns-internal .uploadify-button.disabled {
  background-color: #D0D0D0;
  color: #808080;
}
.ns-internal .tab-container {
  margin-top: 30px;
}
.ns-internal .tab-container .container-tabs {
  margin-bottom: 0;
  border-bottom: none;
}
.ns-internal .tab-container .container-tabs li a {
  background-color: #333;
  border-bottom: none;
  color: #777;
  margin-right: 2px;
  margin-bottom: 1px;
}
.ns-internal .tab-container .container-tabs li a:hover {
  background-color: #444;
  border-color: #555;
  color: #999;
}
.ns-internal .tab-container .container-tabs li.active {
  border-bottom: none;
}
.ns-internal .tab-container .container-tabs li.active:hover {
  border-bottom: none;
}
.ns-internal .tab-container .container-tabs li.active a {
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}
.ns-internal .tab-container .container-tabs li.active a:hover {
  border-bottom: 1px solid #ffffff;
  color: #999;
}
.ns-internal .fixed-sidebar-4.affix {
  top: 63px;
}
.ns-internal .sidebar .nav-list {
  padding: 0;
  margin-bottom: 15px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.ns-internal .sidebar .nav-list > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.ns-internal .sidebar .nav-list > li:first-child > a {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal .sidebar .nav-list > li:last-child > a {
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal .sidebar .nav-list > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
}
.ns-internal .sidebar .organisation-logo {
  margin-bottom: 0px;
}
.ns-internal .sidebar .subnav-list > li > a {
  padding: 8px 14px;
}
.ns-internal .sidebar .subnav-list > .active > a {
  background-color: #999;
  padding: 8px 15px;
}
.ns-internal .sidebar .subnav-list > .active > a:hover {
  background-color: #999;
}
.ns-internal .results-table {
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.ns-internal .clickable-rows {
  cursor: pointer;
}
.ns-internal .people-list-avatar img {
  background-color: white;
  padding: 2px;
  border: 1px solid #dddddd;
}
.ns-internal .details-box {
  background-color: white;
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal .details-box h3 {
  font-size: 1.4em;
  text-align: left;
  background-color: #f0f0f0;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.065);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 4px;
  padding: 3px;
}
.ns-internal .details-box.details-box-map h3 {
  margin-bottom: 8px;
}
.ns-internal .details-box.details-box-map .map-canvas {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal .details-box table {
  margin-bottom: 0;
}
.ns-internal .details-box table tr th {
  border-top: 1px dotted #ddd;
  color: #555555;
  min-width: 180px;
}
.ns-internal .details-box table tr td {
  border-top: 1px dotted #ddd;
}
.ns-internal .details-box table tr:first-child th,
.ns-internal .details-box table tr:first-child td {
  border-top: none;
}
.ns-internal .details-box.details-box-complete h3 {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}
.ns-internal .details-box.details-box-incomplete h3 {
  background-color: #FCF8E3;
  border-color: #FBEED5;
  color: #C09853;
}
.ns-internal .details-box .attachment-link {
  display: inline-block;
  padding: 3px 10px;
  background-color: #f9f9f9;
  color: #333;
  border: 1px solid #bbb;
  margin-bottom: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal .details-box .attachment-link:hover {
  text-decoration: none;
  border-color: #80c625;
}
.ns-internal .details-table {
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.ns-internal .details-table thead th {
  text-align: center;
  font-size: 1.2em;
  background-color: #eee;
}
.ns-internal .details-notification-list {
  margin: 10px 0 0 0;
  list-style-type: none;
}
.ns-internal .details-notification-list li {
  padding: 5px 10px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ns-internal .details-notification-list .warning-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url("../../img/warning-icon.png") 0 0 no-repeat;
}
.ns-internal .details-notification-list .error-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url("../../img/error-icon.png") 0 0 no-repeat;
}
.ns-internal .user-box {
  font-size: 0.8em;
}
.ns-internal .user-box-avatar {
  float: left;
  margin-right: 10px;
  border: 1px solid #ddd;
  width: 33px;
  height: 33px;
}
.ns-internal .user-box-name-and-role {
  margin-top: 1px;
}
.ns-internal .user-box-name {
  font-weight: bold;
}
.ns-internal .user-box-email {
  margin-top: -3px;
}
.ns-internal .application-attachment {
  height: 30px;
  margin: 4px;
}
.ns-internal .attachment-uploader {
  margin-top: 10px;
}
.ns-internal .attachment-list .application-attachment {
  margin-bottom: 10px;
  display: block;
}
.ns-internal .attachment-list .application-attachment a.attachment-download-link {
  display: block;
  padding: 7px 10px;
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  color: #333;
  margin-right: 50px;
}
.ns-internal .attachment-list .application-attachment a.attachment-download-link:hover {
  border-color: #214483;
  text-decoration: none;
}
.ns-internal .attachment-list .application-attachment a.attachment-delete-link {
  float: right;
  width: 16px;
  margin-top: -32px;
}
.ns-internal .attachment-list .application-attachment .attachment-share-link {
  float: right;
  width: 125px;
  margin-top: -32px;
  margin-right: 70px;
}
.ns-internal .new-attachment-list .application-attachment {
  margin-bottom: 10px;
  display: block;
}
.ns-internal .new-attachment-list .application-attachment a.attachment-download-link {
  display: block;
  padding: 7px 10px;
  background-color: #c6e1f4;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  color: #333;
  margin-right: 50px;
}
.ns-internal .new-attachment-list .application-attachment a.attachment-download-link:hover {
  border-color: #214483;
  text-decoration: none;
}
.ns-internal .new-attachment-list .application-attachment a.attachment-delete-link {
  float: right;
  width: 16px;
  margin-top: -32px;
}
.ns-internal .new-attachment-list .application-attachment.attachment-share-link {
  float: right;
  width: 25px;
  margin-top: -32px;
}
.ns-internal .new-comment-form {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
.ns-internal .question-response-view {
  min-height: 40px;
  display: block;
  padding: 7px 10px;
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  color: #333;
  margin-right: 50px;
  margin-bottom: 10px;
}
.ns-internal .question-response-view:hover {
  border-color: #214483;
  text-decoration: none;
}
.ns-internal .tooltip-inner {
  background-color: #333333;
  color: #ddd;
}
.ns-internal .tooltip.top .tooltip-arrow {
  border-top-color: #333333;
}
.ns-internal .tooltip.right .tooltip-arrow {
  border-right-color: #333333;
}
.ns-internal .tooltip.left .tooltip-arrow {
  border-left-color: #333333;
}
.ns-internal .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #333333;
}
.ns-internal .definition {
  color: #0088CC;
}
.ns-internal .modal-content-centered {
  text-align: center;
  margin: 20px 0 20px 0;
}

.error,
.alert,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error,
.alert {
  background: #fbe3e4 !important;
  color: #8a1f11 !important;
  border-color: #fbc2c4 !important;
}
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.success {
  background: #e6efc2 !important;
  color: #264409 !important;
  border-color: #c6d880 !important;
}
.info {
  background: #d5edf8 !important;
  color: #205791 !important;
  border-color: #92cae4 !important;
}
.error a,
.alert a {
  color: #8a1f11 !important;
}
.notice a {
  color: #514721 !important;
}
.success a {
  color: #264409 !important;
}
.info a {
  color: #205791 !important;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Evan Brumley for
    WSP Digital
-----------------------------------------------------*/
.theme-light {
  background: url("../../img/leaf_trans.png") repeat-x fixed #ffffff;
}
.theme-light h3 {
  color: #1f4284;
}
.theme-light .theme-switcher {
  background: url("../../img/lightbulb.png");
}
.theme-light .popover h3 {
  color: #f5f5f5;
}
.theme-light.ns-external {
  /* =========== Tooltips =========== */

}
.theme-light.ns-external hr.dark {
  border-color: #eee;
}
.theme-light.ns-external .landing-container h2 {
  color: #1f4284;
}
.theme-light.ns-external .landing-container p {
  color: #777777;
}
.theme-light.ns-external .masthead-logo {
  font-size: 0;
  background: url("../../img/logo-desktop.png") 0 0 no-repeat;
  height: 150px;
  margin-bottom: 20px;
}
.theme-light.ns-external .masthead-thumbnails .masthead-thumbnail {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.theme-light.ns-external .masthead-thumbnails .masthead-thumbnail:hover {
  border: 1px solid #999;
}
.theme-light.ns-external .masthead-thumbnails .masthead-thumbnail:hover h3 {
  color: #555;
}
.theme-light.ns-external .masthead-thumbnails .masthead-thumbnail:hover p {
  color: #333;
}
.theme-light.ns-external .tooltip-inner {
  background-color: #333333;
  color: #ddd;
}
.theme-light.ns-external .tooltip.top .tooltip-arrow {
  border-top-color: #333333;
}
.theme-light.ns-external .tooltip.right .tooltip-arrow {
  border-right-color: #333333;
}
.theme-light.ns-external .tooltip.left .tooltip-arrow {
  border-left-color: #333333;
}
.theme-light.ns-external .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #333333;
}
.theme-light.ns-external .step-list li .step-marker {
  background-image: url("../../img/step-marker-sprite.png");
  color: #ffffff;
}
.theme-light.ns-external .step-list li.complete .step-marker {
  background-image: url("../../img/step-marker-sprite.png");
  color: transparent;
}
.theme-light.ns-external .ticket-code {
  color: #333;
}
.theme-light.ns-external .out-of-office-message {
  color: #333333;
  font-weight: bold;
}
.theme-light.ns-internal .internal-logo {
  background: url("../../img/logo-small.png") 0 0 no-repeat transparent;
}
.theme-light.ns-internal .tab-container .container-tabs li a {
  background-color: #e9e9e9;
  border-color: #e5e5e5;
  border-bottom-color: #ffffff;
}
.theme-light.ns-internal .tab-container .container-tabs li.active a {
  background-color: #ffffff;
}
.icon-grey {
  opacity: 0.6;
}
.icon-pdf {
  background: url("../../img/icon-pdf.png") no-repeat top left;
  margin-right: 3px;
}
/* =========== Big Glyphicons =========== */
[class^="bigicon-"],
[class*=" bigicon-"] {
  display: inline-block;
  vertical-align: text-top;
  background: url(../../img/glyphicons-black.png) no-repeat top left;
}
.bigicon-grey {
  opacity: 0.6;
}
.bigicon-lightgrey {
  opacity: 0.3;
}
.bigicon-excel {
  background: url("../../img/bigicon-excel.png") no-repeat top left;
  width: 26px;
  height: 26px;
}
.bigicon-4square {
  background-position: 0 0;
  width: 24px;
  height: 24px;
}
.bigicon-adjust {
  background-position: 0 -74px;
  width: 26px;
  height: 26px;
}
.bigicon-adjust_alt {
  background-position: 0 -150px;
  width: 23px;
  height: 24px;
}
.bigicon-adress_book {
  background-position: 0 -224px;
  width: 22px;
  height: 24px;
}
.bigicon-airplane {
  background-position: 0 -298px;
  width: 24px;
  height: 25px;
}
.bigicon-alarm {
  background-position: 0 -373px;
  width: 28px;
  height: 26px;
}
.bigicon-albums {
  background-position: 0 -449px;
  width: 28px;
  height: 18px;
}
.bigicon-align_center {
  background-position: 0 -517px;
  width: 24px;
  height: 21px;
}
.bigicon-align_left {
  background-position: 0 -588px;
  width: 24px;
  height: 21px;
}
.bigicon-align_right {
  background-position: 0 -659px;
  width: 24px;
  height: 21px;
}
.bigicon-amazon {
  background-position: 0 -730px;
  width: 24px;
  height: 24px;
}
.bigicon-anchor {
  background-position: 0 -804px;
  width: 24px;
  height: 25px;
}
.bigicon-announcement {
  background-position: 0 -879px;
  width: 25px;
  height: 20px;
}
.bigicon-asterisk {
  background-position: 0 -949px;
  width: 20px;
  height: 20px;
}
.bigicon-attach {
  background-position: 0 -1019px;
  width: 26px;
  height: 24px;
}
.bigicon-ax {
  background-position: 0 -1093px;
  width: 27px;
  height: 25px;
}
.bigicon-ban {
  background-position: 0 -1168px;
  width: 26px;
  height: 26px;
}
.bigicon-bank {
  background-position: 0 -1244px;
  width: 24px;
  height: 24px;
}
.bigicon-barcode {
  background-position: 0 -1318px;
  width: 24px;
  height: 24px;
}
.bigicon-baseball {
  background-position: 0 -1392px;
  width: 25px;
  height: 26px;
}
.bigicon-beach_umbrella {
  background-position: 0 -1468px;
  width: 25px;
  height: 25px;
}
.bigicon-beer {
  background-position: 0 -1543px;
  width: 23px;
  height: 24px;
}
.bigicon-behance {
  background-position: 0 -1617px;
  width: 24px;
  height: 24px;
}
.bigicon-bell {
  background-position: 0 -1691px;
  width: 24px;
  height: 24px;
}
.bigicon-bin {
  background-position: 0 -1765px;
  width: 20px;
  height: 28px;
}
.bigicon-binoculars {
  background-position: 0 -1843px;
  width: 24px;
  height: 24px;
}
.bigicon-birthday_cake {
  background-position: 0 -1917px;
  width: 26px;
  height: 29px;
}
.bigicon-blog {
  background-position: -78px 0;
  width: 21px;
  height: 23px;
}
.bigicon-blogger {
  background-position: -78px -73px;
  width: 24px;
  height: 24px;
}
.bigicon-bluetooth {
  background-position: -78px -147px;
  width: 14px;
  height: 24px;
}
.bigicon-boat {
  background-position: -78px -221px;
  width: 24px;
  height: 24px;
}
.bigicon-bold {
  background-position: -78px -295px;
  width: 19px;
  height: 24px;
}
.bigicon-bomb {
  background-position: -78px -369px;
  width: 27px;
  height: 26px;
}
.bigicon-book {
  background-position: -78px -445px;
  width: 22px;
  height: 24px;
}
.bigicon-book_open {
  background-position: -78px -519px;
  width: 25px;
  height: 23px;
}
.bigicon-bookmark {
  background-position: -78px -592px;
  width: 16px;
  height: 24px;
}
.bigicon-bowling {
  background-position: -78px -666px;
  width: 24px;
  height: 24px;
}
.bigicon-bp {
  background-position: -78px -740px;
  width: 17px;
  height: 24px;
}
.bigicon-briefcase {
  background-position: -78px -814px;
  width: 24px;
  height: 21px;
}
.bigicon-brightness_increase {
  background-position: -78px -885px;
  width: 24px;
  height: 24px;
}
.bigicon-brightness_reduce {
  background-position: -78px -959px;
  width: 20px;
  height: 20px;
}
.bigicon-brush {
  background-position: -78px -1029px;
  width: 25px;
  height: 23px;
}
.bigicon-bullets {
  background-position: -78px -1102px;
  width: 27px;
  height: 23px;
}
.bigicon-buoy {
  background-position: -78px -1175px;
  width: 24px;
  height: 24px;
}
.bigicon-bus {
  background-position: -78px -1249px;
  width: 32px;
  height: 25px;
}
.bigicon-buzz {
  background-position: -78px -1324px;
  width: 24px;
  height: 24px;
}
.bigicon-cake {
  background-position: -78px -1398px;
  width: 22px;
  height: 24px;
}
.bigicon-calculator {
  background-position: -78px -1472px;
  width: 21px;
  height: 24px;
}
.bigicon-calendar {
  background-position: -78px -1546px;
  width: 23px;
  height: 25px;
}
.bigicon-camera {
  background-position: -78px -1621px;
  width: 26px;
  height: 20px;
}
.bigicon-camera_small {
  background-position: -78px -1691px;
  width: 22px;
  height: 24px;
}
.bigicon-candle {
  background-position: -78px -1765px;
  width: 20px;
  height: 25px;
}
.bigicon-car {
  background-position: -78px -1840px;
  width: 26px;
  height: 22px;
}
.bigicon-cardio {
  background-position: -78px -1912px;
  width: 25px;
  height: 26px;
}
.bigicon-cargo {
  background-position: -160px 0;
  width: 25px;
  height: 26px;
}
.bigicon-cars {
  background-position: -160px -76px;
  width: 36px;
  height: 25px;
}
.bigicon-cart_in {
  background-position: -160px -151px;
  width: 26px;
  height: 24px;
}
.bigicon-cart_out {
  background-position: -160px -225px;
  width: 26px;
  height: 25px;
}
.bigicon-celebration {
  background-position: -160px -300px;
  width: 24px;
  height: 25px;
}
.bigicon-certificate {
  background-position: -160px -375px;
  width: 17px;
  height: 25px;
}
.bigicon-charts {
  background-position: -160px -450px;
  width: 27px;
  height: 24px;
}
.bigicon-chat {
  background-position: -160px -524px;
  width: 24px;
  height: 19px;
}
.bigicon-check {
  background-position: -160px -593px;
  width: 22px;
  height: 18px;
}
.bigicon-circle_arrow_down {
  background-position: -160px -661px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_arrow_left {
  background-position: -160px -737px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_arrow_right {
  background-position: -160px -813px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_arrow_top {
  background-position: -160px -889px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_exclamation_mark {
  background-position: -160px -965px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_info {
  background-position: -160px -1041px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_minus {
  background-position: -160px -1117px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_ok {
  background-position: -160px -1193px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_plus {
  background-position: -160px -1269px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_question_mark {
  background-position: -160px -1345px;
  width: 26px;
  height: 26px;
}
.bigicon-circle_remove {
  background-position: -160px -1421px;
  width: 26px;
  height: 26px;
}
.bigicon-cleaning {
  background-position: -160px -1497px;
  width: 24px;
  height: 25px;
}
.bigicon-clock {
  background-position: -160px -1572px;
  width: 24px;
  height: 24px;
}
.bigicon-cloud {
  background-position: -160px -1646px;
  width: 27px;
  height: 17px;
}
.bigicon-coffe_cup {
  background-position: -160px -1713px;
  width: 25px;
  height: 19px;
}
.bigicon-cogwheel {
  background-position: -160px -1782px;
  width: 24px;
  height: 24px;
}
.bigicon-cogwheels {
  background-position: -160px -1856px;
  width: 26px;
  height: 26px;
}
.bigicon-comments {
  background-position: -160px -1932px;
  width: 24px;
  height: 23px;
}
.bigicon-compass {
  background-position: -246px 0;
  width: 24px;
  height: 24px;
}
.bigicon-computer_locked {
  background-position: -246px -74px;
  width: 28px;
  height: 24px;
}
.bigicon-computer_proces {
  background-position: -246px -148px;
  width: 28px;
  height: 24px;
}
.bigicon-computer_service {
  background-position: -246px -222px;
  width: 28px;
  height: 24px;
}
.bigicon-conversation {
  background-position: -246px -296px;
  width: 25px;
  height: 18px;
}
.bigicon-credit {
  background-position: -246px -364px;
  width: 26px;
  height: 24px;
}
.bigicon-credit_card {
  background-position: -246px -438px;
  width: 26px;
  height: 19px;
}
.bigicon-crop {
  background-position: -246px -507px;
  width: 26px;
  height: 26px;
}
.bigicon-cup {
  background-position: -246px -583px;
  width: 22px;
  height: 24px;
}
.bigicon-cutlery {
  background-position: -246px -657px;
  width: 13px;
  height: 24px;
}
.bigicon-dashboard {
  background-position: -246px -731px;
  width: 24px;
  height: 24px;
}
.bigicon-database_ban {
  background-position: -246px -805px;
  width: 26px;
  height: 27px;
}
.bigicon-database_lock {
  background-position: -246px -882px;
  width: 26px;
  height: 28px;
}
.bigicon-database_minus {
  background-position: -246px -960px;
  width: 27px;
  height: 27px;
}
.bigicon-database_plus {
  background-position: -246px -1037px;
  width: 27px;
  height: 27px;
}
.bigicon-delete_point {
  background-position: -246px -1114px;
  width: 26px;
  height: 17px;
}
.bigicon-deviantart {
  background-position: -246px -1181px;
  width: 24px;
  height: 24px;
}
.bigicon-direction {
  background-position: -246px -1255px;
  width: 26px;
  height: 26px;
}
.bigicon-dislikes {
  background-position: -246px -1331px;
  width: 26px;
  height: 24px;
}
.bigicon-display {
  background-position: -246px -1405px;
  width: 28px;
  height: 24px;
}
.bigicon-divide {
  background-position: -246px -1479px;
  width: 18px;
  height: 16px;
}
.bigicon-dog {
  background-position: -246px -1545px;
  width: 26px;
  height: 25px;
}
.bigicon-down_arrow {
  background-position: -246px -1620px;
  width: 18px;
  height: 20px;
}
.bigicon-download {
  background-position: -246px -1690px;
  width: 26px;
  height: 26px;
}
.bigicon-download_alt {
  background-position: -246px -1766px;
  width: 24px;
  height: 24px;
}
.bigicon-dribbble {
  background-position: -246px -1840px;
  width: 24px;
  height: 24px;
}
.bigicon-drink {
  background-position: -246px -1914px;
  width: 23px;
  height: 24px;
}
.bigicon-dropbox {
  background-position: -332px 0;
  width: 24px;
  height: 24px;
}
.bigicon-dumbbell {
  background-position: -332px -74px;
  width: 26px;
  height: 16px;
}
.bigicon-e-mail {
  background-position: -332px -140px;
  width: 24px;
  height: 24px;
}
.bigicon-ear_plugs {
  background-position: -332px -214px;
  width: 20px;
  height: 24px;
}
.bigicon-edit {
  background-position: -332px -288px;
  width: 24px;
  height: 21px;
}
.bigicon-eject {
  background-position: -332px -359px;
  width: 18px;
  height: 17px;
}
.bigicon-electrical_plug {
  background-position: -332px -426px;
  width: 18px;
  height: 25px;
}
.bigicon-electrical_socket_eu {
  background-position: -332px -501px;
  width: 23px;
  height: 23px;
}
.bigicon-electrical_socket_us {
  background-position: -332px -574px;
  width: 23px;
  height: 23px;
}
.bigicon-electricity {
  background-position: -332px -647px;
  width: 11px;
  height: 24px;
}
.bigicon-embed {
  background-position: -332px -721px;
  width: 30px;
  height: 14px;
}
.bigicon-embed_close {
  background-position: -332px -785px;
  width: 30px;
  height: 24px;
}
.bigicon-envelope {
  background-position: -332px -859px;
  width: 24px;
  height: 16px;
}
.bigicon-euro {
  background-position: -332px -925px;
  width: 22px;
  height: 23px;
}
.bigicon-evernote {
  background-position: -332px -998px;
  width: 24px;
  height: 24px;
}
.bigicon-eye_close {
  background-position: -332px -1072px;
  width: 31px;
  height: 24px;
}
.bigicon-eye_open {
  background-position: -332px -1146px;
  width: 31px;
  height: 17px;
}
.bigicon-fabric {
  background-position: -332px -1213px;
  width: 27px;
  height: 22px;
}
.bigicon-facebook {
  background-position: -332px -1285px;
  width: 24px;
  height: 24px;
}
.bigicon-facetime_video {
  background-position: -332px -1359px;
  width: 24px;
  height: 16px;
}
.bigicon-fast_backward {
  background-position: -332px -1425px;
  width: 25px;
  height: 18px;
}
.bigicon-fast_food {
  background-position: -332px -1493px;
  width: 28px;
  height: 24px;
}
.bigicon-fast_forward {
  background-position: -332px -1567px;
  width: 25px;
  height: 18px;
}
.bigicon-female {
  background-position: -332px -1635px;
  width: 16px;
  height: 27px;
}
.bigicon-file {
  background-position: -332px -1712px;
  width: 19px;
  height: 24px;
}
.bigicon-file_export {
  background-position: -332px -1786px;
  width: 23px;
  height: 24px;
}
.bigicon-file_import {
  background-position: -332px -1860px;
  width: 22px;
  height: 24px;
}
.bigicon-film {
  background-position: -332px -1934px;
  width: 22px;
  height: 26px;
}
.bigicon-filter {
  background-position: -418px 0;
  width: 20px;
  height: 24px;
}
.bigicon-fins {
  background-position: -418px -74px;
  width: 31px;
  height: 27px;
}
.bigicon-fire {
  background-position: -418px -151px;
  width: 20px;
  height: 26px;
}
.bigicon-fishes {
  background-position: -418px -227px;
  width: 28px;
  height: 30px;
}
.bigicon-flag {
  background-position: -418px -307px;
  width: 21px;
  height: 26px;
}
.bigicon-flash {
  background-position: -418px -383px;
  width: 14px;
  height: 25px;
}
.bigicon-flickr {
  background-position: -418px -458px;
  width: 24px;
  height: 24px;
}
.bigicon-flower {
  background-position: -418px -532px;
  width: 19px;
  height: 25px;
}
.bigicon-folder_flag {
  background-position: -418px -607px;
  width: 27px;
  height: 25px;
}
.bigicon-folder_lock {
  background-position: -418px -682px;
  width: 28px;
  height: 26px;
}
.bigicon-folder_minus {
  background-position: -418px -758px;
  width: 29px;
  height: 25px;
}
.bigicon-folder_new {
  background-position: -418px -833px;
  width: 28px;
  height: 24px;
}
.bigicon-folder_open {
  background-position: -418px -907px;
  width: 30px;
  height: 22px;
}
.bigicon-folder_plus {
  background-position: -418px -979px;
  width: 29px;
  height: 25px;
}
.bigicon-font {
  background-position: -418px -1054px;
  width: 27px;
  height: 23px;
}
.bigicon-forrst {
  background-position: -418px -1127px;
  width: 24px;
  height: 24px;
}
.bigicon-forward {
  background-position: -418px -1201px;
  width: 23px;
  height: 18px;
}
.bigicon-french_press {
  background-position: -418px -1269px;
  width: 23px;
  height: 25px;
}
.bigicon-fullscreen {
  background-position: -418px -1344px;
  width: 24px;
  height: 24px;
}
.bigicon-gamepad {
  background-position: -418px -1418px;
  width: 27px;
  height: 19px;
}
.bigicon-gift {
  background-position: -418px -1487px;
  width: 24px;
  height: 25px;
}
.bigicon-girl {
  background-position: -418px -1562px;
  width: 22px;
  height: 22px;
}
.bigicon-github {
  background-position: -418px -1634px;
  width: 24px;
  height: 24px;
}
.bigicon-glass {
  background-position: -418px -1708px;
  width: 24px;
  height: 24px;
}
.bigicon-globe {
  background-position: -418px -1782px;
  width: 24px;
  height: 24px;
}
.bigicon-google_alt {
  background-position: -418px -1856px;
  width: 24px;
  height: 24px;
}
.bigicon-google_maps {
  background-position: -418px -1930px;
  width: 15px;
  height: 24px;
}
.bigicon-google_plus {
  background-position: -504px 0;
  width: 24px;
  height: 24px;
}
.bigicon-grater {
  background-position: -504px -74px;
  width: 18px;
  height: 24px;
}
.bigicon-group {
  background-position: -504px -148px;
  width: 35px;
  height: 22px;
}
.bigicon-hand_down {
  background-position: -504px -220px;
  width: 19px;
  height: 27px;
}
.bigicon-hand_left {
  background-position: -504px -297px;
  width: 26px;
  height: 19px;
}
.bigicon-hand_right {
  background-position: -504px -366px;
  width: 26px;
  height: 19px;
}
.bigicon-hand_up {
  background-position: -504px -435px;
  width: 19px;
  height: 26px;
}
.bigicon-hdd {
  background-position: -504px -511px;
  width: 24px;
  height: 21px;
}
.bigicon-headphones {
  background-position: -504px -582px;
  width: 24px;
  height: 24px;
}
.bigicon-headset {
  background-position: -504px -656px;
  width: 24px;
  height: 28px;
}
.bigicon-heart {
  background-position: -504px -734px;
  width: 24px;
  height: 22px;
}
.bigicon-heat {
  background-position: -504px -806px;
  width: 29px;
  height: 25px;
}
.bigicon-history {
  background-position: -504px -881px;
  width: 25px;
  height: 26px;
}
.bigicon-home {
  background-position: -504px -957px;
  width: 27px;
  height: 26px;
}
.bigicon-hospital {
  background-position: -504px -1033px;
  width: 24px;
  height: 24px;
}
.bigicon-hospital_h {
  background-position: -504px -1107px;
  width: 24px;
  height: 24px;
}
.bigicon-imac {
  background-position: -504px -1181px;
  width: 26px;
  height: 22px;
}
.bigicon-inbox {
  background-position: -504px -1253px;
  width: 24px;
  height: 23px;
}
.bigicon-inbox_in {
  background-position: -504px -1326px;
  width: 24px;
  height: 26px;
}
.bigicon-inbox_lock {
  background-position: -504px -1402px;
  width: 26px;
  height: 28px;
}
.bigicon-inbox_minus {
  background-position: -504px -1480px;
  width: 27px;
  height: 27px;
}
.bigicon-inbox_out {
  background-position: -504px -1557px;
  width: 24px;
  height: 26px;
}
.bigicon-inbox_plus {
  background-position: -504px -1633px;
  width: 27px;
  height: 27px;
}
.bigicon-instapaper {
  background-position: -504px -1710px;
  width: 24px;
  height: 24px;
}
.bigicon-ipad {
  background-position: -504px -1784px;
  width: 20px;
  height: 27px;
}
.bigicon-iphone {
  background-position: -504px -1861px;
  width: 14px;
  height: 24px;
}
.bigicon-iphone_exchange {
  background-position: -504px -1935px;
  width: 29px;
  height: 24px;
}
.bigicon-iphone_shake {
  background-position: -590px 0;
  width: 24px;
  height: 24px;
}
.bigicon-iphone_transfer {
  background-position: -590px -74px;
  width: 29px;
  height: 24px;
}
.bigicon-ipod {
  background-position: -590px -148px;
  width: 14px;
  height: 22px;
}
.bigicon-ipod_shuffle {
  background-position: -590px -220px;
  width: 15px;
  height: 13px;
}
.bigicon-italic {
  background-position: -590px -283px;
  width: 14px;
  height: 24px;
}
.bigicon-jolicloud {
  background-position: -590px -357px;
  width: 24px;
  height: 24px;
}
.bigicon-justify {
  background-position: -590px -431px;
  width: 24px;
  height: 21px;
}
.bigicon-kettle {
  background-position: -590px -502px;
  width: 23px;
  height: 24px;
}
.bigicon-keyboard_wired {
  background-position: -590px -576px;
  width: 27px;
  height: 25px;
}
.bigicon-keyboard_wireless {
  background-position: -590px -651px;
  width: 27px;
  height: 19px;
}
.bigicon-keynote {
  background-position: -590px -720px;
  width: 20px;
  height: 30px;
}
.bigicon-keys {
  background-position: -590px -800px;
  width: 24px;
  height: 26px;
}
.bigicon-last_fm {
  background-position: -590px -876px;
  width: 24px;
  height: 24px;
}
.bigicon-leaf {
  background-position: -590px -950px;
  width: 24px;
  height: 25px;
}
.bigicon-leather {
  background-position: -590px -1025px;
  width: 23px;
  height: 24px;
}
.bigicon-left_arrow {
  background-position: -590px -1099px;
  width: 20px;
  height: 18px;
}
.bigicon-left_indent {
  background-position: -590px -1167px;
  width: 24px;
  height: 22px;
}
.bigicon-lightbulb {
  background-position: -590px -1239px;
  width: 20px;
  height: 26px;
}
.bigicon-link {
  background-position: -590px -1315px;
  width: 21px;
  height: 23px;
}
.bigicon-linked_in {
  background-position: -590px -1388px;
  width: 24px;
  height: 24px;
}
.bigicon-list {
  background-position: -590px -1462px;
  width: 24px;
  height: 21px;
}
.bigicon-lock {
  background-position: -590px -1533px;
  width: 21px;
  height: 26px;
}
.bigicon-log_book {
  background-position: -590px -1609px;
  width: 22px;
  height: 24px;
}
.bigicon-luggage {
  background-position: -590px -1683px;
  width: 20px;
  height: 27px;
}
.bigicon-macbook {
  background-position: -590px -1760px;
  width: 28px;
  height: 15px;
}
.bigicon-magic {
  background-position: -590px -1825px;
  width: 24px;
  height: 24px;
}
.bigicon-magnet {
  background-position: -590px -1899px;
  width: 21px;
  height: 23px;
}
.bigicon-male {
  background-position: -676px 0;
  width: 22px;
  height: 22px;
}
.bigicon-message_ban {
  background-position: -676px -72px;
  width: 29px;
  height: 23px;
}
.bigicon-message_empty {
  background-position: -676px -145px;
  width: 24px;
  height: 28px;
}
.bigicon-message_flag {
  background-position: -676px -223px;
  width: 27px;
  height: 23px;
}
.bigicon-message_full {
  background-position: -676px -296px;
  width: 24px;
  height: 28px;
}
.bigicon-message_in {
  background-position: -676px -374px;
  width: 24px;
  height: 28px;
}
.bigicon-message_lock {
  background-position: -676px -452px;
  width: 28px;
  height: 24px;
}
.bigicon-message_minus {
  background-position: -676px -526px;
  width: 29px;
  height: 23px;
}
.bigicon-message_new {
  background-position: -676px -599px;
  width: 28px;
  height: 22px;
}
.bigicon-message_out {
  background-position: -676px -671px;
  width: 24px;
  height: 28px;
}
.bigicon-message_plus {
  background-position: -676px -749px;
  width: 29px;
  height: 23px;
}
.bigicon-microphone {
  background-position: -676px -822px;
  width: 17px;
  height: 24px;
}
.bigicon-moon {
  background-position: -676px -896px;
  width: 22px;
  height: 25px;
}
.bigicon-more-items {
  background-position: -676px -971px;
  width: 21px;
  height: 24px;
}
.bigicon-more {
  background-position: -676px -1045px;
  width: 22px;
  height: 7px;
}
.bigicon-more_windows {
  background-position: -676px -1102px;
  width: 23px;
  height: 23px;
}
.bigicon-move {
  background-position: -676px -1175px;
  width: 24px;
  height: 24px;
}
.bigicon-music {
  background-position: -676px -1249px;
  width: 21px;
  height: 25px;
}
.bigicon-mute {
  background-position: -676px -1324px;
  width: 22px;
  height: 16px;
}
.bigicon-nameplate {
  background-position: -676px -1390px;
  width: 24px;
  height: 21px;
}
.bigicon-nameplate_alt {
  background-position: -676px -1461px;
  width: 24px;
  height: 22px;
}
.bigicon-new_window {
  background-position: -676px -1533px;
  width: 26px;
  height: 22px;
}
.bigicon-note {
  background-position: -676px -1605px;
  width: 18px;
  height: 25px;
}
.bigicon-notes {
  background-position: -676px -1680px;
  width: 20px;
  height: 25px;
}
.bigicon-notes_2 {
  background-position: -676px -1755px;
  width: 20px;
  height: 27px;
}
.bigicon-ok {
  background-position: -676px -1832px;
  width: 26px;
  height: 26px;
}
.bigicon-ok_2 {
  background-position: -676px -1908px;
  width: 25px;
  height: 19px;
}
.bigicon-old_man {
  background-position: -762px 0;
  width: 23px;
  height: 24px;
}
.bigicon-oxygen_bottle {
  background-position: -762px -74px;
  width: 22px;
  height: 27px;
}
.bigicon-pants {
  background-position: -762px -151px;
  width: 19px;
  height: 24px;
}
.bigicon-parents {
  background-position: -762px -225px;
  width: 32px;
  height: 22px;
}
.bigicon-pause {
  background-position: -762px -297px;
  width: 10px;
  height: 16px;
}
.bigicon-pen {
  background-position: -762px -363px;
  width: 24px;
  height: 24px;
}
.bigicon-pencil {
  background-position: -762px -437px;
  width: 25px;
  height: 25px;
}
.bigicon-phone {
  background-position: -762px -512px;
  width: 15px;
  height: 25px;
}
.bigicon-piano {
  background-position: -762px -587px;
  width: 23px;
  height: 24px;
}
.bigicon-picasa {
  background-position: -762px -661px;
  width: 24px;
  height: 24px;
}
.bigicon-picture {
  background-position: -762px -735px;
  width: 24px;
  height: 20px;
}
.bigicon-pie_chart {
  background-position: -762px -805px;
  width: 26px;
  height: 25px;
}
.bigicon-pin {
  background-position: -762px -880px;
  width: 10px;
  height: 25px;
}
.bigicon-pin_classic {
  background-position: -762px -955px;
  width: 24px;
  height: 24px;
}
.bigicon-pin_flag {
  background-position: -762px -1029px;
  width: 30px;
  height: 22px;
}
.bigicon-pinboard {
  background-position: -762px -1101px;
  width: 24px;
  height: 24px;
}
.bigicon-pinterest {
  background-position: -762px -1175px;
  width: 24px;
  height: 24px;
}
.bigicon-pizza {
  background-position: -762px -1249px;
  width: 26px;
  height: 29px;
}
.bigicon-play {
  background-position: -762px -1328px;
  width: 16px;
  height: 18px;
}
.bigicon-play_button {
  background-position: -762px -1396px;
  width: 26px;
  height: 26px;
}
.bigicon-playing_dices {
  background-position: -762px -1472px;
  width: 27px;
  height: 23px;
}
.bigicon-playlist {
  background-position: -762px -1545px;
  width: 29px;
  height: 24px;
}
.bigicon-podium {
  background-position: -762px -1619px;
  width: 28px;
  height: 21px;
}
.bigicon-pool {
  background-position: -762px -1690px;
  width: 24px;
  height: 24px;
}
.bigicon-pot {
  background-position: -762px -1764px;
  width: 27px;
  height: 22px;
}
.bigicon-power {
  background-position: -762px -1836px;
  width: 22px;
  height: 24px;
}
.bigicon-print {
  background-position: -762px -1910px;
  width: 24px;
  height: 24px;
}
.bigicon-projector {
  background-position: -848px 0;
  width: 28px;
  height: 25px;
}
.bigicon-qrcode {
  background-position: -848px -75px;
  width: 24px;
  height: 24px;
}
.bigicon-quora {
  background-position: -848px -149px;
  width: 24px;
  height: 24px;
}
.bigicon-rabbit {
  background-position: -848px -223px;
  width: 26px;
  height: 22px;
}
.bigicon-random {
  background-position: -848px -295px;
  width: 28px;
  height: 20px;
}
.bigicon-read_it_later {
  background-position: -848px -365px;
  width: 24px;
  height: 24px;
}
.bigicon-readability {
  background-position: -848px -439px;
  width: 24px;
  height: 24px;
}
.bigicon-refresh {
  background-position: -848px -513px;
  width: 25px;
  height: 26px;
}
.bigicon-remove {
  background-position: -848px -589px;
  width: 26px;
  height: 26px;
}
.bigicon-remove_2 {
  background-position: -848px -665px;
  width: 18px;
  height: 18px;
}
.bigicon-repeat {
  background-position: -848px -733px;
  width: 24px;
  height: 26px;
}
.bigicon-resize_full {
  background-position: -848px -809px;
  width: 24px;
  height: 24px;
}
.bigicon-resize_small {
  background-position: -848px -883px;
  width: 24px;
  height: 24px;
}
.bigicon-retweet {
  background-position: -848px -957px;
  width: 30px;
  height: 15px;
}
.bigicon-retweet_2 {
  background-position: -848px -1022px;
  width: 33px;
  height: 21px;
}
.bigicon-rewind {
  background-position: -848px -1093px;
  width: 23px;
  height: 18px;
}
.bigicon-riflescope {
  background-position: -848px -1161px;
  width: 25px;
  height: 25px;
}
.bigicon-right_arrow {
  background-position: -848px -1236px;
  width: 20px;
  height: 18px;
}
.bigicon-right_indent {
  background-position: -848px -1304px;
  width: 24px;
  height: 22px;
}
.bigicon-ring {
  background-position: -848px -1376px;
  width: 21px;
  height: 24px;
}
.bigicon-road {
  background-position: -848px -1450px;
  width: 28px;
  height: 24px;
}
.bigicon-rotation_lock {
  background-position: -848px -1524px;
  width: 27px;
  height: 24px;
}
.bigicon-roundabout {
  background-position: -848px -1598px;
  width: 27px;
  height: 27px;
}
.bigicon-router {
  background-position: -848px -1675px;
  width: 27px;
  height: 26px;
}
.bigicon-rss {
  background-position: -848px -1751px;
  width: 24px;
  height: 24px;
}
.bigicon-rugby {
  background-position: -848px -1825px;
  width: 23px;
  height: 24px;
}
.bigicon-ruller {
  background-position: -848px -1899px;
  width: 27px;
  height: 14px;
}
.bigicon-sampler {
  background-position: -934px 0;
  width: 27px;
  height: 22px;
}
.bigicon-scissors {
  background-position: -934px -72px;
  width: 24px;
  height: 27px;
}
.bigicon-screenshot {
  background-position: -934px -149px;
  width: 27px;
  height: 27px;
}
.bigicon-scuba_diving {
  background-position: -934px -226px;
  width: 27px;
  height: 24px;
}
.bigicon-search {
  background-position: -934px -300px;
  width: 24px;
  height: 24px;
}
.bigicon-settings {
  background-position: -934px -374px;
  width: 24px;
  height: 24px;
}
.bigicon-share {
  background-position: -934px -448px;
  width: 24px;
  height: 18px;
}
.bigicon-share_alt {
  background-position: -934px -516px;
  width: 22px;
  height: 22px;
}
.bigicon-sheriffs_-star {
  background-position: -934px -588px;
  width: 24px;
  height: 26px;
}
.bigicon-shield {
  background-position: -934px -664px;
  width: 22px;
  height: 24px;
}
.bigicon-shopping_bag {
  background-position: -934px -738px;
  width: 23px;
  height: 26px;
}
.bigicon-shopping_cart {
  background-position: -934px -814px;
  width: 26px;
  height: 23px;
}
.bigicon-show_big_thumbnails {
  background-position: -934px -887px;
  width: 22px;
  height: 22px;
}
.bigicon-show_lines {
  background-position: -934px -959px;
  width: 24px;
  height: 15px;
}
.bigicon-show_thumbnails {
  background-position: -934px -1024px;
  width: 22px;
  height: 22px;
}
.bigicon-show_thumbnails_with_lines {
  background-position: -934px -1096px;
  width: 24px;
  height: 15px;
}
.bigicon-signal {
  background-position: -934px -1161px;
  width: 31px;
  height: 23px;
}
.bigicon-signal_alt {
  background-position: -934px -1234px;
  width: 24px;
  height: 24px;
}
.bigicon-skitch {
  background-position: -934px -1308px;
  width: 24px;
  height: 24px;
}
.bigicon-skull {
  background-position: -934px -1382px;
  width: 22px;
  height: 24px;
}
.bigicon-skype {
  background-position: -934px -1456px;
  width: 24px;
  height: 24px;
}
.bigicon-snorkel_diving {
  background-position: -934px -1530px;
  width: 27px;
  height: 25px;
}
.bigicon-snowflake {
  background-position: -934px -1605px;
  width: 28px;
  height: 28px;
}
.bigicon-sort {
  background-position: -934px -1683px;
  width: 25px;
  height: 25px;
}
.bigicon-spade {
  background-position: -934px -1758px;
  width: 24px;
  height: 24px;
}
.bigicon-spootify {
  background-position: -934px -1832px;
  width: 24px;
  height: 24px;
}
.bigicon-star {
  background-position: -934px -1906px;
  width: 25px;
  height: 24px;
}
.bigicon-stats {
  background-position: -1020px 0;
  width: 26px;
  height: 25px;
}
.bigicon-step_backward {
  background-position: -1020px -75px;
  width: 14px;
  height: 18px;
}
.bigicon-step_forward {
  background-position: -1020px -143px;
  width: 14px;
  height: 18px;
}
.bigicon-stop {
  background-position: -1020px -211px;
  width: 14px;
  height: 14px;
}
.bigicon-stopwatch {
  background-position: -1020px -275px;
  width: 23px;
  height: 27px;
}
.bigicon-stroller {
  background-position: -1020px -352px;
  width: 25px;
  height: 26px;
}
.bigicon-stumbleupon {
  background-position: -1020px -428px;
  width: 24px;
  height: 24px;
}
.bigicon-suitcase {
  background-position: -1020px -502px;
  width: 24px;
  height: 22px;
}
.bigicon-sun {
  background-position: -1020px -574px;
  width: 24px;
  height: 24px;
}
.bigicon-sweater {
  background-position: -1020px -648px;
  width: 29px;
  height: 24px;
}
.bigicon-t-shirt {
  background-position: -1020px -722px;
  width: 28px;
  height: 23px;
}
.bigicon-table {
  background-position: -1020px -795px;
  width: 24px;
  height: 24px;
}
.bigicon-table_tennis {
  background-position: -1020px -869px;
  width: 24px;
  height: 24px;
}
.bigicon-tablet {
  background-position: -1020px -943px;
  width: 25px;
  height: 25px;
}
.bigicon-tag {
  background-position: -1020px -1018px;
  width: 24px;
  height: 24px;
}
.bigicon-tags {
  background-position: -1020px -1092px;
  width: 30px;
  height: 24px;
}
.bigicon-tea_kettle {
  background-position: -1020px -1166px;
  width: 26px;
  height: 23px;
}
.bigicon-temple_buddhist {
  background-position: -1020px -1239px;
  width: 28px;
  height: 22px;
}
.bigicon-temple_christianity_church {
  background-position: -1020px -1311px;
  width: 24px;
  height: 25px;
}
.bigicon-temple_hindu {
  background-position: -1020px -1386px;
  width: 24px;
  height: 24px;
}
.bigicon-temple_islam {
  background-position: -1020px -1460px;
  width: 25px;
  height: 24px;
}
.bigicon-text_bigger {
  background-position: -1020px -1534px;
  width: 24px;
  height: 22px;
}
.bigicon-text_height {
  background-position: -1020px -1606px;
  width: 26px;
  height: 24px;
}
.bigicon-text_resize {
  background-position: -1020px -1680px;
  width: 26px;
  height: 26px;
}
.bigicon-text_smaller {
  background-position: -1020px -1756px;
  width: 22px;
  height: 16px;
}
.bigicon-text_strike {
  background-position: -1020px -1822px;
  width: 20px;
  height: 22px;
}
.bigicon-text_underline {
  background-position: -1020px -1894px;
  width: 20px;
  height: 24px;
}
.bigicon-text_width {
  background-position: -1106px 0;
  width: 22px;
  height: 24px;
}
.bigicon-thin_arrow_left {
  background-position: -1106px -74px;
  width: 15px;
  height: 22px;
}
.bigicon-thin_right_arrow {
  background-position: -1106px -146px;
  width: 15px;
  height: 22px;
}
.bigicon-thumbs_down {
  background-position: -1106px -218px;
  width: 24px;
  height: 21px;
}
.bigicon-thumbs_up {
  background-position: -1106px -289px;
  width: 24px;
  height: 21px;
}
.bigicon-tie {
  background-position: -1106px -360px;
  width: 11px;
  height: 26px;
}
.bigicon-tint {
  background-position: -1106px -436px;
  width: 23px;
  height: 26px;
}
.bigicon-train {
  background-position: -1106px -512px;
  width: 20px;
  height: 27px;
}
.bigicon-tree_conifer {
  background-position: -1106px -589px;
  width: 21px;
  height: 24px;
}
.bigicon-tree_deciduous {
  background-position: -1106px -663px;
  width: 20px;
  height: 25px;
}
.bigicon-truck {
  background-position: -1106px -738px;
  width: 32px;
  height: 27px;
}
.bigicon-tumblr {
  background-position: -1106px -815px;
  width: 24px;
  height: 24px;
}
.bigicon-turtle {
  background-position: -1106px -889px;
  width: 28px;
  height: 16px;
}
.bigicon-twitter {
  background-position: -1106px -955px;
  width: 24px;
  height: 24px;
}
.bigicon-twitter_t {
  background-position: -1106px -1029px;
  width: 24px;
  height: 24px;
}
.bigicon-umbrella {
  background-position: -1106px -1103px;
  width: 26px;
  height: 28px;
}
.bigicon-unlock {
  background-position: -1106px -1181px;
  width: 21px;
  height: 26px;
}
.bigicon-unshare {
  background-position: -1106px -1257px;
  width: 24px;
  height: 18px;
}
.bigicon-up_arrow {
  background-position: -1106px -1325px;
  width: 18px;
  height: 20px;
}
.bigicon-upload {
  background-position: -1106px -1395px;
  width: 26px;
  height: 26px;
}
.bigicon-usd {
  background-position: -1106px -1471px;
  width: 17px;
  height: 26px;
}
.bigicon-user {
  background-position: -1106px -1547px;
  width: 23px;
  height: 22px;
}
.bigicon-user_add {
  background-position: -1106px -1619px;
  width: 28px;
  height: 22px;
}
.bigicon-user_remove {
  background-position: -1106px -1691px;
  width: 26px;
  height: 22px;
}
.bigicon-vases {
  background-position: -1106px -1763px;
  width: 24px;
  height: 24px;
}
.bigicon-vcard {
  background-position: -1106px -1837px;
  width: 22px;
  height: 24px;
}
.bigicon-vector_path_all {
  background-position: -1106px -1911px;
  width: 24px;
  height: 24px;
}
.bigicon-vector_path_circle {
  background-position: -1192px 0;
  width: 24px;
  height: 24px;
}
.bigicon-vector_path_curve {
  background-position: -1192px -74px;
  width: 24px;
  height: 24px;
}
.bigicon-vector_path_line {
  background-position: -1192px -148px;
  width: 24px;
  height: 24px;
}
.bigicon-vector_path_polygon {
  background-position: -1192px -222px;
  width: 26px;
  height: 25px;
}
.bigicon-vector_path_square {
  background-position: -1192px -297px;
  width: 24px;
  height: 24px;
}
.bigicon-vimeo {
  background-position: -1192px -371px;
  width: 24px;
  height: 24px;
}
.bigicon-volume_down {
  background-position: -1192px -445px;
  width: 16px;
  height: 16px;
}
.bigicon-volume_up {
  background-position: -1192px -511px;
  width: 24px;
  height: 26px;
}
.bigicon-wallet {
  background-position: -1192px -587px;
  width: 25px;
  height: 20px;
}
.bigicon-warning_sign {
  background-position: -1192px -657px;
  width: 29px;
  height: 24px;
}
.bigicon-web_browser {
  background-position: -1192px -731px;
  width: 24px;
  height: 22px;
}
.bigicon-webcam {
  background-position: -1192px -803px;
  width: 19px;
  height: 24px;
}
.bigicon-wifi_alt {
  background-position: -1192px -877px;
  width: 26px;
  height: 26px;
}
.bigicon-woman {
  background-position: -1192px -953px;
  width: 22px;
  height: 22px;
}
.bigicon-wordpress {
  background-position: -1192px -1025px;
  width: 24px;
  height: 24px;
}
.bigicon-xing {
  background-position: -1192px -1099px;
  width: 24px;
  height: 24px;
}
.bigicon-yahoo {
  background-position: -1192px -1173px;
  width: 24px;
  height: 24px;
}
.bigicon-youtube {
  background-position: -1192px -1247px;
  width: 24px;
  height: 24px;
}
.bigicon-zoom_in {
  background-position: -1192px -1321px;
  width: 25px;
  height: 25px;
}
.bigicon-zoom_out {
  background-position: -1192px -1396px;
  width: 25px;
  height: 25px;
}
.bigicon-zootool {
  background-position: -1192px -1471px;
  width: 24px;
  height: 24px;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------
    Additional stuff added by Evan Brumley for
    WSP Digital
-----------------------------------------------------*/
/* =========== Forms =========== */
.form-horizontal .control-group-standalone {
  margin-top: 10px;
  margin-bottom: 0;
}
.form-help-activator {
  padding-left: 4px;
  background: no-repeat;
  background-image: url("../../img/info.png");
  background-size: 21px auto;
  height: 21px;
  width: 21px;
  cursor: help;
}
.field-vertical .form-help-activator {
  margin-top: 3px;
}
.field-vertical label .field-notes {
  font-size: 0.8em;
  color: #777;
}
.placeholder {
  color: #999 !important;
}
.form-well {
  background: url("../../img/formbg.png") #f7f7f7;
  padding: 15px;
  padding-top: 29px;
  border-color: #5baadf;
  border-width: 1px;
  -moz-box-shadow: 2px 2px 5px #c0c0c0;
  -webkit-box-shadow: 2px 10px 5px #c0c0c0;
  box-shadow: 2px 2px 5px #c0c0c0;
}
.form-well a {
  color: #333;
}
.form-well a:focus {
  outline: none;
}
.form-well h3 {
  font-weight: normal;
  padding: 5px 0;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  -webkit-box-shadow: inset 1px 1px 2px 2px #cccccc;
  -moz-box-shadow: inset 1px 1px 2px 2px #cccccc;
  box-shadow: inset 1px 1px 2px 2px #cccccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-well-alt {
  background: url("../../img/formbg.png");
  padding: 15px;
  padding-top: 29px;
  border-color: #cccccc;
  border: 1px solid #cccccc;
}
.form-well-alt a {
  color: #333;
}
.form-well-alt a:focus {
  outline: none;
}
.form-well-alt h3 {
  font-weight: normal;
  padding: 5px 0;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  -webkit-box-shadow: inset 1px 1px 2px 2px #cccccc;
  -moz-box-shadow: inset 1px 1px 2px 2px #cccccc;
  box-shadow: inset 1px 1px 2px 2px #cccccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-well-tabs {
  margin-bottom: 0;
  margin-left: 22px;
  border-bottom: none;
}
.form-well-tabs li a {
  font-size: 1em;
  font-weight: bold;
  background-color: #f7f7f7;
  border-bottom: none;
  color: #aaa;
  border-color: #ddd;
  margin-right: 2px;
  margin-bottom: 1px;
}
.form-well-tabs li a:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
  color: #333;
}
.form-well-tabs li.active a {
  background-color: #80c625;
  text-shadow: 2px 2px 2px #616161;
  color: #ffffff;
  border-color: #80c625;
  border-bottom-width: 1px;
  margin-bottom: -1px;
}
.form-well-tabs li.active a:hover {
  background-color: #80c625;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  border-color: #80c625;
  color: #ffffff;
}
.control-group ul {
  list-style: none;
  margin: 0 0 0 10px;
}
.control-group ul li label {
  min-height: 18px;
  padding-left: 18px;
  line-height: 16px;
}
.control-group ul li label input[type="radio"],
.control-group ul li label input[type="checkbox"] {
  float: left;
  margin-left: -18px;
  margin-top: 0px;
  padding-top: 0px;
}
.control-group .controls ul {
  margin: 8px 0 0 0;
}
label.required {
  font-weight: bold;
}
textarea {
  height: 130px;
}
textarea.short {
  height: 73px;
}
.control-label span {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  color: #777;
  line-height: 1.3em;
}
.horizontal .controls div > ul li {
  float: left;
  margin-left: 15px;
  padding-top: 5px;
}
.horizontal .controls div > ul li:first-child {
  margin-left: 0px;
}
.form-horizontal-narrow .control-label {
  width: 80px;
}
.form-horizontal-narrow .controls {
  margin-left: 100px;
}
.big-choices,
.big-choices ul {
  list-style-type: none;
  margin: 0;
}
.big-choices li,
.big-choices ul li {
  float: left;
  margin-right: 20px;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  border: 1px solid #cccccc;
}
.big-choices li label,
.big-choices ul li label {
  font-size: 1.2em;
  padding: 5px 10px 1px 10px;
}
.big-choices li label input[type="radio"],
.big-choices ul li label input[type="radio"],
.big-choices li label input[type="checkbox"],
.big-choices ul li label input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
  margin-top: -2px;
}
.field-suffix {
  display: inline-block;
  color: #777;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 2px;
}
.input-stacked {
  margin-top: 4px;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}


.well .field-horizontal:last-child {
  margin-bottom: 0px;
}
.form-standard .oversize {
  font-size: 1.6em;
  line-height: 1em;
  height: 2em;
}
.form-standard .field-horizontal .control-label {
  width: 190px;
  text-align: left;
  font-size: 14px;
  line-height: 1em;
  font-weight: normal;
  color: #555;
}
.form-standard .field-horizontal .controls {
  margin-left: 140px;
}
.form-standard .field-vertical > label {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 10px;
  color: #555;
}
.form-standard .field-vertical > label.required {
  font-weight: normal;
}
.form-standard .field-vertical ul li label input {
  margin-top: 2px;
  margin-right: 10px;
}
.form-standard .big-choices .field-vertical ul li label input {
  margin-top: 2px;
  margin-right: 7px;
}
.form-standard .attachment-uploader {
  margin-top: 20px;
}
.form-standard .attachment {
  display: block;
  margin-bottom: 5px;
  padding: 5px 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-standard .attachment a.attachment-download-link {
  display: block;
  padding: 0;
  color: #0088CC;
  margin-right: 10px;
  margin-top: 2px;
}
.form-standard .attachment a.attachment-download-link:hover {
  border-color: #80c625;
  text-decoration: none;
}
.form-standard .attachment a.attachment-delete-link {
  float: right;
  width: 16px;
  margin-top: -2px;
}
.form-standard .attachment .attachment-share-link {
  float: right;
  margin-right: 70px;
  width: 125px;
  margin-top: -32px;
}
