@import "mixins.less";
@import "constants.less";


/* =========== Overall layout =========== */

body {
    position: relative;
    background: #222;
    font-size: 15px;
    line-height: 18px;
    padding-top: 0px;

    background-image: url("../../img/bg-tile.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: #1f1f1f;
}

.footer {
    border-top-color: #272727;
    margin-top: 19px;
    padding-top: 30px;
    border-top-width: 2px;
}

//.navbar {
//    margin-bottom: 47px;
//}

/* =========== Headings =========== */

h1 {
    margin: 0;
    color: @header-color;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    small {
        font-size: 18px;
    }
}


h2 {
    margin: 0;
    color: @header-color;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;

    small {
        font-size: 18px;
    }
}

h3 {
    margin: 0;
    color: @header-color;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    small {
        font-size: 14px;
    }

    &.subheading {
        color: @subheader-color;
        margin-top: -10px;
        margin-bottom: 30px;
    }
}

h4 {
    margin: 0;
    color: @header-color;
    line-height: 18px;
    font-size: 14px;

    small {
        font-size: 12px;
    }
}

h5 {
    margin: 0;
    color: @black;
    line-height: 20px;
    font-size: 12px;
}

h6 {
    margin: 0;
    color: @header-color;
    line-height: 18px;
    font-size: 11px;
}

// A help icon that appends itself to the end of a heading
.heading-help-activator {
    width: 16px;
    height: 16px;
    padding-left: 4px;
    background-image: url("../../img/glyphicons-halflings.png");
    background-position: -113px -92px;
    opacity: 0.7;
    color: transparent;

    &:hover {
        text-decoration: none;
    }
}


/* =========== Horizontal rules =========== */

hr {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ffffff;

    &.dark {
        border-color: #272727;
    }
}

.hr-ornament {
    clear: both;
    height: 25px;
    margin: 14px 0;
    background: url("../../img/hr-ornament.png") 50% 50% no-repeat;
}


/* =========== Buttons =========== */

.btn {
    padding: 4px 10px;

    &.btn-large {
        padding: 9px 14px;
    }

    &.btn-small {
        padding: 3px 9px;
    }

    &.btn-mini {
        padding: 0px 6px;
    }
}


/* =========== Breadcrumbs =========== */

.breadcrumb {
    background: none;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}


/* =========== Modals =========== */

.modal-spinner {
    text-align: center;
    padding: 16px 0;

    span {
        font-style: italic;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}


/* =========== Popovers =========== */

.popover {
    margin-right: 3px;
}

.popover-title {
    background-color: #2f2f2f;
    color: #f5f5f5;
    font-size: 1em;
    line-height: 1.4em;
}


/* =========== Tooltips =========== */

.tooltip-inner {
    background-color: @tooltip-color;
    color: #333;
}

.tooltip.top .tooltip-arrow {
    border-top-color: @tooltip-color;
}

.tooltip.right .tooltip-arrow {
    border-right-color: @tooltip-color;
}

.tooltip.left .tooltip-arrow {
    border-left-color: @tooltip-color;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: @tooltip-color;
}


/* =========== Theme Switcher =========== */

.theme-switcher {
    margin-top: 12px;
    display: block;
    height: 16px;
    width: 16px;
    background: url("../../img/lightbulb_off.png");
    margin-left: 20px;
    outline: 0;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}

/* =========== Vanishing Tabs =========== */

.vanishing-tabs {
    display: inline;
    margin: 0;

    li {
        display: inline;

        &.active {
            display: none;
        }
    }
}


/* =========== Maps =========== */

.map-canvas {
    img {
        max-width: none !important;
    }
}


/* =========== Notifications =========== */

.notification {
    z-index: 99999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border: 2px solid #1f1f1f;
    padding: 10px 20px;
    .rounded(6px);
    height: 32px;
    line-height: 32px;
    min-width: 112px;
    font-size: 1.2em;

    .spinner {
        margin-right: 5px;
    }

    &.notification-success {
        background-color: #DFF0D8;
        border-color: #D6E9C6;
        color: #468847;
    }

    &.notification-error {
        background-color: #F2DEDE;
        border-color: #EED3D7;
        color: #B94A48;
    }
}


/* =========== Definitions =========== */

.definition {
    color: @green;
    border-bottom: 1px dotted #555;
    cursor: help;

    &:hover {
        text-decoration: none;
    }
}


/* =========== Status Indicators =========== */

.status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.status-indicator-green {
    background-color: @green;
}

.status-indicator-yellow {
    background-color: @yellow;
}

.status-indicator-red {
    background-color: @red;
}

.status-indicator-grey {
    background-color: #cccccc;
}

.sidebar-status-indicator-container {
    padding: 10px 15px;
    background-color: #e9e9e9;
    .rounded(5px);
    margin-bottom: 5px;

    .status-indicator {
        margin-right: 5px;
    }
}


/* =========== Utility Classes =========== */

.full-width {
  width: 100%;
  .box-sizing(border-box)
}


/* =========== Dirty Hacks =========== */

/* TODO: Fix properly - this will break any actual fluid row 
** if we decide to put in full-width pages later on */
.row-fluid {
    overflow: hidden;
}

.btn:focus {
    outline: 0 !important;
}

.btn::-moz-focus-inner { border: 0 !important; }
