@header-color: #1f4284;
@subheader-color: #1f4284;
@green: #80c625;
@yellow: #ffcb16;
@red: #ff3333;
@internal-container-color: #ffffff;
@tooltip-color: #f9f9f9;


// Responsive stuff
@desktop-width: 1200px;
@tablet-width: 980px;
@mobile-width: 767px;


@tab-container-well-background: #e9e9e9;
@tab-container-well-border: #e5e5e5;


@blue:                  #5baadf;
@blueDark:              #214483;

@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

