@import "mixins.less";
@import "constants.less";


/* =========== Dashboard =========== */

.ns-dashboard {

    .sidebar-header {
        text-align: center;
        color: #333;
        background: #f0f0f0;
        padding: 10px;
        .rounded(10px);
    }

    .organisation-logo {
        margin-bottom: 0;
    }

    .organisation-logo h2 {
        color: @header-color;
        text-align: center;
        background-color: #f0f0f0;
        padding: 10px 20px;
        margin-bottom: 0;
        border-radius: 10px;
    }

    .partially-complete-incidents-message {
        padding: 4px 15px;
        background-color: #CCCCCC;
        .border-radius(5px, 0, 0, 5px);

        i {
            margin-right: 5px;
        }
    }

    .sidebar-incident-list {
        list-style-type: none;
        margin: 0 0 20px 0;

        li {
            padding: 10px 15px;
            background-color: #e9e9e9;
            border-bottom: 1px solid #cccccc;

            .incident-status-indicator {
                display: inline-block;
                width: 12px;
                height: 12px;
                .rounded(6px);
                margin-right: 4px;
            }

            .incident-status-indicator-partially-complete {
                background-color: @yellow;
            }
        }


    }

    .chart {
        background: url("../../img/spinner.gif") no-repeat center center #F5F5F5;
        min-height: 300px;
    }

    .chart-thumbnail {
        background: #f5f5f5;
    }

    .chart-thumbnail .caption {
        width: 100%;
        text-align: center;
        padding: 5px 0px 8px 0px;
    }

    .chart-thumbnail .caption h5 {
        font-size: 1.2em;
        font-weight: normal;
    }

    .thumbnail-with-actions {
        position: relative;
    }

    .thumbnail-actions {
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 2;
    }

    .datum-box {
        font-size: 1.2em;
        line-height: 1em;
        margin: 0 0 10px 0;
        text-align: left;
    }

    .datum-box-label {
        float: left;
        margin-right: 10px;
    }

    .datum-box-datum {
        color: #8cc63f;
    }

    .kpi-return-status {
        padding: 10px 15px;
        background-color: #e9e9e9;
        .rounded(5px);
        margin-bottom: 5px;
    }

    .kpi-status-indicator {
        display: inline-block;
        width: 12px;
        height: 12px;
        .rounded(6px);
    }

    .kpi-status-indicator-complete {
        background-color: @green;
    }

    .kpi-status-indicator-partially-complete {
        background-color: @yellow;
    }

    .kpi-status-indicator-incomplete {
        background-color: @red;
    }

    .kpi-return-status .kpi-status-indicator {
        margin-right: 5px;
    }

    .filters-title {
        font-size: 1em;
        float: left;
        margin: 0px 10px 9px 0;
        font-size: 1.2em;
        padding-top: 4px;
        color: #999999;
    }

    .btn-filter {
        margin-left: 0 !important;
        background: #f0f0f0;

        input[type="checkbox"] {
            margin-top: -4px;
            margin-right: 8px;
        }
    }

    .btn-group {
        margin-left: 0;
        margin-right: 5px;
        margin-bottom: 8px;
    }

    .btn-checkbox {
    }

    .pseudo-checkbox {
        background: url("../../img/checkbox-sprite.png") 0 0;
        display: block;
        float: left;
        width: 13px;
        height: 13px;
        margin-top: 3px;
        margin-right: 6px;

        &.checked {
            background: url("../../img/checkbox-sprite.png") 13px 0;
        }
    }

    .sites-dropdown-site {
        small {
            color: #aaa;
        }

        &:hover {
            small {
                color: #eee;
            }
        }
    }

    .btn-export {
    }

    .inbox-header {
        border: 1px solid #ccc;
        .border-radius(4px, 0px, 0px, 4px);
        background-color: #ccc;
        padding: 0px 15px;
        color: #555;
    }

    .empty-inbox-message {
        display: block;
        padding: 20px 15px;
        background-color: #e9e9e9;
        margin-bottom: 0px;
        border-bottom: 1px solid #ccc;
        color: #333;
    }

    .message {
        display: block;
        padding: 10px 15px;
        background-color: #e9e9e9;
        margin-bottom: 0px;
        border-bottom: 1px solid #ccc;
        color: #333;

        &:hover {
            background-color: #e0e0e0;
            color: #333;
            text-decoration: none;
            cursor: pointer;
        }

        i {
            margin-right: 5px;
        }

        .message-icon {
            float: left;
        }

        .message-content {
            padding-left: 23px;
            
            .message-date {
                font-size: 0.8em;
            }
        }
    }

    .inbox-footer {
        border: 1px solid #ccc;
        border-width-top: 0;
        .border-radius(0px, 4px, 4px, 0px);
        background-color: #ccc;
        padding: 0px 15px 3px 15px;
        color: #555;

        a {
            color: #555;
            font-style: italic;
        }
    }

    .big-value {
        color: #444;
        margin-top: 5px;
        text-align: center;
        font-size: 2.4em;
        font-weight: bold;
        .rounded(6px);
        padding: 20px 0 20px 0;
    }
}


.logo-background
{
  background: url("../../img/aca_logo.png") no-repeat;
  background-size: auto auto;
  min-height: 500px;
}

.dashboard-meter {
    height: 25px; width: 400px; margin-bottom: -4px;
    border-radius: 5px;

}

.dashboard-meter-text {
  color: @green;
  font-size: 16px;
  font-weight: bold;
}


.logo-background-small
{
  background: url("../../img/aca_logo.png") no-repeat;
  background-size: auto 200px ;
  height: 200px;
}

.login-shift {
    padding-left: 100px;
    padding-top: 5px;
}

.new-participant {
    margin-left: 450px;
    margin-top: 150px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    background: #0e90d2;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.login-front {
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    background: #0e90d2;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}