@import "mixins.less";
@import "constants.less";


.ns-external {

    .container-left {
        margin-top: -20px;
        left: 0px;
        width: 100%;
    }

    .landing-container {

        background: #ffffff url(../../img/white-leaves.png) repeat-x;
        width: 100%;


        margin-top: 0px;


        h2 {
            color: @header-color;
        }

        p {
            color: #777;
        }

        a {
            color: @blue;
        }

        .footer {
            p {
                color: #555;
                font-weight: normal;
            }
        }
    }

  h5 {
      margin: 0;
      color: @black;
      line-height: 28px;
      font-size: 20px;
  }

    input[type="checkbox"] {
      margin-top: -3px;
    }

    div .form_error label {
        color: #b22222 !important;
      }

      div .form_error input {
          border: 1px solid #b22222;
      }


    .logo-header {
      height: 300px;
      width: 100%;
      background: #67bff8;
      background: -moz-linear-gradient(top, #67bff8 0%, #d5edfd 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67bff8), color-stop(100%,#d5edfd)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #67bff8 0%,#d5edfd 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #67bff8 0%,#d5edfd 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #67bff8 0%,#d5edfd 100%); /* IE10+ */
      background: linear-gradient(to bottom, #67bff8 0%,#d5edfd 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67bff8', endColorstr='#d5edfd',GradientType=0 ); /* IE6-9 */
      border-bottom: 1px solid #5baadf;
      }

    .white-leaves {
      background: url(../../img/white-leaves.png) repeat-x;
      height: 300px;
    }

    .blue-leaves-landing-footer
    {
      margin-top: -35px;
      background: #fff url(../../img/blue-leaves-landing-footer.png) no-repeat;
      height: 200px;
      padding-top: 35px;
      background-position: top right;

    }

    .logo-header img {
       padding-top: 40px;
       padding-left: 30px;
       height: 200px;
    }

    .login-form {
      width: 100%;
      text-align: center;
    }

    .login-body {
      background: #f3f3f3;
      min-height: 300px;
      border: 1px solid #5baadf;
      border-top: none;
      border-left: none;
      width: 100%;

    }

    .login-member-link
    {
      font-size: 12px;
      color: #5ca9dd;
      margin-left: 100px;
      font-weight: normal;
    }

    .login-member-link a
      {
        color: #5ca9dd;
        text-decoration: underline;
      }

    .login-header {
      font-size: 20px;
      color: #214483;
      margin-bottom: 40px;
      padding-top: 40px;
      padding-left: 100px;
      font-weight: bold;
    }

    .login-label {
      font-size: 13px;
      color: #214483;
    }

    .login-input
    {
       border: 1px solid #cfcfcf;
       border-left: none;
    }

    .login-icon-input {
      border: 1px solid #cfcfcf;
      border-right: none;
      background: #ffffff;
    }



    .login-button {
       margin-top: 10px;
        background: #f8fafd;
        width: 80px;
        border-radius: 8px;
        border: 2px solid #b9c9d4;
        height: 18px;
        color: #214483 !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .login-remember-me {
      color: #bcb9b9; font-size: 12px;
      margin-left: 200px;
      margin-top: -28px;
    }

    .login-shift {
      margin-left: -110px;
      padding-top: 5px;
    }

    .register-body {
        background: #f3f3f3;
        min-height: 300px;
        border: 1px solid #5baadf;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
      }

    .masthead-logo {
        font-size: 0;
        background: url("../../img/logo-desktop-light.png") 0 0 no-repeat;
        height: 150px;
        margin-bottom: 20px;
    }

    .masthead-description {
        font-size: 1.3em;
        line-height: 1.3em;
        color: #777;
    }

    .masthead-thumbnails {
        margin-top: 30px;

        .masthead-thumbnail {
            color: #777;
            height: 170px;
            background-image: url("../../img/formbg.png");
            background-color: #222;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            border: 1px solid #222222;
            padding: 5px 20px;

            p {
                text-align: center;
            }

            h3 {
                color: #999;
                margin-top: 10px;
                margin-bottom: 6px;
                font-size: 1em;
                line-height: 1.1em;
                font-weight: bold;
                text-align: center;
            }

            .knowmore-icon {
                margin: 10px auto 0 auto;
                background-image: url("../../img/landing/knowmore_sprite.png");
                width: 50px;
                height: 49px;
            }

            .existingmember-icon {
                margin: 10px auto 0 auto;
                background-image: url("../../img/landing/existingmember_sprite.png");
                width: 100px;
                height: 50px;
            }

            .safetyalerts-icon {
                margin: 10px auto 0 auto;
                background-image: url("../../img/landing/reportincident_sprite.png");
                width: 100px;
                height: 50px;
            }

            .getinvolved-icon {
                margin: 10px auto 0 auto;
                background-image: url("../../img/landing/getinvolved_sprite.png");
                width: 100px;
                height: 50px;
            }

            &:hover {
                color: #aaa;
                text-decoration: none;
                border-color: @green;
                background-color: #272727;

                h3 {
                    color: #b5b5b5;
                }

                .knowmore-icon {
                    background-position: 0px 48px;
                }

                .existingmember-icon {
                    background-position: 0px 49px;
                }

                .safetyalerts-icon {
                    background-position: 0px 50px;
                }

                .getinvolved-icon {
                    background-position: 0px 48px;
                }
            }
        }
    }

    /* =========== Choose an organisation =========== */

    .organisation-chooser {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-top: 20px;

        li {
            text-align: center;
            margin-bottom: 10px;

            a {
                display: block;
                width: 350px;
                font-size: 1.2em;
                line-height: 1.4em;
                padding: 5px 15px;
                margin: 0 auto;
                background-color: #f7f7f7;
                color: #333;
                border: 1px solid #ccc;
                .rounded(5px);

                &:hover {
                    border: 1px solid #8cc63f;
                    background-color: #f0f0f0;
                    text-decoration: none;
                }
            }
        }
    }

    /* =========== Get Involved =========== */

    .ticket-code {
        color: #eee;
        font-size: 1.2em;
    }

    .step-list {
        list-style-type: none;
        margin: 0;
        font-size: 1.2em;

        li {
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
            color: #777;

            .step-marker {
                display: block;
                float: left;
                background-image: url("../../img/step-marker-light-sprite.png");
                width: 30px;
                height: 30px;
                margin-right: 17px;
                font-size: 15px;
                line-height: 29px;
                text-align: center;
                color: #242424;
                font-weight: bold;
            }

            &.complete {
                .step-marker {
                    background-image: url("../../img/step-marker-light-sprite.png");
                    background-position: 30px 0;
                    color: transparent;
                }
            }
        }

        &.affix {
            top: 90px;
        }
    }

    .form-external {
        margin-top: 20px;

        .form-help-activator {
            background-image: url("../../img/glyphicons-halflings-white.png");
        }

        .control-group.error {
            > label {
                color: #999;
            }

            .checkbox, .radio, input, select, textarea {
                color: #555555;
            }

            input:-moz-placeholder, textarea:-moz-placeholder {
              color: #999999;
            }

            input:-ms-input-placeholder, textarea:-ms-input-placeholder {
              color: #999999;
            }

            input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
              color: #999999;
            }

            input[type="submit"] {
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            }
        }

        .control-label, label {
            text-align: left;
            color: #999;
        }

        .control-group .controls ul {
            margin-top: 8px;
        }

        input[type="text"], select {
            background-color: #ddd;
            font-size: 1.3em;
            height: 1.3em;
            line-height: 1.3em;
        }

        textarea {
            background-color: #ddd;
            font-size: 1.3em;
            line-height: 1.3em;
            height: 100px;
            margin-bottom: 10px;
            margin-top: 5px;
        }

        select {
            height: 2em;
        }

        ul {
            margin: 0;
        }

        li {
            list-style-type: none;

            label {
                color: #777;
            }
        }

        li label input {
            margin-right: 9px;
        }

        .horizontal-choices {
            ul {
                margin-top: 7px;
                margin-left: 20px;

                li {
                    float: left;

                    label {
                        float: left;
                        margin-right: 20px;

                        input {
                            margin-right: 5px;
                            margin-top: 3px;
                        }
                    }
                }
            }
        }

        .chzn-container {
            .chzn-single {
                height: 1.8em;
                font-size: 1.3em;
                line-height: 1.8em;
                background-image: none;
                background-color: #ddd;
                color: #555;

                div {
                    top: 0.2em;
                }
            }

            .chzn-default {
                color: #999999;
            }

            .chzn-drop {
                background-color: #ddd;
            }

            .chzn-results {
                .group-result {
                    color: #777777;
                }
            }
        }

        .icon-info-sign {
            background-image: url("../../img/glyphicons-halflings-white.png");
        }

        .form-section-header {
            margin-left: 10px;
            margin-bottom: 5px;
            margin-top: 30px;
        }

        .form-section-well {
            background-color: #292929;
            background-image: url("../../img/formbg.png");
            border-color: #555;
            padding-bottom: 5px;

            p {
                color: #888;
            }

            hr {
                border-color: #5baadf;
            }
        }

        .terms-and-conditions {
            background-color: #333;
            padding: 10px;
            height: 300px;
            overflow-y: scroll;
            margin-top: 15px;
            margin-bottom: 22px;

            h3 {
                font-size: 1.1em;
                font-weight: bold;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }

            p {
                color: #999;
            }

            ul {
                margin-left: 20px;
                margin-bottom: 9px;

                li {
                    list-style-type: disc;
                    color: #999;
                    margin-bottom: 3px;
                }
            }
        }

        .terms-and-conditions-accept {
            margin-bottom: 15px;

            input {
                margin-top: -1px;
                margin-right: 7px;
                margin-left: 4px;
            }
        }
    }

    .out-of-office-message {
        color: #f0f0f0;
    }

    /* =========== Tooltips =========== */

    @tooltip-color: #f9f9f9;

    .tooltip-inner {
        background-color: @tooltip-color;
        color: #555;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: @tooltip-color;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: @tooltip-color;
    }

    .tooltip.left .tooltip-arrow {
        border-left-color: @tooltip-color;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: @tooltip-color;
    }
    
}
