@import "mixins.less";
@import "constants.less";


/* =========== Forms =========== */

.form-horizontal {
    .control-group-standalone {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.form-help-activator {
    padding-left: 4px;
    background: no-repeat;
    background-image: url("../../img/info.png");
    background-size: 21px auto;
    height: 21px;
    width: 21px;
    cursor: help;
}

.field-vertical {
    .form-help-activator {
        margin-top: 3px;
    }

    label {
        .field-notes {
            font-size: 0.8em;
            color: #777;
        }
    }
}

.placeholder {
    color: #999 !important;
}

.form-well {
    background: url("../../img/formbg.png") #f7f7f7;
    padding: 15px;
    padding-top: 29px;


    border-color: @blue;
    border-width: 1px;
    -moz-box-shadow: 2px 2px 5px #c0c0c0;
    -webkit-box-shadow: 2px 10px 5px #c0c0c0;
    box-shadow: 2px 2px 5px #c0c0c0;

    a {
        color: #333;

        &:focus {
            outline: none;
        }
    }

    h3 {
        font-weight: normal;
        padding: 5px 0;
        background-color: #f5f5f5;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 40px;
        .box-shadow(inset 1px 1px 2px 2px #ccc);
        .rounded(20px);
    }
}

.form-well-alt {
    background: url("../../img/formbg.png");
    padding: 15px;
    padding-top: 29px;


    border-color: #cccccc;
    border: 1px solid #cccccc;

    a {
        color: #333;

        &:focus {
            outline: none;
        }
    }

    h3 {
        font-weight: normal;
        padding: 5px 0;
        background-color: #f5f5f5;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 40px;
        .box-shadow(inset 1px 1px 2px 2px #ccc);
        .rounded(20px);
    }
}

.form-well-tabs {
    margin-bottom: 0;
    margin-left: 22px;
    border-bottom: none;

    li {
        a {
            font-size: 1em;
            font-weight: bold;
            background-color: #f7f7f7;
            border-bottom: none;
            color: #aaa;
            border-color: #ddd;
            margin-right: 2px;
            margin-bottom: 1px;

            &:hover {
                background-color: #f0f0f0;
                border-color: #ccc;
                color: #333;
            }
        }

        &.active {
            a {
                background-color: @green;
                text-shadow: 2px 2px 2px #616161;
                color: #ffffff;
                border-color: @green;
                border-bottom-width: 1px;
                margin-bottom: -1px;

                &:hover {
                    background-color: @green;
                    border-bottom-width: 1px;
                    margin-bottom: -1px;
                    border-color: @green;
                    color: #ffffff;
                }
            }
        }
    }
}

.control-group {
    ul {
        list-style: none;
        margin: 0 0 0 10px;

        li {
            label {
                min-height: 18px;
                padding-left: 18px;
                line-height: 16px;

                input[type="radio"], input[type="checkbox"] {
                    float: left;
                    margin-left: -18px;
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }
        }
    }

    .controls {
        ul {
            margin: 8px 0 0 0;
        }
    }
}

label {
    &.required {
        font-weight: bold;
    }
}

textarea {
    height: 130px;

    &.short {
        height: 73px;
    }
}

.control-label {
    span {
        display: block;
        font-size: 0.8em;
        font-weight: normal;
        color: #777;
        line-height: 1.3em;
    }
}

.horizontal {
    .controls {
        div {
            > ul {
                li {
                    float: left;
                    margin-left: 15px;
                    padding-top: 5px;

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

.form-horizontal-narrow {
    .control-label {
        width: 80px;
    }

    .controls {
        margin-left: 100px;
    }


}


.big-choices, .big-choices ul {
    list-style-type: none;
    margin: 0;

    li {
        float: left;
        margin-right: 20px;
        background-color: #ffffff;
        .rounded(6px);
        .box-shadow(0 1px 4px rgba(0,0,0,.065));
        border: 1px solid #cccccc;

        label {
            font-size: 1.2em;
            padding: 5px 10px 1px 10px;

            input[type="radio"], input[type="checkbox"] {
                margin-left: 0;
                margin-right: 0;
                margin-top: -2px;
            }
        }
    }
}


.field-suffix {
    display: inline-block;
    color: #777;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 2px;
}

.input-stacked {
    margin-top: 4px;
}

.ui-autocomplete{ max-height: 100px; overflow-y: auto; overflow-x: hidden; }

.well {
    .field-horizontal {
        &:last-child {
            margin-bottom: 0px;
        }

    }
}

.form-standard {
    .oversize {
        font-size: 1.6em;
        line-height: 1em;
        height: 2em;
    }

    .field-horizontal {
        .control-label {
            width: 190px;
            text-align: left;
            font-size: 14px;
            line-height: 1em;
            font-weight: normal;
            color: #555;
        }

        .controls {
            margin-left: 140px;
        }
    }

    .field-vertical {
        > label {
            font-size: 14px;
            line-height: 1.3em;
            margin-bottom: 10px;
            color: #555;

            &.required {
                font-weight: normal;
            }
        }

        ul {
            li {
                label {
                    input {
                        margin-top: 2px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .big-choices {
        .field-vertical {
            ul {
                li {
                    label {
                        input {
                            margin-top: 2px;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }

    .attachment-uploader {
        margin-top: 20px;
    }

    .attachment {
        display: block;
        margin-bottom: 5px;
        padding: 5px 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        .rounded(4px);

        a {
            &.attachment-download-link {
                display: block;
                padding: 0;
                color: #0088CC;
                margin-right: 10px;
                margin-top: 2px;

                &:hover {
                    border-color: @green;
                    text-decoration: none;
                }
            }

            &.attachment-delete-link {
                float: right;
                width: 16px;
                margin-top: -2px;
            }
        }

      .attachment-share-link {
           float: right;
          margin-right: 70px;
           width: 125px;
           margin-top: -32px;
      }
    }
}
