.icon-grey {
    opacity: 0.6;
}

.icon-pdf{
    background: url("../../img/icon-pdf.png") no-repeat top left;
    margin-right: 3px;
}


/* =========== Big Glyphicons =========== */

[class^="bigicon-"],
[class*=" bigicon-"] {
    display: inline-block;
    vertical-align: text-top;
    background: url(../../img/glyphicons-black.png) no-repeat top left;
}

.bigicon-grey {
    opacity: 0.6;
}

.bigicon-lightgrey {
    opacity: 0.3;
}

.bigicon-excel{ background: url("../../img/bigicon-excel.png") no-repeat top left; width: 26px; height: 26px; }

.bigicon-4square{ background-position: 0 0; width: 24px; height: 24px; } 
.bigicon-adjust{ background-position: 0 -74px; width: 26px; height: 26px; } 
.bigicon-adjust_alt{ background-position: 0 -150px; width: 23px; height: 24px; } 
.bigicon-adress_book{ background-position: 0 -224px; width: 22px; height: 24px; } 
.bigicon-airplane{ background-position: 0 -298px; width: 24px; height: 25px; } 
.bigicon-alarm{ background-position: 0 -373px; width: 28px; height: 26px; } 
.bigicon-albums{ background-position: 0 -449px; width: 28px; height: 18px; } 
.bigicon-align_center{ background-position: 0 -517px; width: 24px; height: 21px; } 
.bigicon-align_left{ background-position: 0 -588px; width: 24px; height: 21px; } 
.bigicon-align_right{ background-position: 0 -659px; width: 24px; height: 21px; } 
.bigicon-amazon{ background-position: 0 -730px; width: 24px; height: 24px; } 
.bigicon-anchor{ background-position: 0 -804px; width: 24px; height: 25px; } 
.bigicon-announcement{ background-position: 0 -879px; width: 25px; height: 20px; } 
.bigicon-asterisk{ background-position: 0 -949px; width: 20px; height: 20px; } 
.bigicon-attach{ background-position: 0 -1019px; width: 26px; height: 24px; } 
.bigicon-ax{ background-position: 0 -1093px; width: 27px; height: 25px; } 
.bigicon-ban{ background-position: 0 -1168px; width: 26px; height: 26px; } 
.bigicon-bank{ background-position: 0 -1244px; width: 24px; height: 24px; } 
.bigicon-barcode{ background-position: 0 -1318px; width: 24px; height: 24px; } 
.bigicon-baseball{ background-position: 0 -1392px; width: 25px; height: 26px; } 
.bigicon-beach_umbrella{ background-position: 0 -1468px; width: 25px; height: 25px; } 
.bigicon-beer{ background-position: 0 -1543px; width: 23px; height: 24px; } 
.bigicon-behance{ background-position: 0 -1617px; width: 24px; height: 24px; } 
.bigicon-bell{ background-position: 0 -1691px; width: 24px; height: 24px; } 
.bigicon-bin{ background-position: 0 -1765px; width: 20px; height: 28px; } 
.bigicon-binoculars{ background-position: 0 -1843px; width: 24px; height: 24px; } 
.bigicon-birthday_cake{ background-position: 0 -1917px; width: 26px; height: 29px; } 
.bigicon-blog{ background-position: -78px 0; width: 21px; height: 23px; } 
.bigicon-blogger{ background-position: -78px -73px; width: 24px; height: 24px; } 
.bigicon-bluetooth{ background-position: -78px -147px; width: 14px; height: 24px; } 
.bigicon-boat{ background-position: -78px -221px; width: 24px; height: 24px; } 
.bigicon-bold{ background-position: -78px -295px; width: 19px; height: 24px; } 
.bigicon-bomb{ background-position: -78px -369px; width: 27px; height: 26px; } 
.bigicon-book{ background-position: -78px -445px; width: 22px; height: 24px; } 
.bigicon-book_open{ background-position: -78px -519px; width: 25px; height: 23px; } 
.bigicon-bookmark{ background-position: -78px -592px; width: 16px; height: 24px; } 
.bigicon-bowling{ background-position: -78px -666px; width: 24px; height: 24px; } 
.bigicon-bp{ background-position: -78px -740px; width: 17px; height: 24px; } 
.bigicon-briefcase{ background-position: -78px -814px; width: 24px; height: 21px; } 
.bigicon-brightness_increase{ background-position: -78px -885px; width: 24px; height: 24px; } 
.bigicon-brightness_reduce{ background-position: -78px -959px; width: 20px; height: 20px; } 
.bigicon-brush{ background-position: -78px -1029px; width: 25px; height: 23px; } 
.bigicon-bullets{ background-position: -78px -1102px; width: 27px; height: 23px; } 
.bigicon-buoy{ background-position: -78px -1175px; width: 24px; height: 24px; } 
.bigicon-bus{ background-position: -78px -1249px; width: 32px; height: 25px; } 
.bigicon-buzz{ background-position: -78px -1324px; width: 24px; height: 24px; } 
.bigicon-cake{ background-position: -78px -1398px; width: 22px; height: 24px; } 
.bigicon-calculator{ background-position: -78px -1472px; width: 21px; height: 24px; } 
.bigicon-calendar{ background-position: -78px -1546px; width: 23px; height: 25px; } 
.bigicon-camera{ background-position: -78px -1621px; width: 26px; height: 20px; } 
.bigicon-camera_small{ background-position: -78px -1691px; width: 22px; height: 24px; } 
.bigicon-candle{ background-position: -78px -1765px; width: 20px; height: 25px; } 
.bigicon-car{ background-position: -78px -1840px; width: 26px; height: 22px; } 
.bigicon-cardio{ background-position: -78px -1912px; width: 25px; height: 26px; } 
.bigicon-cargo{ background-position: -160px 0; width: 25px; height: 26px; } 
.bigicon-cars{ background-position: -160px -76px; width: 36px; height: 25px; } 
.bigicon-cart_in{ background-position: -160px -151px; width: 26px; height: 24px; } 
.bigicon-cart_out{ background-position: -160px -225px; width: 26px; height: 25px; } 
.bigicon-celebration{ background-position: -160px -300px; width: 24px; height: 25px; } 
.bigicon-certificate{ background-position: -160px -375px; width: 17px; height: 25px; } 
.bigicon-charts{ background-position: -160px -450px; width: 27px; height: 24px; } 
.bigicon-chat{ background-position: -160px -524px; width: 24px; height: 19px; } 
.bigicon-check{ background-position: -160px -593px; width: 22px; height: 18px; } 
.bigicon-circle_arrow_down{ background-position: -160px -661px; width: 26px; height: 26px; } 
.bigicon-circle_arrow_left{ background-position: -160px -737px; width: 26px; height: 26px; } 
.bigicon-circle_arrow_right{ background-position: -160px -813px; width: 26px; height: 26px; } 
.bigicon-circle_arrow_top{ background-position: -160px -889px; width: 26px; height: 26px; } 
.bigicon-circle_exclamation_mark{ background-position: -160px -965px; width: 26px; height: 26px; } 
.bigicon-circle_info{ background-position: -160px -1041px; width: 26px; height: 26px; } 
.bigicon-circle_minus{ background-position: -160px -1117px; width: 26px; height: 26px; } 
.bigicon-circle_ok{ background-position: -160px -1193px; width: 26px; height: 26px; } 
.bigicon-circle_plus{ background-position: -160px -1269px; width: 26px; height: 26px; } 
.bigicon-circle_question_mark{ background-position: -160px -1345px; width: 26px; height: 26px; } 
.bigicon-circle_remove{ background-position: -160px -1421px; width: 26px; height: 26px; } 
.bigicon-cleaning{ background-position: -160px -1497px; width: 24px; height: 25px; } 
.bigicon-clock{ background-position: -160px -1572px; width: 24px; height: 24px; } 
.bigicon-cloud{ background-position: -160px -1646px; width: 27px; height: 17px; } 
.bigicon-coffe_cup{ background-position: -160px -1713px; width: 25px; height: 19px; } 
.bigicon-cogwheel{ background-position: -160px -1782px; width: 24px; height: 24px; } 
.bigicon-cogwheels{ background-position: -160px -1856px; width: 26px; height: 26px; } 
.bigicon-comments{ background-position: -160px -1932px; width: 24px; height: 23px; } 
.bigicon-compass{ background-position: -246px 0; width: 24px; height: 24px; } 
.bigicon-computer_locked{ background-position: -246px -74px; width: 28px; height: 24px; } 
.bigicon-computer_proces{ background-position: -246px -148px; width: 28px; height: 24px; } 
.bigicon-computer_service{ background-position: -246px -222px; width: 28px; height: 24px; } 
.bigicon-conversation{ background-position: -246px -296px; width: 25px; height: 18px; } 
.bigicon-credit{ background-position: -246px -364px; width: 26px; height: 24px; } 
.bigicon-credit_card{ background-position: -246px -438px; width: 26px; height: 19px; } 
.bigicon-crop{ background-position: -246px -507px; width: 26px; height: 26px; } 
.bigicon-cup{ background-position: -246px -583px; width: 22px; height: 24px; } 
.bigicon-cutlery{ background-position: -246px -657px; width: 13px; height: 24px; } 
.bigicon-dashboard{ background-position: -246px -731px; width: 24px; height: 24px; } 
.bigicon-database_ban{ background-position: -246px -805px; width: 26px; height: 27px; } 
.bigicon-database_lock{ background-position: -246px -882px; width: 26px; height: 28px; } 
.bigicon-database_minus{ background-position: -246px -960px; width: 27px; height: 27px; } 
.bigicon-database_plus{ background-position: -246px -1037px; width: 27px; height: 27px; } 
.bigicon-delete_point{ background-position: -246px -1114px; width: 26px; height: 17px; } 
.bigicon-deviantart{ background-position: -246px -1181px; width: 24px; height: 24px; } 
.bigicon-direction{ background-position: -246px -1255px; width: 26px; height: 26px; } 
.bigicon-dislikes{ background-position: -246px -1331px; width: 26px; height: 24px; } 
.bigicon-display{ background-position: -246px -1405px; width: 28px; height: 24px; } 
.bigicon-divide{ background-position: -246px -1479px; width: 18px; height: 16px; } 
.bigicon-dog{ background-position: -246px -1545px; width: 26px; height: 25px; } 
.bigicon-down_arrow{ background-position: -246px -1620px; width: 18px; height: 20px; } 
.bigicon-download{ background-position: -246px -1690px; width: 26px; height: 26px; } 
.bigicon-download_alt{ background-position: -246px -1766px; width: 24px; height: 24px; } 
.bigicon-dribbble{ background-position: -246px -1840px; width: 24px; height: 24px; } 
.bigicon-drink{ background-position: -246px -1914px; width: 23px; height: 24px; } 
.bigicon-dropbox{ background-position: -332px 0; width: 24px; height: 24px; } 
.bigicon-dumbbell{ background-position: -332px -74px; width: 26px; height: 16px; } 
.bigicon-e-mail{ background-position: -332px -140px; width: 24px; height: 24px; } 
.bigicon-ear_plugs{ background-position: -332px -214px; width: 20px; height: 24px; } 
.bigicon-edit{ background-position: -332px -288px; width: 24px; height: 21px; } 
.bigicon-eject{ background-position: -332px -359px; width: 18px; height: 17px; } 
.bigicon-electrical_plug{ background-position: -332px -426px; width: 18px; height: 25px; } 
.bigicon-electrical_socket_eu{ background-position: -332px -501px; width: 23px; height: 23px; } 
.bigicon-electrical_socket_us{ background-position: -332px -574px; width: 23px; height: 23px; } 
.bigicon-electricity{ background-position: -332px -647px; width: 11px; height: 24px; } 
.bigicon-embed{ background-position: -332px -721px; width: 30px; height: 14px; } 
.bigicon-embed_close{ background-position: -332px -785px; width: 30px; height: 24px; } 
.bigicon-envelope{ background-position: -332px -859px; width: 24px; height: 16px; } 
.bigicon-euro{ background-position: -332px -925px; width: 22px; height: 23px; } 
.bigicon-evernote{ background-position: -332px -998px; width: 24px; height: 24px; } 
.bigicon-eye_close{ background-position: -332px -1072px; width: 31px; height: 24px; } 
.bigicon-eye_open{ background-position: -332px -1146px; width: 31px; height: 17px; } 
.bigicon-fabric{ background-position: -332px -1213px; width: 27px; height: 22px; } 
.bigicon-facebook{ background-position: -332px -1285px; width: 24px; height: 24px; } 
.bigicon-facetime_video{ background-position: -332px -1359px; width: 24px; height: 16px; } 
.bigicon-fast_backward{ background-position: -332px -1425px; width: 25px; height: 18px; } 
.bigicon-fast_food{ background-position: -332px -1493px; width: 28px; height: 24px; } 
.bigicon-fast_forward{ background-position: -332px -1567px; width: 25px; height: 18px; } 
.bigicon-female{ background-position: -332px -1635px; width: 16px; height: 27px; } 
.bigicon-file{ background-position: -332px -1712px; width: 19px; height: 24px; } 
.bigicon-file_export{ background-position: -332px -1786px; width: 23px; height: 24px; } 
.bigicon-file_import{ background-position: -332px -1860px; width: 22px; height: 24px; } 
.bigicon-film{ background-position: -332px -1934px; width: 22px; height: 26px; } 
.bigicon-filter{ background-position: -418px 0; width: 20px; height: 24px; } 
.bigicon-fins{ background-position: -418px -74px; width: 31px; height: 27px; } 
.bigicon-fire{ background-position: -418px -151px; width: 20px; height: 26px; } 
.bigicon-fishes{ background-position: -418px -227px; width: 28px; height: 30px; } 
.bigicon-flag{ background-position: -418px -307px; width: 21px; height: 26px; } 
.bigicon-flash{ background-position: -418px -383px; width: 14px; height: 25px; } 
.bigicon-flickr{ background-position: -418px -458px; width: 24px; height: 24px; } 
.bigicon-flower{ background-position: -418px -532px; width: 19px; height: 25px; } 
.bigicon-folder_flag{ background-position: -418px -607px; width: 27px; height: 25px; } 
.bigicon-folder_lock{ background-position: -418px -682px; width: 28px; height: 26px; } 
.bigicon-folder_minus{ background-position: -418px -758px; width: 29px; height: 25px; } 
.bigicon-folder_new{ background-position: -418px -833px; width: 28px; height: 24px; } 
.bigicon-folder_open{ background-position: -418px -907px; width: 30px; height: 22px; } 
.bigicon-folder_plus{ background-position: -418px -979px; width: 29px; height: 25px; } 
.bigicon-font{ background-position: -418px -1054px; width: 27px; height: 23px; } 
.bigicon-forrst{ background-position: -418px -1127px; width: 24px; height: 24px; } 
.bigicon-forward{ background-position: -418px -1201px; width: 23px; height: 18px; } 
.bigicon-french_press{ background-position: -418px -1269px; width: 23px; height: 25px; } 
.bigicon-fullscreen{ background-position: -418px -1344px; width: 24px; height: 24px; } 
.bigicon-gamepad{ background-position: -418px -1418px; width: 27px; height: 19px; } 
.bigicon-gift{ background-position: -418px -1487px; width: 24px; height: 25px; } 
.bigicon-girl{ background-position: -418px -1562px; width: 22px; height: 22px; } 
.bigicon-github{ background-position: -418px -1634px; width: 24px; height: 24px; } 
.bigicon-glass{ background-position: -418px -1708px; width: 24px; height: 24px; } 
.bigicon-globe{ background-position: -418px -1782px; width: 24px; height: 24px; } 
.bigicon-google_alt{ background-position: -418px -1856px; width: 24px; height: 24px; } 
.bigicon-google_maps{ background-position: -418px -1930px; width: 15px; height: 24px; } 
.bigicon-google_plus{ background-position: -504px 0; width: 24px; height: 24px; } 
.bigicon-grater{ background-position: -504px -74px; width: 18px; height: 24px; } 
.bigicon-group{ background-position: -504px -148px; width: 35px; height: 22px; } 
.bigicon-hand_down{ background-position: -504px -220px; width: 19px; height: 27px; } 
.bigicon-hand_left{ background-position: -504px -297px; width: 26px; height: 19px; } 
.bigicon-hand_right{ background-position: -504px -366px; width: 26px; height: 19px; } 
.bigicon-hand_up{ background-position: -504px -435px; width: 19px; height: 26px; } 
.bigicon-hdd{ background-position: -504px -511px; width: 24px; height: 21px; } 
.bigicon-headphones{ background-position: -504px -582px; width: 24px; height: 24px; } 
.bigicon-headset{ background-position: -504px -656px; width: 24px; height: 28px; } 
.bigicon-heart{ background-position: -504px -734px; width: 24px; height: 22px; } 
.bigicon-heat{ background-position: -504px -806px; width: 29px; height: 25px; } 
.bigicon-history{ background-position: -504px -881px; width: 25px; height: 26px; } 
.bigicon-home{ background-position: -504px -957px; width: 27px; height: 26px; } 
.bigicon-hospital{ background-position: -504px -1033px; width: 24px; height: 24px; } 
.bigicon-hospital_h{ background-position: -504px -1107px; width: 24px; height: 24px; } 
.bigicon-imac{ background-position: -504px -1181px; width: 26px; height: 22px; } 
.bigicon-inbox{ background-position: -504px -1253px; width: 24px; height: 23px; } 
.bigicon-inbox_in{ background-position: -504px -1326px; width: 24px; height: 26px; } 
.bigicon-inbox_lock{ background-position: -504px -1402px; width: 26px; height: 28px; } 
.bigicon-inbox_minus{ background-position: -504px -1480px; width: 27px; height: 27px; } 
.bigicon-inbox_out{ background-position: -504px -1557px; width: 24px; height: 26px; } 
.bigicon-inbox_plus{ background-position: -504px -1633px; width: 27px; height: 27px; } 
.bigicon-instapaper{ background-position: -504px -1710px; width: 24px; height: 24px; } 
.bigicon-ipad{ background-position: -504px -1784px; width: 20px; height: 27px; } 
.bigicon-iphone{ background-position: -504px -1861px; width: 14px; height: 24px; } 
.bigicon-iphone_exchange{ background-position: -504px -1935px; width: 29px; height: 24px; } 
.bigicon-iphone_shake{ background-position: -590px 0; width: 24px; height: 24px; } 
.bigicon-iphone_transfer{ background-position: -590px -74px; width: 29px; height: 24px; } 
.bigicon-ipod{ background-position: -590px -148px; width: 14px; height: 22px; } 
.bigicon-ipod_shuffle{ background-position: -590px -220px; width: 15px; height: 13px; } 
.bigicon-italic{ background-position: -590px -283px; width: 14px; height: 24px; } 
.bigicon-jolicloud{ background-position: -590px -357px; width: 24px; height: 24px; } 
.bigicon-justify{ background-position: -590px -431px; width: 24px; height: 21px; } 
.bigicon-kettle{ background-position: -590px -502px; width: 23px; height: 24px; } 
.bigicon-keyboard_wired{ background-position: -590px -576px; width: 27px; height: 25px; } 
.bigicon-keyboard_wireless{ background-position: -590px -651px; width: 27px; height: 19px; } 
.bigicon-keynote{ background-position: -590px -720px; width: 20px; height: 30px; } 
.bigicon-keys{ background-position: -590px -800px; width: 24px; height: 26px; } 
.bigicon-last_fm{ background-position: -590px -876px; width: 24px; height: 24px; } 
.bigicon-leaf{ background-position: -590px -950px; width: 24px; height: 25px; } 
.bigicon-leather{ background-position: -590px -1025px; width: 23px; height: 24px; } 
.bigicon-left_arrow{ background-position: -590px -1099px; width: 20px; height: 18px; } 
.bigicon-left_indent{ background-position: -590px -1167px; width: 24px; height: 22px; } 
.bigicon-lightbulb{ background-position: -590px -1239px; width: 20px; height: 26px; } 
.bigicon-link{ background-position: -590px -1315px; width: 21px; height: 23px; } 
.bigicon-linked_in{ background-position: -590px -1388px; width: 24px; height: 24px; } 
.bigicon-list{ background-position: -590px -1462px; width: 24px; height: 21px; } 
.bigicon-lock{ background-position: -590px -1533px; width: 21px; height: 26px; } 
.bigicon-log_book{ background-position: -590px -1609px; width: 22px; height: 24px; } 
.bigicon-luggage{ background-position: -590px -1683px; width: 20px; height: 27px; } 
.bigicon-macbook{ background-position: -590px -1760px; width: 28px; height: 15px; } 
.bigicon-magic{ background-position: -590px -1825px; width: 24px; height: 24px; } 
.bigicon-magnet{ background-position: -590px -1899px; width: 21px; height: 23px; } 
.bigicon-male{ background-position: -676px 0; width: 22px; height: 22px; } 
.bigicon-message_ban{ background-position: -676px -72px; width: 29px; height: 23px; } 
.bigicon-message_empty{ background-position: -676px -145px; width: 24px; height: 28px; } 
.bigicon-message_flag{ background-position: -676px -223px; width: 27px; height: 23px; } 
.bigicon-message_full{ background-position: -676px -296px; width: 24px; height: 28px; } 
.bigicon-message_in{ background-position: -676px -374px; width: 24px; height: 28px; } 
.bigicon-message_lock{ background-position: -676px -452px; width: 28px; height: 24px; } 
.bigicon-message_minus{ background-position: -676px -526px; width: 29px; height: 23px; } 
.bigicon-message_new{ background-position: -676px -599px; width: 28px; height: 22px; } 
.bigicon-message_out{ background-position: -676px -671px; width: 24px; height: 28px; } 
.bigicon-message_plus{ background-position: -676px -749px; width: 29px; height: 23px; } 
.bigicon-microphone{ background-position: -676px -822px; width: 17px; height: 24px; } 
.bigicon-moon{ background-position: -676px -896px; width: 22px; height: 25px; } 
.bigicon-more-items{ background-position: -676px -971px; width: 21px; height: 24px; } 
.bigicon-more{ background-position: -676px -1045px; width: 22px; height: 7px; } 
.bigicon-more_windows{ background-position: -676px -1102px; width: 23px; height: 23px; } 
.bigicon-move{ background-position: -676px -1175px; width: 24px; height: 24px; } 
.bigicon-music{ background-position: -676px -1249px; width: 21px; height: 25px; } 
.bigicon-mute{ background-position: -676px -1324px; width: 22px; height: 16px; } 
.bigicon-nameplate{ background-position: -676px -1390px; width: 24px; height: 21px; } 
.bigicon-nameplate_alt{ background-position: -676px -1461px; width: 24px; height: 22px; } 
.bigicon-new_window{ background-position: -676px -1533px; width: 26px; height: 22px; } 
.bigicon-note{ background-position: -676px -1605px; width: 18px; height: 25px; } 
.bigicon-notes{ background-position: -676px -1680px; width: 20px; height: 25px; } 
.bigicon-notes_2{ background-position: -676px -1755px; width: 20px; height: 27px; } 
.bigicon-ok{ background-position: -676px -1832px; width: 26px; height: 26px; } 
.bigicon-ok_2{ background-position: -676px -1908px; width: 25px; height: 19px; } 
.bigicon-old_man{ background-position: -762px 0; width: 23px; height: 24px; } 
.bigicon-oxygen_bottle{ background-position: -762px -74px; width: 22px; height: 27px; } 
.bigicon-pants{ background-position: -762px -151px; width: 19px; height: 24px; } 
.bigicon-parents{ background-position: -762px -225px; width: 32px; height: 22px; } 
.bigicon-pause{ background-position: -762px -297px; width: 10px; height: 16px; } 
.bigicon-pen{ background-position: -762px -363px; width: 24px; height: 24px; } 
.bigicon-pencil{ background-position: -762px -437px; width: 25px; height: 25px; } 
.bigicon-phone{ background-position: -762px -512px; width: 15px; height: 25px; } 
.bigicon-piano{ background-position: -762px -587px; width: 23px; height: 24px; } 
.bigicon-picasa{ background-position: -762px -661px; width: 24px; height: 24px; } 
.bigicon-picture{ background-position: -762px -735px; width: 24px; height: 20px; } 
.bigicon-pie_chart{ background-position: -762px -805px; width: 26px; height: 25px; } 
.bigicon-pin{ background-position: -762px -880px; width: 10px; height: 25px; } 
.bigicon-pin_classic{ background-position: -762px -955px; width: 24px; height: 24px; } 
.bigicon-pin_flag{ background-position: -762px -1029px; width: 30px; height: 22px; } 
.bigicon-pinboard{ background-position: -762px -1101px; width: 24px; height: 24px; } 
.bigicon-pinterest{ background-position: -762px -1175px; width: 24px; height: 24px; } 
.bigicon-pizza{ background-position: -762px -1249px; width: 26px; height: 29px; } 
.bigicon-play{ background-position: -762px -1328px; width: 16px; height: 18px; } 
.bigicon-play_button{ background-position: -762px -1396px; width: 26px; height: 26px; } 
.bigicon-playing_dices{ background-position: -762px -1472px; width: 27px; height: 23px; } 
.bigicon-playlist{ background-position: -762px -1545px; width: 29px; height: 24px; } 
.bigicon-podium{ background-position: -762px -1619px; width: 28px; height: 21px; } 
.bigicon-pool{ background-position: -762px -1690px; width: 24px; height: 24px; } 
.bigicon-pot{ background-position: -762px -1764px; width: 27px; height: 22px; } 
.bigicon-power{ background-position: -762px -1836px; width: 22px; height: 24px; } 
.bigicon-print{ background-position: -762px -1910px; width: 24px; height: 24px; } 
.bigicon-projector{ background-position: -848px 0; width: 28px; height: 25px; } 
.bigicon-qrcode{ background-position: -848px -75px; width: 24px; height: 24px; } 
.bigicon-quora{ background-position: -848px -149px; width: 24px; height: 24px; } 
.bigicon-rabbit{ background-position: -848px -223px; width: 26px; height: 22px; } 
.bigicon-random{ background-position: -848px -295px; width: 28px; height: 20px; } 
.bigicon-read_it_later{ background-position: -848px -365px; width: 24px; height: 24px; } 
.bigicon-readability{ background-position: -848px -439px; width: 24px; height: 24px; } 
.bigicon-refresh{ background-position: -848px -513px; width: 25px; height: 26px; } 
.bigicon-remove{ background-position: -848px -589px; width: 26px; height: 26px; } 
.bigicon-remove_2{ background-position: -848px -665px; width: 18px; height: 18px; } 
.bigicon-repeat{ background-position: -848px -733px; width: 24px; height: 26px; } 
.bigicon-resize_full{ background-position: -848px -809px; width: 24px; height: 24px; } 
.bigicon-resize_small{ background-position: -848px -883px; width: 24px; height: 24px; } 
.bigicon-retweet{ background-position: -848px -957px; width: 30px; height: 15px; } 
.bigicon-retweet_2{ background-position: -848px -1022px; width: 33px; height: 21px; } 
.bigicon-rewind{ background-position: -848px -1093px; width: 23px; height: 18px; } 
.bigicon-riflescope{ background-position: -848px -1161px; width: 25px; height: 25px; } 
.bigicon-right_arrow{ background-position: -848px -1236px; width: 20px; height: 18px; } 
.bigicon-right_indent{ background-position: -848px -1304px; width: 24px; height: 22px; } 
.bigicon-ring{ background-position: -848px -1376px; width: 21px; height: 24px; } 
.bigicon-road{ background-position: -848px -1450px; width: 28px; height: 24px; } 
.bigicon-rotation_lock{ background-position: -848px -1524px; width: 27px; height: 24px; } 
.bigicon-roundabout{ background-position: -848px -1598px; width: 27px; height: 27px; } 
.bigicon-router{ background-position: -848px -1675px; width: 27px; height: 26px; } 
.bigicon-rss{ background-position: -848px -1751px; width: 24px; height: 24px; } 
.bigicon-rugby{ background-position: -848px -1825px; width: 23px; height: 24px; } 
.bigicon-ruller{ background-position: -848px -1899px; width: 27px; height: 14px; } 
.bigicon-sampler{ background-position: -934px 0; width: 27px; height: 22px; } 
.bigicon-scissors{ background-position: -934px -72px; width: 24px; height: 27px; } 
.bigicon-screenshot{ background-position: -934px -149px; width: 27px; height: 27px; } 
.bigicon-scuba_diving{ background-position: -934px -226px; width: 27px; height: 24px; } 
.bigicon-search{ background-position: -934px -300px; width: 24px; height: 24px; } 
.bigicon-settings{ background-position: -934px -374px; width: 24px; height: 24px; } 
.bigicon-share{ background-position: -934px -448px; width: 24px; height: 18px; } 
.bigicon-share_alt{ background-position: -934px -516px; width: 22px; height: 22px; } 
.bigicon-sheriffs_-star{ background-position: -934px -588px; width: 24px; height: 26px; } 
.bigicon-shield{ background-position: -934px -664px; width: 22px; height: 24px; } 
.bigicon-shopping_bag{ background-position: -934px -738px; width: 23px; height: 26px; } 
.bigicon-shopping_cart{ background-position: -934px -814px; width: 26px; height: 23px; } 
.bigicon-show_big_thumbnails{ background-position: -934px -887px; width: 22px; height: 22px; } 
.bigicon-show_lines{ background-position: -934px -959px; width: 24px; height: 15px; } 
.bigicon-show_thumbnails{ background-position: -934px -1024px; width: 22px; height: 22px; } 
.bigicon-show_thumbnails_with_lines{ background-position: -934px -1096px; width: 24px; height: 15px; } 
.bigicon-signal{ background-position: -934px -1161px; width: 31px; height: 23px; } 
.bigicon-signal_alt{ background-position: -934px -1234px; width: 24px; height: 24px; } 
.bigicon-skitch{ background-position: -934px -1308px; width: 24px; height: 24px; } 
.bigicon-skull{ background-position: -934px -1382px; width: 22px; height: 24px; } 
.bigicon-skype{ background-position: -934px -1456px; width: 24px; height: 24px; } 
.bigicon-snorkel_diving{ background-position: -934px -1530px; width: 27px; height: 25px; } 
.bigicon-snowflake{ background-position: -934px -1605px; width: 28px; height: 28px; } 
.bigicon-sort{ background-position: -934px -1683px; width: 25px; height: 25px; } 
.bigicon-spade{ background-position: -934px -1758px; width: 24px; height: 24px; } 
.bigicon-spootify{ background-position: -934px -1832px; width: 24px; height: 24px; } 
.bigicon-star{ background-position: -934px -1906px; width: 25px; height: 24px; } 
.bigicon-stats{ background-position: -1020px 0; width: 26px; height: 25px; } 
.bigicon-step_backward{ background-position: -1020px -75px; width: 14px; height: 18px; } 
.bigicon-step_forward{ background-position: -1020px -143px; width: 14px; height: 18px; } 
.bigicon-stop{ background-position: -1020px -211px; width: 14px; height: 14px; } 
.bigicon-stopwatch{ background-position: -1020px -275px; width: 23px; height: 27px; } 
.bigicon-stroller{ background-position: -1020px -352px; width: 25px; height: 26px; } 
.bigicon-stumbleupon{ background-position: -1020px -428px; width: 24px; height: 24px; } 
.bigicon-suitcase{ background-position: -1020px -502px; width: 24px; height: 22px; } 
.bigicon-sun{ background-position: -1020px -574px; width: 24px; height: 24px; } 
.bigicon-sweater{ background-position: -1020px -648px; width: 29px; height: 24px; } 
.bigicon-t-shirt{ background-position: -1020px -722px; width: 28px; height: 23px; } 
.bigicon-table{ background-position: -1020px -795px; width: 24px; height: 24px; } 
.bigicon-table_tennis{ background-position: -1020px -869px; width: 24px; height: 24px; } 
.bigicon-tablet{ background-position: -1020px -943px; width: 25px; height: 25px; } 
.bigicon-tag{ background-position: -1020px -1018px; width: 24px; height: 24px; } 
.bigicon-tags{ background-position: -1020px -1092px; width: 30px; height: 24px; } 
.bigicon-tea_kettle{ background-position: -1020px -1166px; width: 26px; height: 23px; } 
.bigicon-temple_buddhist{ background-position: -1020px -1239px; width: 28px; height: 22px; } 
.bigicon-temple_christianity_church{ background-position: -1020px -1311px; width: 24px; height: 25px; } 
.bigicon-temple_hindu{ background-position: -1020px -1386px; width: 24px; height: 24px; } 
.bigicon-temple_islam{ background-position: -1020px -1460px; width: 25px; height: 24px; } 
.bigicon-text_bigger{ background-position: -1020px -1534px; width: 24px; height: 22px; } 
.bigicon-text_height{ background-position: -1020px -1606px; width: 26px; height: 24px; } 
.bigicon-text_resize{ background-position: -1020px -1680px; width: 26px; height: 26px; } 
.bigicon-text_smaller{ background-position: -1020px -1756px; width: 22px; height: 16px; } 
.bigicon-text_strike{ background-position: -1020px -1822px; width: 20px; height: 22px; } 
.bigicon-text_underline{ background-position: -1020px -1894px; width: 20px; height: 24px; } 
.bigicon-text_width{ background-position: -1106px 0; width: 22px; height: 24px; } 
.bigicon-thin_arrow_left{ background-position: -1106px -74px; width: 15px; height: 22px; } 
.bigicon-thin_right_arrow{ background-position: -1106px -146px; width: 15px; height: 22px; } 
.bigicon-thumbs_down{ background-position: -1106px -218px; width: 24px; height: 21px; } 
.bigicon-thumbs_up{ background-position: -1106px -289px; width: 24px; height: 21px; } 
.bigicon-tie{ background-position: -1106px -360px; width: 11px; height: 26px; } 
.bigicon-tint{ background-position: -1106px -436px; width: 23px; height: 26px; } 
.bigicon-train{ background-position: -1106px -512px; width: 20px; height: 27px; } 
.bigicon-tree_conifer{ background-position: -1106px -589px; width: 21px; height: 24px; } 
.bigicon-tree_deciduous{ background-position: -1106px -663px; width: 20px; height: 25px; } 
.bigicon-truck{ background-position: -1106px -738px; width: 32px; height: 27px; } 
.bigicon-tumblr{ background-position: -1106px -815px; width: 24px; height: 24px; } 
.bigicon-turtle{ background-position: -1106px -889px; width: 28px; height: 16px; } 
.bigicon-twitter{ background-position: -1106px -955px; width: 24px; height: 24px; } 
.bigicon-twitter_t{ background-position: -1106px -1029px; width: 24px; height: 24px; } 
.bigicon-umbrella{ background-position: -1106px -1103px; width: 26px; height: 28px; } 
.bigicon-unlock{ background-position: -1106px -1181px; width: 21px; height: 26px; } 
.bigicon-unshare{ background-position: -1106px -1257px; width: 24px; height: 18px; } 
.bigicon-up_arrow{ background-position: -1106px -1325px; width: 18px; height: 20px; } 
.bigicon-upload{ background-position: -1106px -1395px; width: 26px; height: 26px; } 
.bigicon-usd{ background-position: -1106px -1471px; width: 17px; height: 26px; } 
.bigicon-user{ background-position: -1106px -1547px; width: 23px; height: 22px; } 
.bigicon-user_add{ background-position: -1106px -1619px; width: 28px; height: 22px; } 
.bigicon-user_remove{ background-position: -1106px -1691px; width: 26px; height: 22px; } 
.bigicon-vases{ background-position: -1106px -1763px; width: 24px; height: 24px; } 
.bigicon-vcard{ background-position: -1106px -1837px; width: 22px; height: 24px; } 
.bigicon-vector_path_all{ background-position: -1106px -1911px; width: 24px; height: 24px; } 
.bigicon-vector_path_circle{ background-position: -1192px 0; width: 24px; height: 24px; } 
.bigicon-vector_path_curve{ background-position: -1192px -74px; width: 24px; height: 24px; } 
.bigicon-vector_path_line{ background-position: -1192px -148px; width: 24px; height: 24px; } 
.bigicon-vector_path_polygon{ background-position: -1192px -222px; width: 26px; height: 25px; } 
.bigicon-vector_path_square{ background-position: -1192px -297px; width: 24px; height: 24px; } 
.bigicon-vimeo{ background-position: -1192px -371px; width: 24px; height: 24px; } 
.bigicon-volume_down{ background-position: -1192px -445px; width: 16px; height: 16px; } 
.bigicon-volume_up{ background-position: -1192px -511px; width: 24px; height: 26px; } 
.bigicon-wallet{ background-position: -1192px -587px; width: 25px; height: 20px; } 
.bigicon-warning_sign{ background-position: -1192px -657px; width: 29px; height: 24px; } 
.bigicon-web_browser{ background-position: -1192px -731px; width: 24px; height: 22px; } 
.bigicon-webcam{ background-position: -1192px -803px; width: 19px; height: 24px; } 
.bigicon-wifi_alt{ background-position: -1192px -877px; width: 26px; height: 26px; } 
.bigicon-woman{ background-position: -1192px -953px; width: 22px; height: 22px; } 
.bigicon-wordpress{ background-position: -1192px -1025px; width: 24px; height: 24px; } 
.bigicon-xing{ background-position: -1192px -1099px; width: 24px; height: 24px; } 
.bigicon-yahoo{ background-position: -1192px -1173px; width: 24px; height: 24px; } 
.bigicon-youtube{ background-position: -1192px -1247px; width: 24px; height: 24px; } 
.bigicon-zoom_in{ background-position: -1192px -1321px; width: 25px; height: 25px; } 
.bigicon-zoom_out{ background-position: -1192px -1396px; width: 25px; height: 25px; } 
.bigicon-zootool{ background-position: -1192px -1471px; width: 24px; height: 24px; } 
