@import "mixins.less";
@import "constants.less";


.ns-internal {



/* Comments
-------------------------------------------------- */

.comment-meta {
  margin-bottom: 5px;
}

.comment-user {
  font-weight: bold;
  text-align: center;

}

.comment-list {
  margin-bottom: 10px;
}

.comment-delete-button {
  margin-top: -2px;
}

    /* =========== Header =========== */

    .internal-logo {
        font-size: 0;
        height: 79px;
        width: 299px;
        background: url("../../img/logo-small-light.png") 0 0 no-repeat transparent;
    }

    /* =========== Section info =========== */

  .landing-container {

          background: url(../../img/white-leaves.png) repeat-x;
          width: 100%;


          margin-top: -20px;


          h2 {
              color: @header-color;
          }

          p {
              color: #777;
          }

          a {
              color: @blueDark;
          }

          .footer {
              p {
                  color: #555;
                  font-weight: normal;
              }
          }
      }

     .logo-header {
        height: 250px;
        width: 100%;
        background: #67bff8;
        background: -moz-linear-gradient(top, #67bff8 0%, #d5edfd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67bff8), color-stop(100%,#d5edfd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #67bff8 0%,#d5edfd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #67bff8 0%,#d5edfd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #67bff8 0%,#d5edfd 100%); /* IE10+ */
        background: linear-gradient(to bottom, #67bff8 0%,#d5edfd 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67bff8', endColorstr='#d5edfd',GradientType=0 ); /* IE6-9 */
        border-bottom: 1px solid #67bff8;
     }

  h5 {
      margin: 0;
      color: @black;
      line-height: 28px;
      font-size: 20px;
  }


    .logo-header img {
           padding-top: 40px;
           padding-left: 30px;
           height: 180px;
        }

      .white-leaves {
        background: url(../../img/white-leaves.png) repeat-x;
        height: 250px;

      }

        .blue-leaves-landing-footer
      {
        border-top: 1px solid #67bff8;
        margin-top: -35px;
        background: url(../../img/blue-leaves-landing-footer.png) no-repeat;
        height: 200px;
        padding-top: 35px;
      }

    .section-info {
        padding-top: 10px;

        h1 {
            color: #777;
            font-family: HelveticaNeue;
            font-weight: normal;
            margin-top: 10px;
            text-align: right;
        }

        .section-info-subtitle {
            color: #666;
            text-align: right;
        }

        .section-info-image {
            margin-left: 10px;
            margin-top: 4px;
            padding: 2px;
            border: 1px solid #555;
        }
    }

    /* =========== Main Content Area =========== */

    .application-question
    {
      font-size: 16px;
    }

    .notifications-well {
      min-height: 20px;
      width: 100%;
      margin-bottom: 20px;
      background-color: @grayLight;
      border: 1px solid @grayLight;
      .border-radius(15px, 3px, 3px, 15px);
      .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
      box-shadow: 0px 3px 5px @grayLight;

      blockquote {
        border-color: #fff;
        border-color: rgba(0,0,0,.15);
      }
      color: @grayDark;
      font-size: 11px;
    }

    .notifications-well-large
    {
      min-height: 20px;
      width: 580px;
      margin-bottom: 20px;
      background-color: lighten(@grayLight, 13%);
      border: 1px solid lighten(@grayLight, 13%);
      .border-radius(12px, 3px, 3px, 12px);
      .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
      box-shadow: 0px 3px 5px #ccc;
      blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
      }
    }

  .notifications-header {
        padding: 19px;
        color: @gray;
        font-size: 20px;
        padding-left: 12px;
        box-shadow: 0px 3px 5px lighten(@grayLight, 13%);
    border: 1px solid lighten(@grayLight, 13%);
    .border-radius(15px, 3px, 3px, 15px);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
      }

      .notifications-item {
        background: @grayLighter;
        padding: 10px;
        border-bottom: 1px solid #aaaaaa;
      }

      .notifications-show-all{
        background: lighten(@grayLight, 13%);
        padding: 10px;
        text-align: center;
        color: @black;
      }

  .notifications-show-all a {

          color: @black;
        }

    div .error label {
      color: #b22222 !important;
    }

    div .error input {
        border: 1px solid #b22222;
    }

  .display_none {
    display: none;
  }
  .form-tab-content {
     border-width: 1px 1px 1px 1px;
     border-style: solid;
     border-color: #ddd;
     padding: 30px 30px 30px 30px;
     -webkit-box-shadow: 0px 3px 5px #ccc;
     -moz-box-shadow: 0px 3px 5px #ccc;
     box-shadow: 3px 2px 5px #ccc;
     overflow-y: none;
     overflow-x: none;
   }



/* Progress tracker
-------------------------------------------------- */

ul.progress-tracker {
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
}

.progress-tracker li {
  float: left;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #efefef;
  color: #9a9a9a;
  width: 145px;
  height: 36px;
}

.progress-tracker li.filler {
  float: none;
  overflow: hidden;
  width: auto;
  margin-right: 0;
}

.progress-tracker li.active {
  background-color: #cee7ff; /* light blue */
  color: #333;
}

.progress-tracker li.active .progress-tracker-entry-icon {
  opacity: 0.8;
}

.progress-tracker li.progress-tracker-draft-stage, li.progress-tracker-approved-stage {
  width: 120px;
}

.progress-tracker-entry-icon {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  opacity: 0.40;

}

.progress-tracker-entry-name {
  font-size: 0.8em;
  display: block;
}

.progress-tracker-entry-description {
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

/* Comments
-------------------------------------------------- */

.comment-meta {
  margin-bottom: 5px;
}

.comment-user {
  font-weight: bold;
}

.comment-list {
  margin-bottom: 10px;
}

.comment-delete-button {
  margin-top: -2px;
}



    .summary-group {
      border: 1px solid #d3d3d3;
      background: #f3f3f3;
      padding: 5px;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 30px;
    }

    input[type="checkbox"] {
      margin-top: -3px;
    }

    .internal-container
    {
        margin-top: 0px;
        background: @internal-container-color;
        width: 90%;
    }

    .internal-menu-link
    {
      background: #ffffff;
      color: @blueDark;
      margin-top: 10px;
      padding: 5px;
      padding-top: 0;
      font-size: 15px;
      margin-left: 32px;
      font-weight: bold;
    }

    .internal-menu a {
      text-decoration: none;
    }

    .internal-menu a:hover {
      color: darken(@blueDark, 12%);
    }

    .blue-tick {
      color: @blueDark;
    }

    .yellow-tick {
      color: @yellow !important;

    }

    .green-tick {
      color: @green;
    }

    .red-tick {
      color: @red;
    }

    .internal-menu .active
    {
      background: #ffffff;
      background-size: 30px auto;
      color: @blueDark;
      margin-top: 10px;
      padding: 5px;
      padding-top: 0;
      font-size: 15px;
      font-weight: bolder;
      box-shadow: 0px 3px 0px @blue;
    }

    .guidance-document {
      position: absolute;
      top: 230px;
      right: 20px;
      text-align: center;
    }

    .guidance-document a {
        color: @white;
    }

    .airport-logo {
        position: absolute;
        top: 15px;
        left: 20px;
        color: @blueDark;
        font-size: 20px;
    }

    .internal-content {
        margin-top: 0px;
        background: @internal-container-color;
        padding: 0px 10px 10px 20px;
    }


.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
}
.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}

    .tab-container {
        margin-top: 30px;

        .container-tabs {
            margin-bottom: 0;
            border-bottom: none;

            li {
                a {
                    background-color: #333;
                    border-bottom: none;
                    color: #777;
                    margin-right: 2px;
                    margin-bottom: 1px;

                    &:hover {
                        background-color: #444;
                        border-color: #555;
                        color: #999;
                    }
                }

                &.active { 
                    border-bottom: none;

                    &:hover {
                        border-bottom: none;
                    }

                    a {
                        margin-bottom: 0;
                        border-bottom: 1px solid @internal-container-color;
                        background-color: @internal-container-color;

                        &:hover {
                            border-bottom: 1px solid @internal-container-color;
                            color: #999;
                        }
                    }
                }

                &.lodge-tab {
                }
            }
        }
    }

    /* =========== Sidebars =========== */

    .fixed-sidebar-4 {
        &.affix {
            top: 63px;
        }
    }



    .sidebar {
        .nav-list {
            padding: 0;
            margin-bottom: 15px;
            background-color: #fff;
            .rounded(6px);
            .box-shadow(0 1px 4px rgba(0,0,0,.065));

            > li {
                > a {
                    display: block;
                    margin: 0 0 -1px;
                    padding: 8px 14px;
                    border: 1px solid #e5e5e5;
                }

                &:first-child {
                    > a {
                        .border-radius-top-right(6px);
                        .border-radius-top-left(6px);
                    }
                }

                &:last-child {
                    > a {
                        .border-radius-bottom-right(6px);
                        .border-radius-bottom-left(6px);
                    }
                }
            }

            > .active {
                > a {
                    position: relative;
                    z-index: 2;
                    padding: 9px 15px;
                    border: 0;
                    //text-shadow: 0 1px 0 rgba(0,0,0,.15);
                    .box-shadow(inset 1px 0 0 rgba(0,0,0,.1));
                }
            }
        }

        .organisation-logo {
            margin-bottom: 0px;
        }

        .subnav-list {
            > li {
                > a {
                    padding: 8px 14px;
                }
            }
            > .active {
                > a {
                    background-color: #999;
                    padding: 8px 15px;

                    &:hover {
                        background-color: #999;
                    }
                }
            }
        }
    }


    /* =========== List Views =========== */

    .results-table {
        border-top: 1px solid #ddd;
        margin-top: 20px;
    }

    .clickable-rows {
        cursor: pointer;
    }

    .people-list-avatar {
        img {
            background-color: white;
            padding: 2px;
            border: 1px solid #dddddd;
        }
    }


    /* =========== Details Views =========== */

    .details-box {
        background-color: white;
        padding: 10px;
        border: 1px solid #e0e0e0;
        margin-bottom: 10px;
        .box-shadow(0 1px 4px rgba(0,0,0,.065));
        .rounded(6px);

        h3 {
            font-size: 1.4em;
            text-align: left;
            background-color: #f0f0f0;
            .box-shadow(inset 0 1px 4px rgba(0,0,0,.065));
            .rounded(6px);
            margin-bottom: 4px;
            padding: 3px;
        }

        &.details-box-map {
            h3 {
                margin-bottom: 8px;
            }

            .map-canvas {
                .rounded(6px);
            }
        }

        table {
            margin-bottom: 0;

            tr {
                th {
                    border-top: 1px dotted #ddd;
                    color: #555555;
                    min-width: 180px;
                }

                td {
                    border-top: 1px dotted #ddd;
                }

                &:first-child {
                    th, td {
                        border-top: none;
                    }
                }
            }
        }

        &.details-box-complete {
            h3 {
                background-color: #DFF0D8;
                border-color: #D6E9C6;
                color: #468847;
            }
        }

        &.details-box-incomplete {
            h3 {
                background-color: #FCF8E3;
                border-color: #FBEED5;
                color: #C09853;
            }
        }

        .attachment-link {
            display: inline-block;
            padding: 3px 10px;
            background-color: #f9f9f9;
            color: #333;
            border: 1px solid #bbb;
            margin-bottom: 7px;
            .rounded(4px);

            &:hover {
                text-decoration: none;
                border-color: @green;
            }
        }
    }

    .details-table {
        border-top: 1px solid #ddd;
        margin-top: 20px;

        thead {
            th {
                text-align: center;
                font-size: 1.2em;
                background-color: #eee;
            }
        }
    }

    .details-notification-list {
        margin: 10px 0 0 0;
        list-style-type: none;

        li {
            padding: 5px 10px;
            margin-bottom: 3px;
            .rounded(5px);
        }

        .warning-icon {
            display: block;
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background: url("../../img/warning-icon.png") 0 0 no-repeat;
        }

        .error-icon {
            display: block;
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background: url("../../img/error-icon.png") 0 0 no-repeat;
        }
    }

    .user-box {
      font-size: 0.8em;
    }

    .user-box-avatar {
      float: left;
      margin-right: 10px;
      border: 1px solid #ddd;
      width: 33px;
      height: 33px;
    }

    .user-box-name-and-role {
      margin-top: 1px;
    }

    .user-box-name {
      font-weight: bold;
    }

    .user-box-email {
      margin-top: -3px;
    }

  .application-attachment {
    height: 30px;
    margin: 4px;

  }

  .attachment-uploader {
          margin-top: 10px;
      }

    .attachment-list {
        .application-attachment {
            margin-bottom: 10px;
            display: block;

            a {
                &.attachment-download-link {
                    display: block;
                    padding: 7px 10px;
                    background-color: white;
                    border: 1px solid #ddd;
                    .rounded(6px);
                    .box-shadow(0 1px 4px rgba(0,0,0,.065));
                    color: #333;
                    margin-right: 50px;

                    &:hover {
                        border-color: @blueDark;
                        text-decoration: none;
                    }
                }

                &.attachment-delete-link {
                    float: right;
                    width: 16px;
                    margin-top: -32px;
                }
            }

          .attachment-share-link {
               float: right;
               width: 125px;
               margin-top: -32px;
              margin-right: 70px;
          }

        }

    }

    .new-attachment-list {
            .application-attachment {
                margin-bottom: 10px;
                display: block;

                a {
                    &.attachment-download-link {
                        display: block;
                        padding: 7px 10px;
                        background-color: lighten(@blue, 25%);
                        border: 1px solid #ddd;
                        .rounded(6px);
                        .box-shadow(0 1px 4px rgba(0,0,0,.065));
                        color: #333;
                        margin-right: 50px;

                        &:hover {
                            border-color: @blueDark;
                            text-decoration: none;
                        }
                    }

                    &.attachment-delete-link {
                        float: right;
                        width: 16px;
                        margin-top: -32px;
                    }


                }

              &.attachment-share-link {
                   float: right;
                   width: 25px;
                   margin-top: -32px;
               }
            }

        }



  .new-comment-form {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 30px;
  }

    .question-response-view
    {
      min-height: 40px;
      display: block;
        padding: 7px 10px;
        background-color: white;
        border: 1px solid #ddd;
        .rounded(6px);
        .box-shadow(0 1px 4px rgba(0,0,0,.065));
        color: #333;
        margin-right: 50px;

        &:hover {
            border-color: @blueDark;
            text-decoration: none;
        }
        margin-bottom: 10px;;
    }


    /* =========== Tooltips =========== */

    @tooltip-color: #333333;

    .tooltip-inner {
        background-color: @tooltip-color;
        color: #ddd;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: @tooltip-color;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: @tooltip-color;
    }

    .tooltip.left .tooltip-arrow {
        border-left-color: @tooltip-color;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: @tooltip-color;
    }

    .definition {
        color: #0088CC;
    }

    /* =========== Modals =========== */

    .modal-content-centered {
        text-align: center;
        margin: 20px 0 20px 0;
    }
}




.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4 !important;color:#8a1f11 !important;border-color:#fbc2c4 !important;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2 !important;color:#264409 !important;border-color:#c6d880 !important;}
.info {background:#d5edf8 !important;color:#205791 !important;border-color:#92cae4 !important;}
.error a, .alert a {color:#8a1f11 !important;}
.notice a {color:#514721 !important;}
.success a {color:#264409 !important;}
.info a {color:#205791 !important;}



