@import "mixins.less";
@import "constants.less";


.theme-light {
    background: url("../../img/leaf_trans.png") repeat-x fixed #fff;

    h3 {
        color: @header-color;
    }

    .theme-switcher {
        background: url("../../img/lightbulb.png");
    }

    .popover h3 {
        color: #f5f5f5;
    }

    &.ns-external {
        hr {
            &.dark {
                border-color: #eee;
            }
        }

        .landing-container {
            h2 {
                color: @header-color;
            }

            p {
                color: #777777;
            }
        }

        .masthead-logo {
            font-size: 0;
            background: url("../../img/logo-desktop.png") 0 0 no-repeat;
            height: 150px;
            margin-bottom: 20px;
        }

        .masthead-thumbnails {
            .masthead-thumbnail {
                background-color: #ffffff;
                border: 1px solid #cccccc;

                &:hover {
                    border: 1px solid #999;
                    h3 {
                        color: #555;
                    }

                    p {
                        color: #333;
                    }
                }
            }
        }



        /* =========== Tooltips =========== */

        @tooltip-color: #333333;

        .tooltip-inner {
            background-color: @tooltip-color;
            color: #ddd;
        }

        .tooltip.top .tooltip-arrow {
            border-top-color: @tooltip-color;
        }

        .tooltip.right .tooltip-arrow {
            border-right-color: @tooltip-color;
        }

        .tooltip.left .tooltip-arrow {
            border-left-color: @tooltip-color;
        }

        .tooltip.bottom .tooltip-arrow {
            border-bottom-color: @tooltip-color;
        }

        .step-list {
            li {
                .step-marker {
                    background-image: url("../../img/step-marker-sprite.png");
                    color: #ffffff;
                }

                &.complete {
                    .step-marker {
                        background-image: url("../../img/step-marker-sprite.png");
                        color: transparent;
                    }
                }
            }
        }

        .ticket-code {
            color: #333;
        }

        .out-of-office-message {
            color: #333333;
            font-weight: bold;
        }
    }

    &.ns-internal {
        .internal-logo {
            background: url("../../img/logo-small.png") 0 0 no-repeat transparent;
        }

        .tab-container {
            .container-tabs {
                li {
                    a {
                        background-color: @tab-container-well-background;
                        border-color: @tab-container-well-border;
                        border-bottom-color: @internal-container-color;
                    }

                    &.active {
                        a {
                            background-color: @internal-container-color;
                        }
                    }
                }
            }
        }
    }
}
