@import "mixins.less";
@import "constants.less";


.ns-myorganisation {

    .sidebar {
        .organisation-logo {
            margin-bottom: 20px !important;

            h2 {
                color: #333;
                text-align: center;
                background-color: #f0f0f0;
                padding: 10px 20px;
                margin-bottom: 0;
                border-radius: 10px;
                font-size: 20px;
            }
        }


    }

    .org-datum {
        margin-top: 10px;
        font-size: 1.2em;
    }

    .table-myorg {
        td, th {
            border: none;
            background-color: transparent;
        }

        ul {
            margin-left: 15px;
        }
    }


    /* =========== Tree Tables (for org structure) =========== */

    .tree-table {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 1.05em;

        tr {
            &:first-child {
                td, tr {
                    border-top: none;
                }
            }

            td {
                &:first-child {
                    padding-left: 25px;
                    padding-top: 12px;
                }
            }
        }
    }

    .tree-table-empty {
        text-align: center;
        font-style: italic;
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .division-name {
        display: block;
        float: left;
        padding-top: 5px;
        font-size: 1.2em;
    }


    /* =========== KPIs =========== */

    .kpi-table {
        font-size: 1.2em;
        line-height: 1.2em;
        margin-top: 20px;
    }

    .kpi-table td:first-child {
        padding-left: 20px;
    }

    .kpi-status-indicator {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
    }

    .kpi-status-indicator-complete {
        background-color: @green;
    }

    .kpi-status-indicator-partially-complete {
        background-color: @yellow;
    }

    .kpi-status-indicator-incomplete {
        background-color: @red;
    }

    /* =========== Site Form =========== */
    .generating-technology-container {
        .field-horizontal {
            .control-label {
                width: 170px;
            }

            .controls {
                margin-left: 190px;
            }
        }
    }

    /* =========== KPIs Filter ========== */

    .kpi-report-checkboxes {

        .checkbox-container {
            display: inline;
        }

        .btn-checkbox {
        }

        .pseudo-checkbox {
            background: url("../../img/checkbox-sprite.png") 0 0;
            display: block;
            float: left;
            width: 13px;
            height: 13px;
            margin-top: 3px;
            margin-right: 6px;

            &.checked {
                background: url("../../img/checkbox-sprite.png") 13px 0;
            }
        }
    }
    
}
