<div class="container center">
    <i class="mdi-image-brightness-3"></i>
    <a class="btn blue darken-1" href="{% url 'file-log-history' %}">Log History</a> <i class="mdi-image-brightness-3"></i>
    <a class="btn blue darken-2" href="{% url 'start-new-run' %}">Start New Run</a> <i class="mdi-image-brightness-3"></i>
</div>