/*!
 * AFL
 * Copyright 2014-2015 AFL
 */

html {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

.brand-logo {
    background: url("../images/AFL_Logo.png") no-repeat;
    background-size: 90px auto;
    width: 120px;
    vertical-align: middle;
    margin-top: 5px;
}

a {
    color: #90caf9 !important;
}


img.placeholder-image {
    max-width: 350px;
    margin: 4px;
}

ul.footer-nav li {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 0;
}

.small-text {
    font-size: 80%;
}

.form-button {
    margin-top: 20px;
}

#select-application .form-error
{
    margin-left: 15px;
}

ul.form-error {
    margin: 0;
    padding: 0;
    padding-left: 0 !important;
}

.form-error {
    color: #b9151b;
    font-size: 11px;
    padding-left: 15px !important;
}

div.input-field p {
    padding: 2px;
    margin: 0;
}

.account-button {
    cursor: pointer;
}

.form-well {
    padding: 5px;
}

.padded {
    padding: 20px;
}

form.main-form label {
    margin-left: -10px;
}
form.main-form .input-field
{
    padding: 0;
}

.collapsible-header {
    background: url('/static/images/formbg.png') repeat;
}

div.bread-crumb-structure {
    min-width: 300px;
    background: #f5f5f5;
}

.bread-crumb-node {
    background: #f5f5f5;
}

ul.children {
    padding-left: 2px;
    white-space: nowrap;
}

ul.children li {
    display: block;
    padding-left: 2px;
    white-space: nowrap;
    background: #f5f5f5;
}


.file-header {
    background: url('/static/images/formbg.png') repeat;
    display: block;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;
    margin-right: 10px;
}

.file_new_file {
    background: green;
    opacity: 0.1;
    position: relative;
    height: 3em;
    min-width: 140px;
    margin-right: 10px;
}

.file_archived_file {
    background: blue;
    opacity: 0.1;
    position: relative;
    height: 3em;
    min-width: 140px;
    margin-right: 10px;
}

.file_error_file {
    background: red;
    opacity: 0.1;
    position: relative;
    height: 3em;
    min-width: 140px;
    margin-right: 10px;
}

.file_ignored_file {
    background: grey;
    opacity: 0.1;
    position: relative;
    height: 3em;
    min-width: 140px;
    margin-right: 10px;
}

.file-header-folder {
    background: url('/static/images/formbg.png') repeat;
    display: block;
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;
    margin-top: -3em;
    min-width: 140px;
    margin-right: 10px;
}

.file-header i, .file-header-folder i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

footer.page-footer {
    box-shadow: 0 -8px 11px rgba(0, 0, 0, 0.18), 0 -8px 15px rgba(0, 0, 0, 0.15);

}

select.picker__select--month, select.picker__select--year {
    padding: 0;
}

.form-contents {
    background: url('/static/images/formbg.png') repeat;
}

.main-form-home-block-nav {
    height: 90px;
}

a.lighten-3 i {
    color: #000;
}

.main-form-home-block {
    height: 250px;
}

.main-form-home-block:hover, .main-form-home-block-nav:hover {
    cursor: hand;
    background-color: #c5e1a5 !important;
    color: #fff !important;
}

.main-form-home-block:hover i, .main-form-home-block-nav:hover i {
    color: #fff;
}


/*Alerts / Messages*/

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

