body {
  position: relative;
  font-size: 11px;
  line-height: 14px;
  padding-top: 0;
  background: url("../img/bg-tile.png");
}

h5 {
  margin: 0;
  color: #000000;
  line-height: 14px;
  font-size: 10px;
}


.ns-internal h5 {
  margin: 0;
  color: #000000;
  line-height: 20px;
  font-size: 15px;
}

.ns-external .logo-header {
  height: 200px;
  width: 100%;
  background: #67bff8;
  background: -moz-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67bff8), color-stop(100%, #d5edfd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #67bff8 0%, #d5edfd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bff8', endColorstr='#d5edfd', GradientType=0);
  /* IE6-9 */

  border-bottom: 1px solid #5baadf;
}
.ns-external .white-leaves {
  background: url(../img/white-leaves.png) repeat-x;
  height: 200px;
}
.ns-external .blue-leaves-landing-footer {
  margin-top: -35px;
  background: #ffffff url(../img/blue-leaves-landing-footer.png) no-repeat;
  height: 200px;
  padding-top: 35px;
  background-position: top right;
}

.ns-external .logo-header img {
  padding-top: 40px;
  padding-left: 30px;
  height: 150px;
}

.ns-external .login-header {
  font-size: 15px;
  color: #214483;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-left: 100px;
  font-weight: bold;
}
.ns-external .login-label {
  font-size: 12px;
  color: #214483;
}

.ns-external .login-input {
  border: 1px solid #cfcfcf;
  border-left: none;
}


.ns-internal .logo-header {
  height: 200px;
  width: 100%;
  background: #67bff8;
  background: -moz-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67bff8), color-stop(100%, #d5edfd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #67bff8 0%, #d5edfd 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #67bff8 0%, #d5edfd 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bff8', endColorstr='#d5edfd', GradientType=0);
  /* IE6-9 */

  border-bottom: 1px solid #67bff8;
}

.ns-internal h5 {
  margin: 0;
  color: #000000;
  line-height: 20px;
  font-size: 16px;
}
.ns-internal .logo-header img {
  padding-top: 40px;
  padding-left: 30px;
  height: 130px;
}
.ns-internal .white-leaves {
  background: url(../img/white-leaves.png) repeat-x;
  height: 200px;
}
.ns-internal .blue-leaves-landing-footer {
  border-top: 1px solid #67bff8;
  margin-top: -35px;
  background: url(../img/blue-leaves-landing-footer.png) no-repeat;
  height: 200px;
  padding-top: 35px;
}
.ns-internal .section-info {
  padding-top: 10px;
}

.ns-internal .section-info h1 {
  color: #777;
  font-family: HelveticaNeue;
  font-weight: normal;
  margin-top: 10px;
  text-align: right;
}
.ns-internal .section-info .section-info-subtitle {
  color: #666;
  text-align: right;
}
.ns-internal .section-info .section-info-image {
  margin-left: 10px;
  margin-top: 4px;
  padding: 2px;
  border: 1px solid #555;
}
.ns-internal .application-question {
  font-size: 13px;
}

.ns-internal ul.progress-tracker {
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 100%;
}
.ns-internal .progress-tracker li {
  float: left;
  margin-right: 5px;
  padding: 10px 10px;
  background-color: #efefef;
  color: #9a9a9a;
  width: 105px;
  height: 30px;
}
.ns-internal .progress-tracker li.filler {
  float: none;
  overflow: hidden;
  width: auto;
  margin-right: 0;
}
.ns-internal .progress-tracker li.active {
  background-color: #cee7ff;
  /* light blue */

  color: #333;
}
.ns-internal .progress-tracker li.active .progress-tracker-entry-icon {
  opacity: 0.8;
}
.ns-internal .progress-tracker li.progress-tracker-draft-stage,
.ns-internal li.progress-tracker-approved-stage {
  width: 100px;
}
.ns-internal .progress-tracker-entry-icon {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  opacity: 0.40;
}
.ns-internal .progress-tracker-entry-name {
  font-size: 10px;
  display: block;
}
.ns-internal .progress-tracker-entry-description {
  font-weight: bold;
  font-size: 10px;
  white-space: nowrap;
}

.ns-internal .guidance-document {
  position: absolute;
  top: 200px;
  right: 20px;
  text-align: center;
}