/* ========================= */
/* Generic classes           */
/* ========================= */

.bubble-with-author {
  position: relative;
  min-height: 90px;
}

.bubble-author {
  width: 70px;
  height: 70px;
  background-color: #eee;
  padding: 4px;
  position: absolute;
  margin-bottom: 10px;
}

.bubble-left + .bubble-author {
  top: 0;
  left: 0;
}

.bubble-right + .bubble-author {
  top: 0;
  right: 0;
}

.bubble-top {
  margin-top: 15px;
}

.bubble-left {
  margin-left: 15px;
}

.bubble-right {
  margin-right: 15px;
}

.bubble-with-author .bubble-left {
  margin-left: 100px;
}

.bubble-with-author .bubble-right {
  margin-right: 100px;
}


/* ========================= */
/* Speech bubbles            */
/* ========================= */

.speech-bubble {
  position: relative;
  min-height: 20px;
  padding: 10px 19px 10px 19px;
  margin-bottom: 20px;
  background-color: #eee;
  color: #333;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px #ccc;
}

.speech-bubble p:last-of-type {
  margin-bottom: 0px;
}

.speech-bubble:after {
  content:"";
  position:absolute;
  border:15px solid transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* creates the triangle */
.speech-bubble.bubble-top:after {
  top:-30px;
  left:50px;
  border-bottom-color:#eee;
}

/* creates the triangle */
.speech-bubble.bubble-left:after {
  top: 20px;
  left: -30px;
  border-right-color:#eee;
}

/* creates the triangle */
.speech-bubble.bubble-right:after {
  top: 20px;
  right: -30px;
  border-left-color:#eee;
}

.speech-bubble-lead {font-size:28px; line-height:1.25em; font-weight: 300;}


/* ========================= */
/* Action bubbles            */
/* ========================= */

.action-bubble {
  position: relative;
  min-height: 20px;
  padding: 10px 19px 10px 19px;
  margin-bottom: 25px;
  background-color: #ddd;
  color: #333;
  -moz-box-shadow: 2px 2px 2px #bbb;
  -webkit-box-shadow: 2px 2px 2px #bbb;
  box-shadow: 2px 2px 2px #bbb;
}

.action-bubble:after {
  content:"";
  position:absolute;
  border: 3px solid transparent;
}

.action-bubble.bubble-top:after {
  top:-30px;
  left:50px;
  height: 15px;
  border-right-color:#666;
}

.action-bubble.bubble-left:after {
  top: 20px;
  left: -16px;
  width: 25px;
  z-index: -1;
  border-bottom-color:#aaa;
}

.action-bubble.bubble-right:after {
  top: 20px;
  right: -22px;
  width: 10px;
  border-bottom-color:#666;
}