@import "app/mixins.less";
@import "app/constants.less";

body {
    &.fluid {
        width: 1000px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
    }
}

img {
    max-width:100%;
    height: auto;
}

.masthead-logo {
    font-size: 0;
    background: url("../img/logo-tablet.png") 0 0 no-repeat;
    height: 150px;
    margin-bottom: 0px;
}

.page-title {
    float: right;
    margin-top: 78px;
    font-size: 42px;
    color: #555;
    line-height: 0.8em;
}

.incident-summary {
    th {
        width: 270px;
    }

    hr {
        display: none;
    }

    .incident-summary-attachment-link {
        display: block;
        margin-bottom: 10px;

        i {
            display: none;
        }
    }
}

.appendix-title {
    margin-bottom: 40px;
}

.download-link {
    font-size: 0.8em;
    text-align: center;
    margin: 20px 0;
}

.details-box {
    page-break-inside: avoid;
    background-color: white;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 40px;
    .box-shadow(0 1px 4px rgba(0,0,0,.065));
    .rounded(6px);

    h3 {
        font-size: 1.2em;
        text-align: left;
        background-color: #f0f0f0;
        .box-shadow(inset 0 1px 4px rgba(0,0,0,.065));
        .rounded(6px);
        margin-bottom: 4px;
    }

    &.details-box-map {
        h3 {
            margin-bottom: 8px;
        }

        .map-canvas {
            .rounded(6px);
        }
    }

    table {
        margin-bottom: 0;

        tr {
            th {
                border-top: 1px dotted #ddd;
                color: #555555;
                line-height: 28px;
            }

            td {
                border-top: 1px dotted #ddd;
                line-height: 28px;
            }

            &:first-child {
                th, td {
                    border-top: none;
                }
            }
        }
    }

    &.details-box-complete {
        h3 {
            background-color: #DFF0D8;
            border-color: #D6E9C6;
            color: #468847;
        }
    }

    &.details-box-incomplete {
        h3 {
            background-color: #FCF8E3;
            border-color: #FBEED5;
            color: #C09853;
        }
    }
}

.user-box {
}

.user-box-avatar {
  display: none;
}

.user-box-name {
  font-weight: bold;
}

.page-break {
    page-break-after: always;
}

.table-padded {
    th, td {
        padding: 10px 0 10px 0;
        line-height: 1.5em;
    }
}
