//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: @wellBackground;
  border: 1px solid darken(@wellBackground, 15%);
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-large {
  padding: 24px;
  .border-radius(@borderRadiusLarge);
}
.well-small {
  padding: 9px;
  .border-radius(@borderRadiusSmall);
}


// Base class
.level_1_well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: lighten(@yellow, 43%);
  border: 1px solid @yellow;
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Base class
.level_2_well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: lighten(@blue, 29%);
  border: 1px solid @blue;
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}



// Base class
.level_3_well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: lighten(@green, 43%);
  border: 1px solid @green;
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Base class
.level_3plus_well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: lighten(@red, 43%);
  border: 1px solid @red;
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.verifier_well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: lighten(@orange, 24%);
  border: 1px solid @orange;
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}