{% extends "file_move/base.html" %}

{% block title %}File Move{% endblock %}

{% block content %}

    <div class="container">
        <div class="row l12">
            <div class="col s12 m12">
                <h3 class="center blue-text text-darken-4">File Move Program</h3>
            </div>
        </div>
    </div>
    {% include "file_move/includes/nav.html" %}
    <br>

    <div class="container center">

        <table style="width: 100%;">
            <thead>
                <th>ID</th>
                <th>Date/Time Run</th>
                <th>Date/Time Completed</th>
                <th>Status</th>
                <th></th>
            </thead>
                <tbody>
                {% for program in programs %}
                    <tr>
                        <td>
                           {{ program.pk }}
                        </td>
                        <td>
                            {{ program.started|date:"d-M-Y h:i:s" }}
                        </td>
                        <td>
                            {{ program.completed|date:"d-M-Y h:i:s" }}
                        </td>
                        <td>
                            {{ program.status_description }}
                        </td>
                        <td>
                            <a class="btn blue darken-4" href="{% url 'file-log-view' program.pk %}">View Run</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="height: 300px;"><br></div>
{% endblock%}