{% extends "file_move/base.html" %}

{% block title %}File Move{% endblock %}

{% block content %}

    <div class="container">
        <div class="row l12">
            <div class="col s12 m12">
                <h3 class="center blue-text text-darken-4">Log History of All Runs</h3>
            </div>
        </div>
    </div>
    <div class="container center">
        <i class="mdi-image-brightness-3"></i>
        <a class="btn blue" href="{% url 'file-move-home' %}">Home</a> <i class="mdi-image-brightness-3"></i>
        <a class="btn blue darken-1" href="{% url 'file-log-history' %}">Log History</a> <i class="mdi-image-brightness-3"></i>
        <a class="btn blue darken-2" href="{% url 'start-new-run' %}">Start New Run</a> <i class="mdi-image-brightness-3"></i>
    </div>

    <div class="container center">

            <table style="width: 100%;">
                <thead>
                    <th>ID</th>
                    <th>Date/Time Run</th>
                    <th>Date/Time Completed</th>
                    <th>Status</th>
                    <th></th>
                </thead>
                    <tbody>
                    {% for program in programs %}
                        <tr>
                            <td>
                               {{ program.pk }}
                            </td>
                            <td>
                                {{ program.date_run|date:"d-M-Y h:i:s" }}
                            </td>
                            <td>
                                {{ program.program.completed|date:"d-M-Y h:i:s" }}
                            </td>
                            <td>
                                {{ program.program.status_description }}
                            </td>
                            <td>
                                <a class="btn blue darken-4" href="{% url 'file-log-view' program.pk %}">View Run</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <br>
    <div style="height: 300px;"><br></div>
{% endblock%}