{% extends "file_move/base.html" %}

{% block title %}File Move{% endblock %}

{% block content %}

    <div class="container">
        <div class="row l12">
            <div class="col s12 m12">
                <h3 class="center blue-text text-darken-4">Log: {{ file_program_run.pk }} </h3>
            </div>
        </div>
    </div>

    <br>

    <div class="container center">
        <i class="mdi-image-brightness-3"></i>
        <a class="btn blue" href="#">View Latest Run</a> <i class="mdi-image-brightness-3"></i>
        <a class="btn blue darken-1" href="#">Log History</a> <i class="mdi-image-brightness-3"></i>
        <a class="btn blue darken-2" href="#">Start New Run</a> <i class="mdi-image-brightness-3"></i>
    </div>
{% endblock%}