{% extends "file_move/base.html" %}

{% block title %}File Move Log{% endblock %}

{% block content %}
    <link href="/static/css/vendor/materialize/css/materialize.css" rel="stylesheet">

    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <h4 class="header center blue-text text-darken-4">Log Details ({{ file_program_run.pk }})</h4>
                <div class="center">{{ file_program_run.date_run|date:"d-M-Y h:i:s" }}</div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container center">
        <div class="row">
            <div class="col s12 m12">
            <i class="mdi-image-brightness-3"></i>
            <a class="btn blue blue-text" href="/admin/file_move/filemoveprogram/">Home</a> <i class="mdi-image-brightness-3"></i>
            <a class="btn blue blue-text darken-1" href="{% url 'file-log-history' %}">Log History</a> <i class="mdi-image-brightness-3"></i>

            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <a name="top"></a>
            <div class="col s12 m12">
            <ul class="collapsible" data-collapsible="expandable">

                <li>
                    <div class="collapsible-header">
                        <i class="mdi-action-face-unlock"></i>Overall Program Log - [{{ file_program_run.program.status_description }}]
                        <a href="#!" class="secondary-content"><i class="blue-text tiny mdi-content-add-circle-outline"></i></a>
                    </div>
                    <div class="collapsible-body padded">
                        <div class="row">
                            <div class="padded">
                                <table class="responsive-table">
                                    {% for line in file_program_run.program.return_program_log_file %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ line }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </li>

            <li>
                <div class="collapsible-header blue lighten-3" onclick="$('#step-one-mxf').toggle();$('#step-one-ts').toggle();">
                    <i class="mdi-notification-adb"></i>.mxf and .ts file log
                    <a href="#!" class="secondary-content"></a>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="mdi-communication-import-export"></i>High Res .mxf Files &nbsp;&nbsp;&nbsp; [Unmatched: {{ file_program_run.program.get_unmatched_mxf_files_count }}]
                    <a href="#!" class="secondary-content"><i class="blue-text tiny mdi-content-add-circle-outline"></i></a>
                </div>
                <div class="collapsible-body padded" id="step-one-mxf">
                    <div class="row">
                        <div class="padded">
                            <h6 class="blue-text text-darken-4">.mxf Records Found in: <br>{{ file_program_run.program.high_res_file_path_at_run }}</h6>
                            <br><br>
                            {% for file in file_program_run.program.get_unmatched_mxf_files %}
                                {{ file.initial_file }}<br>
                            {% endfor %}<br>

                            {% if file_program_run.program.get_unmatched_mxf_files %}
                                <a href="{% url 'csv-file-unmatched-mxf' file_program_run.pk %}" class="btn blue waves-effect">Download list of unmatched .mxf files</a>
                            {% else %}
                                <em>All .mxf files matched successfully.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="mdi-communication-import-export"></i>Low Res .ts File Log &nbsp;&nbsp;&nbsp;[Unmatched: {{ file_program_run.program.get_unmatched_ts_files_count }}]
                    <a href="#!" class="secondary-content"><i class="blue-text tiny mdi-content-add-circle-outline"></i></a>
                </div>
                <div class="collapsible-body padded" id="step-one-ts">
                    <div class="row">
                        <div class="padded">
                            <h6 class="blue-text text-darken-4">{{ file_program_run.program.initial_file_path_at_run }}</h6>
                            <br><br>
                            {% for file in file_program_run.program.get_unmatched_low_res_ts_files %}
                                {{ file.initial_file }}<br>
                            {% endfor %}
                            <br>

                            {% if file_program_run.program.get_unmatched_low_res_ts_files %}
                                <a href="{% url 'csv-file-unmatched-ts' file_program_run.pk %}" target="_blank" class="btn blue waves-effect">Download list of unmatched .ts files</a>
                            {% else %}
                                <em>All .ts files matched successfully.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header" {% if not file_program_run.program.get_completed_files %}style="background: paleturquoise;" {% else %} style="background: palegreen;"{% endif %}>
                    <i class="mdi-communication-import-export"></i>Files moved successfully [{{ file_program_run.program.get_completed_files_count }}]
                    <a href="#!" class="secondary-content"><i class="blue-text tiny mdi-content-add-circle-outline"></i></a>
                </div>
                <div class="collapsible-body padded" id="step-one-ts">
                    <div class="row">
                        <div class="padded">

                            {% for file in file_program_run.program.get_completed_files %}
                                {{ file.initial_file }}<br>
                            {% endfor %}
                            <br>

                            {% if file_program_run.program.get_completed_files %}
                                <a href="{% url 'csv-file-completed' file_program_run.pk %}" target="_blank" class="btn blue waves-effect">Download list of completed files</a>
                            {% else %}
                                <em>Error: There were no files moved.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    <a href="#top" class="blue-text">Back to top</a>
    </div>

    <br><br><br><br>
{% endblock %}