{% extends "file_move/base.html" %}

{% block title %}File Move{% endblock %}

{% block content %}

    <div class="container">
        <div class="row l12">
            <div class="col s12 m12">
                <h3 class="center blue-text text-darken-4">Start New Run</h3>
            </div>
        </div>
    </div>
    <div class="container center">
        <i class="mdi-image-brightness-3"></i>
        <a class="btn blue" href="{% url 'file-move-home' %}">Home</a> <i class="mdi-image-brightness-3"></i>
        <a class="btn blue darken-1" href="{% url 'file-log-history' %}">Log History</a> <i class="mdi-image-brightness-3"></i>
    </div>

    <div class="container center">
        <br><br>
        <button class="btn black darken-2" id="submit-run">Start New Run</button>
        <img src="{{ STATIC_URL }}images/loading.gif" id="loading" style="display: none;">

        <input type="hidden" id="running-program" value="stopped">
        <input type="hidden" id="running-program-id" value="">
    <br>
    <div style="height: 300px;"><br></div>

    <script type="text/javascript">

        $('#submit-run').click(function() { // catch the form's submit event
            $("#submit-run").text('Loading');
                $.ajax({ // create an AJAX call...
                  data: $(this).serialize(), // get the form data
                  type: $(this).attr('method'), // GET or POST
                  url: '/file/move/start_running/', // the file to call
                  success: function(response) {
                        $("#loading").toggle();


                        if (!response.content){
                            $("#submit-run").text('Reset').delay( 800 );
                            alert("Your comment could not be entered. Please try again later.");
                            return;
                        }

                  }
              });
              return false;
            });

        function fragments() {
             ajaxGet('/fragments-view-url', function(content){
                 alert('The fragments was processed successfully!');
             });
         }
    </script>
{% endblock%}