{% extends "base.html" %}

{% load url from future %}

{% block body_classes %}{{ block.super }} ns-internal{% endblock %}

{% block body_content %}
	<div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	              		<i class="icon-user"></i> {{ request.user }}
	              		<span class="caret"></span>
	            	</a>
	            	<ul class="dropdown-menu">
                        {% if request.user.is_staff %}
                            <li><a href="/admin/" target="_blank">Admin</a></li>
                        {% endif %}
                        <li class="divider"></li>
	              		<li><a href="{% url 'logout' %}" class="">Sign Out</a></li>
                    </ul>
	            </div>
                <div class="pull-left">
                    <ul class="nav">
                        <li><a href="/catalogue/display/">SDNA File Archive and Catalogue</a></li>
                    </ul>
                </div>
            </div>
    	</div>
    </div>


    <div class="ns-internal landing-container"></div>

    <div class="pull-right" style="margin-right: 10px; padding: 5px;">
        {% block section_info_title %}{% endblock %}
        {% block section_info_subtitle %}{% endblock %}
    </div>

    {% block subnav %}{% endblock %}


	<div class="internal-container internal-content">
		{% block breadcrumbs %}{% endblock %}
		{% block content %}{% endblock %}
    </div>

    <br/><br/><br/><br/><br/><br/>


{% endblock %}
