<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

        <title>AFL</title>
        <meta name="viewport" content="width=1024">

        <link href="{{ STATIC_URL }}common/css/bubbles.css?{{ GIT_REVISION }}" rel="stylesheet">
        <link href="{{ STATIC_URL }}common/css/bootstrap.css?{{ GIT_REVISION }}" rel="stylesheet">
        <link href="{{ STATIC_URL }}common/css/font-awesome.min.css?{{ GIT_REVISION }}" rel="stylesheet">

        <link rel="stylesheet" href="{{ STATIC_URL }}common/css/app/app.css?{{ GIT_REVISION }}" type="text/css" />

        <!-- JQuery JS  -->
        <script src="{{ STATIC_URL}}common/js/jquery-2.1.4.min.js"></script>
        <script src="{{ STATIC_URL}}common/js/jquery-ui.js"></script>

        <script src="{{ STATIC_URL}}common/js/jquery.placeholder.min.js?{{ GIT_REVISION }}" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}common/js/jquery.floatingmessage.js?{{ GIT_REVISION }}"></script>


        {% block extra_head_js %}{% endblock %}

    </head>

    <body class="theme-light {% block body_classes %}dark-tile{% endblock %}">
        {% if messages %}
            {% for message in messages %}
                <script type="text/javascript">
                    $(document).ready(function(){
                        $.floatingMessage("{{ message }}",{
                            position:'bottom-right',
                            time:2500,
                            className:'{{ message.tags }}'
                        });
                    });
                </script>
            {% endfor %}
        {% endif %}

        {% block body_content %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">

                        {% if request.user.is_authenticated %}
                            <div class="btn-group pull-right">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-user"></i> {{ request.user }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li><a href="{% url 'logout' %}" class="">Sign Out</a></li>

                                </ul>
                            </div>
                        {% endif %}

                        <ul class="navbar">
                            {% block nav %}{% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container {% block container_attrs %}container-left{% endblock %}">
                {% block content %}{% endblock %}
            </div>

        {% endblock %}
    </body>

    <script src="{{ STATIC_URL }}common/js/bootstrap.js?{{ GIT_REVISION }}"></script>


    {% block extra_js %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</html>
