{% extends "base.html" %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block main_nav %}
    {% include "includes/nav.html" with url_link="home" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row l12">
            <div class="col s12 m7">
                <h4 class="header center green-text text-darken-4">Simple Rebate Claims</h4>
                <div class="row center">
                    <span class="header col s12 light">
                        Claim your rebate for energy efficient appliances through the Victorian Government
                        Energy Efficiency Target Scheme HERE
                    </span>
                </div>
                <div class="row center">
                    <a href="#" id="download-button" class="btn-large waves-effect waves-light green">How it works</a>
                </div>
            </div>
            <div class="col s12 m5">
                <img src="{{ STATIC_URL }}images/light-bulb-plant.jpg" class="placeholder-image">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <form class="col s12" action method="post" id="select-application">
                {% csrf_token %}

                <div class="row">
                    <h4 class="header center green-text text-darken-4">It only takes a few minutes...</h4>
                    <div class="col s12 m3 offset-m2">
                        <div class="icon-block">
                            <h6>1. Choose the installation type</h6>
                            <div class="row">
                                {% include "includes/fields/radio.html" with field=application_form.installation_type %}
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m2">
                        <div class="icon-block">
                            <h6>2. Choose the product</h6>
                            <div class="row">
                                {% include "includes/fields/radio.html" with field=application_form.product_type %}
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block center">
                            <h6>3. Fill out application form</h6>
                            <div class="row">
                                <br>
                                <a href="#!" class="btn waves-effect waves-light green" onclick="$('#select-application').submit();">Go!</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <h4 class="header center green-text text-darken-4">How it works</h4>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center green-text"><i class="mdi-action-add-shopping-cart"></i></h2>
                        <h6 class="center">Purchase an Energy Efficient Product</h6>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center green-text"><i class="mdi-action-assignment"></i></h2>
                        <h6 class="center">Fill out our form and upload your receipt</h6>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center green-text"><i class="mdi-av-loop"></i></h2>
                        <h6 class="center">We calculate your rebate and process your application</h6>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <h2 class="center green-text"><i class="mdi-action-face-unlock"></i></h2>
                        <h6 class="center">Cha-ching! We transfer the cash directly to you</h6>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}