<div style="background: palegoldenrod; padding: 5px; padding-left: 15px;">
    <br>
        {% if bucket.folders.all %}
            <h4>Selected folders:</h4>
            <div class="container">
                <table>
                    {% for folder in bucket.folders.all %}
                        <tr id="folder_{{ folder.pk }}">
                            <td style="width: 500px;">
                                <i class="icon-folder-close"></i> &nbsp; {{ folder }}
                            </td>
                            <td>
                                <i class="icon-trash" style="cursor: pointer;" onclick="remove_folder_from_bucket({{ folder.pk }});"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}


        {% if bucket.avid_projects.all %}
            <br>
            <h4>Selected Avid Projects:</h4>
            <div class="container">
                <table>
                    {% for folder in bucket.avid_projects.all %}
                        <tr id="avid_folder_{{ folder.pk }}">
                            <td style="width: 500px;">
                                <i class="icon-folder-close"></i> &nbsp; {{ folder }}
                            </td>
                            <td>
                                <i class="icon-trash" style="cursor: pointer;" onclick="remove_project_from_bucket({{ folder.pk }});"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <br>
        {% if bucket.file_logs.all %}
            <h4>Individually selected files:</h4>
            <div class="container">
                <table class="stripes">
                    {% for file in bucket.file_logs.all %}
                        <tr id="file_{{ file.pk }}">
                            <td style="width: 500px;">
                                <i class="icon-file-alt"></i> &nbsp; {{ file }}
                            </td>
                            <td>
                                <i class="icon-trash" style="cursor: pointer;" onclick="remove_file_from_bucket({{ file.pk }})"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}



        {% if bucket.file_logs.all or bucket.avid_projects.all  or bucket.folders.all %}
            <br>
            <span id="loading-gif-container"></span>
            <div class="container" id="create-file-container">
                <span>
                    <button id="create-dmp-file" class="btn btn-small">
                        Create .dmp file
                    </button>

                    <a id="clear-bucket" onclick="clear_bucket();" href="#" class="btn btn-danger btn-small" style="margin-left: 240px;">
                        Clear bucket
                    </a>
                </span>
            </div>
        {% endif %}
    <br>
</div>

<script>
    $(document).ready(function() {
        $("#create-dmp-file").click(function() {
            $("#loading-gif-container").html("<img src='/static/common/img/loading.gif' style='width:30px; height: 30px;'>");
            $("#create-file-container").hide();
        });
    });

</script>