{% load mptt_tags %}
<a name="top"></a>
<div class="bread-crumb-structure" style="font-size: 11px;">
    <div class="nav nav-list directory-tree">
        <ul class="nav">

            {% recursetree nodes %}

                <li class="{% ifequal node_id node.pk %}{{ node.get_active_node }} folder-colouring-active{% endifequal %}" id="node_list_{{ node.pk }}">

                    <a href="{% url 'catalogue-display-folder' node.pk %}">

                        {% ifequal node_id node.pk %}
                            <i class="icon-folder-open" style="color: navy; margin-left: 2px;"></i>
                        {% else %}
                            <i class="icon-folder-close"></i>
                        {% endifequal %}

                        {{ node.name }}

                        <span class="pull-right">
                            [{{ node.get_file_count }}]

                            {% ifequal node_id node.pk %}
                                <i class="icon-chevron-down icon-grey" style="color: navy;"></i>
                            {% else %}
                                {% if not node.is_leaf_node %}
                                    <i class="icon-plus icon-grey"></i>
                                {% endif %}
                            {% endifequal %}
                        </span>
                    </a>

                    {% if not node.is_leaf_node %}
                        <ul class="children nav nav-list" style="margin-left: 15px;">
                            {{ children }}
                        </ul>
                    {% endif %}

                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>
<a href="#top" class="btn">Back to Top</a>