    {% load show_file_contents %}

    {% if selected_node.get_file_count %}
        <img src='/static/common/img/loading.gif' class="pull-right" id="loading-gif" style="display: none; width:30px; height: 30px;">
        <div class="container padded">
            {% for item in all_node_files %}

                <div class="row" style="width: 620px !important; margin-bottom: 3px;">
                    <div class="col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" id="checkbox_{{ item.pk }}" class="check_{{ item.status }} check-magic-file" name="_selected_file" value="{{ item.pk }}">
                            </span>
                            <span class="input-group-addon btn {{ item.get_file_colour }}" style="width: 420px;" onclick="$('#file_data_{{ item.pk }}').toggle();$('#checkbox_{{ item.pk }}').attr('checked', 'checked');">
                                <span class="pull-left">{{ item.name }}</span>
                                {% if item.archive_file %}
                                    <a href="{{ item.archive_file.url }}" target="_blank" class="pull-right">
                                        <span style="font-size: 10px; font-weight: normal; color: #050505; text-shadow: none;">
                                            {{ item.archive_file|cut:"archive_files/" }}
                                        </span></a>
                                {% endif %}
                                <span class="pull-right">
                                    <i class="icon-plus"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" style="display: none;" id="file_data_{{ item.pk }}">
                    <table class="table table-striped" style="margin-left: 20px; width: 50%; font-size: 12px;">
                        <tr>
                                <td>
                                    File
                                </td>
                                <td>
                                    {{ item.name }}
                                </td>
                            </tr>
                        <tr>
                            <td>
                                Clip ID
                            </td>
                            <td>
                                {{ item.clip_id }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Tape ID
                            </td>
                            <td>
                                {{ item.tape_id }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Location
                            </td>
                            <td style="font-size: 10px; word-wrap: break-word; max-width: 300px;">
                                {{ item.full_path_text }}
                            </td>
                        </tr>
                        <tr>
                            <td>Notes</td>
                            <td>
                                {{ item.archiving_notes }}
                            </td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                {{ item.get_status_display }}
                            </td>
                        </tr>

                        <tr>
                            <td><a onclick="$('#show_file_{{ item.pk }}').toggle();" style="cursor:pointer;"> Show file contents <i class="icon-file"></i></a></td>
                            <td style="max-width: 400px; word-break: break-all">
                                <div id="show_file_{{ item.pk }}" style="display: none;">
                                {{ item|show_file_contents:item }}
                                </div>
                            </td>
                        </tr>

                        {% if evs_logs %}
                            <form id="evs_form_{{ item.pk }}" method="get" action>
                                <input type="hidden" name="item_id" value="{{ item.pk }}">
                                <tr>
                                    <td><h3>File Details For Processing</h3>
                                        <div>
                                            <div>
                                                {{ item.get_file_update_form.as_p }}
                                            </div>
                                        </div>

                                        <br>
                                        <a class="btn btn-default save-button" id="{{ item.pk }}">Save</a><br>
                                        <span id="save-message-{{ item.pk }}"></span>
                                    </td>
                                </tr>
                            </form>
                        {% endif %}
                    </table>

                </div>
            {% endfor %}
        </div>
    {% endif %}



    <script>
        $().ready(function() {
            $(".save-button").click(function() {
                var value = $(this).attr('id');

                jQuery.ajax({
                    type: "GET",
                    url: "/save_evs_log/"+ value,
                    data: {
                        'commentators': $("#id_commentators_"+value).val().toString(),
                        'umpires': $("#id_umpires_"+value).val().toString(),
                        'weather': $("#id_weather_"+value).val().toString(),
                        'ready_for_processing': $("#id_ready_for_processing_"+value).val()
                    },
                    success: function (data) {
                          $("#save-message-"+value).text('Details Saved.').highlight();
                    }

                });
            });
        })
    </script>
