{% load mptt_tags %}

<div class="bread-crumb-structure">
    <ul class="nav nav-list">
        {% recursetree nodes %}
            <li class="bread-crumb-node {% ifequal node_id node.pk %}active{% endifequal %}" id="node_list_{{ node.pk }}">

                <a href="{% url 'catalogue-display-folder-evs' node.pk %}">
                    {{ node.name }}

                    {% ifequal node_id node.pk %}
                        <i class="icon-caret-down icon-grey pull-right"></i>
                    {% else %}
                        <i class="icon-chevron-right icon-grey pull-right"></i>
                    {% endifequal %}


                    <span class="pull-right folder_{{ node.get_folder_class }}">
                        [{{ node.get_file_count }}]
                    </span>
                </a>

                {% if not node.is_leaf_node %}
                    <ul class="children nav nav-list" style="margin-left: 15px;">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>