{% for node in children %}
    <li class="node_list" id="node_list_{{ node.pk }}" onclick="get_folder_children({{ node.pk }});" style="cursor: pointer; margin-bottom: 1px; width:220px; margin-left: 5px;">
        <i id="folder-display-{{ node.pk }}" class="icon-folder-close"></i>
        {{ node.name }}

        <span class="pull-right">
            [Files: {{ node.get_file_count }}]
            <i id="folder-children-{{ node.pk }}" class="icon-plus icon-grey"></i>
        </span>
        <div id="children-node-{{ node.pk }}"></div>
    </li>
{% endfor %}
