{% load mptt_tags %}
<a name="top"></a>
<div class="bread-crumb-structure" style="font-size: 11px;" id="menu-container">
    <div class="nav nav-list directory-tree">
        <ul class="nav">
            {% for node in nodes %}
                <li class="node_list btn btn-small" id="node_list_{{ node.pk }}" onclick="get_folder_children({{ node.pk }});">
                    <i id="folder-display-{{ node.pk }}" class="icon-plus"></i>
                    {{ node.name }}
                </li>

                <div id="children-node-{{ node.pk }}"></div>
            {% endfor %}
        </ul>
    </div>
</div>
<a href="#top" class="btn">Back to Top</a>