<form id="create-files" action method="post">
    {% csrf_token %}

    <div class="container" style="font-size: 12px; margin-left: 20px;">
        <div class="row btn-warning btn" style="cursor: pointer; width: 350px;" onclick="$('#bucket-container').toggle();">
            <span class="pull-left">Current bucket</span>
            <i class="icon-plus pull-right"></i>
        </div>

        <div class="row" id="bucket-container" style="display: none; max-width: 690px;">
            {% include "catalogue_display/includes/bucket.html" %}
        </div>
    </div>

    <br><br>

    {% if not evs_logs %}
    <div id="folder-status">
        <select class="pull-right" id="select-folder-options" style="width: 300px;">
            <option value="select-folder-option">Folder Options ----- </option>
            <option></option>
            <option value="add_folder">Add Folder to Bucket</option>
            <option></option>
            <option value="add_avid_folder">Add Folder as Avid Project to Bucket</option>
            <option></option>
            <option value="mark_complete">Mark Folder Complete</option>
        </select>

        <input type="hidden" name="select-folder" id="selected-folder">
        <br><br>
    </div>
    {% endif %}


    <div class="form-tab-content" id="display-files">
        <div id="file-count" class="pull-right" style="font-size: 10px; margin-top: -20px;"></div>
        <div id="folder-name" class="folder-name"></div>

        {% if not evs_logs %}
            <div id="file-button-group" style="display: none;">
                <button type="button" id="check_all" class="btn btn-default">Check All</button>
                <button type="button" id="check_all_hide" class="btn btn-default" style="display: none;">Check All</button>
                <a href="#" id="add-files-to-bucket" class="btn btn-primary pull-right" onclick="add_files_to_bucket();">Add files to Bucket</a>
            </div>
            <br><br>
        {% endif %}

        <div id="display-node-files"></div>
    </div>

</form>
